[2015-05-12 20:48] bonebox commented on #1681
I changed the last line of the libtorrent Makefile to point to `../python/work-armadaxp-5.1/python-cc.mk` and was able to continue.  I had several build failures that I worked through, and managed to build libtorrent successfully and made it most of the way through the deluge make, but now it is failing with a lot of `stripping lib/<library>.so ... failed!` errors.  There is no `lib` subdirectory

[2015-05-12 20:58] bonebox commented on #1681
Also a lot of `stripping bin/<file> ... failed!` errors.  It appears the files it's looking for are in `spk/deluge/work/staging` and also in `spoke/deluge/install/usr/local/deluge`.  Is there a way to point it to the correct path, and which one is the correct one?

[2015-05-12 21:45] bonebox commented on #1681
Also getting this error:
[code]
 Doesn't appear it's expanding the path properly.

[2015-05-13 03:47] bonebox commented on #1681
Well, after a lot of hair-pulling, I have Deluge running successfully on my DS414.  I couldn't get it installed as a package (it couldn't find libtorrent therefore said it wasn't available on my architecture, lots of incorrect paths, other problems), but I uploaded the tarball and was able to get it set up manually after some additional installations, path changes, etc.

[2015-05-13 08:59] hitechbeijing commented on #1681
Hi, I have try to make the libtorrent as your setting, but it has some problem in make boost. But, it have a good news this afternoon(in my time zone), Synology has publish DSM 5.2 and it also publish a package which named python module,  so we could install deluge in Synology NAS success. Now, the problem is the deluge package could not start, am try to work for the start-stop script. If any news

[2015-05-13 09:23] Diaoul commented on #1681
I'll take a look into deluge this week.

[2015-05-13 13:37] bonebox commented on #1681
@hitechbeijing Yeah, one of the failures I had was with boost.  I resolved it by manually editing the `user-config.jam` file and updating the `using python` line to point to the correct python binary and libs.

The package stuff is pretty broken, I found.  One of the reasons it won't start is because it references `start-stop-daemon` which isn't part of a standard Synology build.  It looks like th

[2015-05-13 13:48] Diaoul commented on #1681
@bonebox: start-stop-status is provided by busybox when building the package. Deluge worked quite well when initially released but wasn't pushed further because libtorrent wouldn't compile on most arches (ppc & some arm) due to old compiler versions and I didn't want to introduce multiple versions of python (one with libtorrent, the other without) for users.

If you do some manual install and grab

[2015-05-13 14:05] bonebox commented on #1681
I'm not blaming the packaging per se, but bottom line is it won't install on my Syno if I don't already have libtorrent installed.  There are certainly build issues.

[2015-05-13 14:25] M0UL commented on #1441
as a sonarr user this would be great

[2015-05-13 14:55] MrOnyx opened #1686 "dvbapi"
OSCam: 1.20 Build: r10660 install on Synlogy DS1812+ 5.2-5565
Problem with dvbapi
(dvbapi) ERROR: Can't open device /dev/dvb/adapter0/demux0 (errno=6 No such device or address)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/14665039-dvbapi?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github)** We acc

[2015-05-13 20:35] bob123bob commented on #1478
@Jumbotroll can you update packages on your repository for all architecture (cedarview in my case). Many people are using your repository and waiting for PR here. Very good job all @Decipher @gkroone

[2015-05-13 21:42] mvveelen commented on #1478
Jumbo troll is first (going) on a well deserved vacation and told me he is going to update all packages once in a while, when there are interesting updates AND he has the time for it. Just be patient and everything will be OK :)

Oh, and the latest package is working on DSM 5.2 on my DS414, so that's good to know.

[2015-05-14 10:53] Dr-Bean commented on #1686
We don't actively maintain or publish packages for OSCam.
As a suggestion: It seems you changed the OSCam version, and then built a package? Then revert those changes and try again.

[2015-05-14 12:03] Jumbotroll commented on #1478
Vacation has started, but I did some work before I leave my computer :-)
Not tested!
http://jadahl.dscloud.me/sspks/packages/domoticz_armadaxp-5.1_2.0.2436-16.spk
http://jadahl.dscloud.me/sspks/packages/domoticz_cedarview-5.1_2.0.2436-16.spk
http://jadahl.dscloud.me/sspks/packages/domoticz_x86-5.1_2.0.2436-16.spk
http://jadahl.dscloud.me/sspks/packages/domoticz_armada370-5.1_2.0.2436-16.spk
http:/

[2015-05-14 14:19] jorikcaljouw commented on #1478
All packages I have tried so far on my DS411+II (x86) that is running DSM 5.2, give the following error and cp210x drivers cannot be used (from dmesg output):
cp210x: version magic '3.2.40 SMP mod_unload ' should be '3.10.35 SMP mod_unload '

As such z-wave does not work for me now.

I can try to rebuild for 5.2, but I was wondering if somebody knows if it should be possible to have driver modules

[2015-05-14 14:23] ThinkPadNL commented on #1478
Yep, same here. Updated through package center on my DS114 (armada370) with DSM 5.1 (haven't updated yet) but i can't select my Aeon labs stick anymore from the Setup > Hardware dropdown in Domoticz. Seems that openzwave isn't compiled? The USB seems to be recognized in Domoticz, so in my case it isn't a driver problem like jorikcaljouw i think.

But be warned if you rely on Z-Wave. Fortunately i

[2015-05-14 14:27] jorikcaljouw commented on #1478
It seems that Jumbotroll's 2405 package has z-wave support, but 2436 does not. This appears to be a separate issue from the cp210x and pl2303 drivers not working on DSM 5.2.
I expect the driver issue is because of a kernel update. DSM 5.2 seems to run 3.10.35 on my x86 model.

[2015-05-14 14:50] jorikcaljouw commented on #1478
As a temporary workaround you can use 2405 and for DSM 5.2, you can copy the cp210x.ko and pl2303.ko from http://forum.synology.com/enu/viewtopic.php?f=155&t=82843&start=300#p378761 to /var/packages/domoticz/target/modules/
After restarting the package, Z-Wave is working again for me on DSM 5.2

[2015-05-14 22:23] gkroone commented on #1478
not sure what source is used for Jumbotroll's  version 2.0.2436, but I noticed domoticz upstream package has switched to openzwave security branch from 2423 upwards. I started a new fork named libudev for trying to compile the openzwave code that comes with domoticz. I managed to compile libudev and domoticz compiles without depending on cross/openzwave, The patches for domoticz related to openzwa

[2015-05-14 23:09] gkroone commented on #1478
I'm still working on the PR, for which I commited some new changes. This code contains scripts to move some directories into ${INSTALL_DIR}/var and will probably bump to version 2422 while at it. Also when you installed an SPK based on my code and move to use later versions, you should remove file /lib/udev/rules/50-usbttyacm.rules as this filename has changed in newer code versions. leaving it th

[2015-05-14 23:16] gkroone commented on #1478
Note that upgrading to my latest updates to the openzwave branch may cause issues when upgrading to an spk built from the libudev branch afterwards, as the changes for the move of approot to ${INSTALL_DIR}/var has not been merged into the libudev branch. When switching between these branches, be sure to backup the scripts, Config and backups directories and manually place them back, or just do a f

[2015-05-15 14:04] cytec commented on #1388
Seems like my previous post won't work :(
but an alternative may be when setting up the toolchain we can link the compiler to ccache and add the TC_PATH to the users PATH...

[2015-05-15 22:21] gitsf commented on #1575
Did something else cause it to break again?
I had this problem a few months ago when it first surfaced and it was working fine after creating the symlink.
Now I have just recently installed a bunch of synology package updates(dont remember what they all were(not sab or SB)) along with DSM 5.2-5565
I am back to getting the following error when SAB tries to call Sickbeard for postprocessing.
Unable

[2015-05-16 01:08] llhoir opened #1688 "Mediainfo 0.7.73"
Current version gives problem when exported to XML (see http://sourceforge.net/p/mediainfo/bugs/886/)

[2015-05-16 01:10] llhoir commented on #1688
Current version gives problem when exported to XML (see http://sourceforge.net/p/mediainfo/bugs/886/)

[2015-05-16 05:30] hagabla opened #1689 "Updating CouchPotato Server required package Git, no package Git available though"
When updating Couchpotato i get the following message:
"Please install the following package(s) before installing this package:
Git

Unfortunately there is no package Called "Git" in the repository.

[2015-05-16 09:28] Dr-Bean commented on #1689
Sure there is: https://synocommunity.com/package/git
If you're using the search bar in Package Center, then use the drop-down arrow to select `Community`. Otherwise, just select the `Community` link in the left menu and scroll down a bit.

If the Git package doesn't show up, try the `Refresh` button. Note that it's not instantaneous, so it might take a bit before packages show up.

[2015-05-16 09:32] Dr-Bean commented on #1688
Changed the title a bit, because the current version is 0.7.72

[2015-05-16 09:36] hagabla commented on #1689
Thanks!
Using the search bar (all) does not work.(weird)
Found it as you described, all good now.

[2015-05-16 09:36] #1689 closed

[2015-05-16 09:38] Dr-Bean commented on #1689
That `all` just means it searches all Synology packages, but it excludes third-party packages. You could report it to Synology, maybe it'll get fixed ;)

[2015-05-16 12:41] greeneka opened #1690 "Redis fails to run"
Hi,

I have a DS415Play and have installed the Redis package, but it refuses to start.

Clicking "View Log" on the package center gives "No Data" and looking in /var/log/synopkg.log shows:
start redis: begin to start version 2.8.13-3
start redis: start version 2.8.13-3 successfully, result 0

Any help/pointers much appreciated!

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty o

[2015-05-17 07:15] connke opened #1691 "Couchpotato"
Hello,

I couldn't see any reported issue for this so I thought I'd report it just in case.

The SynoCommunity CouchPotato version c295b344 is not allowing CP to get movies from Trakt Watch list.

**LOGS:**

    05-17 10:55:03ERROR[hpotato.core.plugins.base] Failed opening url in Trakt: https://api-
    v2launch.trakt.tv/sync/last_activities Traceback (most recent call last): HTTPError: 422
    Cl

[2015-05-17 08:48] cosades commented on #1561
I have now Subliminal 0.7.5-12 (Beta) (since auto-update) with Python 2.7.9-13, installed on a Synology DS214Play.
I have this error in log at each scan :
CRITICAL:root:Scan failed: This region is already configured with backend: <dogpile.cache.backends.file.DBMBackend object at 0xb6510eec>

Uninstall / Reinstall Subliminal 0.7.5-12 : works fine.

[2015-05-17 08:52] yulbeast commented on #1561
Got the same error, it fixes when you restart the service, but appears
again eventually

El dom, 17 de mayo de 2015 10:48, cosades <notifications@github.com>
escribió:

[2015-05-17 08:54] G1zm0 commented on #1561
This error has been mentioned serveral times above, with an explanation:

i quote:
"the scan failure is because the set of videos has already been scanned (those are cached) and it stops multiple requests going out for the same set of files in a short span of time (preventing hammering of providers).
Normal usage of Subliminal (scanning once every 24h) does not cause this behavior, because the cac

[2015-05-17 09:01] cosades commented on #1561
I have had a large amount of new video in the same folder of already scanned videos.
The scan task of my Subliminal package is set to "once every 24h" at 8AM to be precise.
I've got the problem every day and Subliminal didn't find any subtitles for all my videos anymore.

[2015-05-17 09:10] G1zm0 commented on #1561
Hmmm, that should not happen..
I recommend submitting an issue at the original repository of subliminal. Not here, were they only package it for Synology.

https://github.com/Diaoul/subliminal

[2015-05-17 09:12] Dr-Bean commented on #1561
https://github.com/SynoCommunity/spksrc/issues/1561#issuecomment-98698994

[2015-05-17 09:14] G1zm0 commented on #1561
I stand corrected :smile:

[2015-05-17 12:18] rednoah opened #1692 "Node.js is broken on armada370"
[code]
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/15446792-node-js-is-broken-on-armada370?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github)

[2015-05-17 12:52] cosades commented on #1561
If I only restart Subliminal package, it works (as Dr-Bean said, it could be a problem with the cache implementation). Closed. I'll check Subliminal repository.

[2015-05-17 20:26] Oleekae commented on #1412
what code need to write on **rtorrent.rc** to save the upload / download stafs?  My stats is lost every time I restart the rtorrent service, how can I fix this? TIA folks

[2015-05-18 07:05] joefrancois opened #1693 "Problem compiling OpenIPMI for Zabbix on Cedarview architecture"
Hello,

I can figure out how to pass the compilation error for OpenIPMI for the Zabbix package. I have a VirtualBox running Debian 8 32bit.

Please let me know if you need more detail.

Thank you.

Here is the error I get.

make[6]: Entering directory '/home/joe/spksrc/spk/zabbix/work-cedarview/OpenIPMI-2.0.21/unix'
/bin/bash ../libtool  --tag=CC   --mode=link /home/joe/spksrc/toolchains/syno-ceda

[2015-05-18 17:08] cosades opened #1697 "[Subliminal 0.7.5-12 Beta] Encoding bug"
Hi,

On my Synology DS214Play (DSM 5.2-5565), some subtitles are written with bad encoding.

For example, in French --> The.Shawshank.Redemption.1994.720p.BluRay.x264-SiNNERS.srt.

1) Download from Subliminal with OpenSubtitles provider --> ANSI as UTF8 (said by NotePad++)
2) Direct download from OpenSubtitles --> ANSI (said by NotePad++)

Differences (hex) :

GOOD ENCODING (direct dl from OpenSub

[2015-05-18 17:29] cytec opened #1698 "ImageMagick support for Fonts"
currently there are no fonts included at all (ghostscript default fonts etc) should change that and maybe also include a `var` dir to place custom fonts/configs in...
https://www.ict.griffith.edu.au/anthony/info/graphics/imagemagick.hints
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/15733086-imagemagick-support-for-fonts?utm_campai

[2015-05-18 17:36] crazyscow commented on #1011
@NickPyz
In your previous posts you wrote that you weren't able to upgrade via the GUI, what did you change in order to upgrade to v0.11.xx?
since nobody else wrote here i guess i'm the only one that can't upgrade. Actually im more curious to know if its any better then v0.10 because otherwise i dont really mind.

thanks

[2015-05-19 12:55] voltige commented on #1674
With current syncthing 0.11.5, synchonisation no longer performs with older versions. By cons, it works perfectly between current versions.

Please update it.

I also love a full and accurate tutorial to go from source code to a .spk

[2015-05-19 14:34] Amelandbor opened #1700 "Python v2.7.9 for DSM 4.2"
Still on a DS409 here which won't get an update to DSM 5. Is it possible to get the newest Python for this? A lot of SSL errors in CP because of this older python version.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/15948008-python-v2-7-9-for-dsm-4-2?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=gi

[2015-05-19 14:50] NickPyz commented on #1011
@crazyscow

Sorry if I confused ... the upgrade via the GUI was trouble-free. There was an "upgrade" button in v0.10.30 which took me to v0.10.31. After the restart, another "upgrade" button appeared, which took me to v0.11.2. Since then, I have upgraded again. At the present time I have v0.11.5 on my Synology.

If all your devices are at v0.10.x - then you are probably ok. However, keep in mind t

[2015-05-19 15:02] cytec commented on #1700
well if it's not in the repo you can always compile it yourself ;)

[2015-05-19 15:48] DrSeussFreak opened #1701 "Mylar causes login issues after a few days, reboot is only solution"
So recently I have had an issue on my DS412+ where it no longer allowed me to login with or without 2-factor authentication, it stopped responding via network shares and download manager ONLY works immediately after a reboot.

After troubleshooting with Synology, it was determined, with my satisfaction, that Mylar is the issue, and as soon as I uninstall it, all is well for all of the issues liste

[2015-05-19 15:55] Amelandbor commented on #1700
Will see what I can do. Can I install it manually as an update then, so I won't have to uninstall the related packages?

[2015-05-19 17:12] cytec commented on #1700
yup should be no problem when you manually install it

[2015-05-19 18:12] nijel commented on #1356
:+1:

[2015-05-19 18:18] DrSeussFreak commented on #1701
So to add more info, uninstalling the mylar package and installing it via git, has resolved all my issues.  It seems that your package is somehow causing these issues.

[2015-05-19 18:39] Diaoul commented on #1701
Do you have other package repositories added to your NAS? Are you sure the Mylar package you're refering to is from SynoCommunity?

Mylar has the same codebase as other python packages and you're the first to report that issue. I doubt Mylar is really the issue, it seems local to your installation.

I'll leave the issue open for a few days to see if other people are facing the same problem.

[2015-05-19 18:40] Diaoul commented on #1700
I didn't upload DSM4.x versions of the Python package. Maybe we can do something about that. @Dr-Bean: didn't you publish those versions some time ago?

[2015-05-19 18:41] Diaoul commented on #1690
Try to run it from command line. Binaries are in `/usr/local/redis/bin`
Let us know the result.

[2015-05-20 08:03] Dr-Bean commented on #1700
@Diaoul No, I noticed it, but didn't get to uploading. I might get to it in a couple days/weekend.

[2015-05-20 08:12] Dr-Bean commented on #1691
Couchpotato has a built-in update function, so we don't need to update the package.
I see that the PR you mentioned has been merged into the develop branch: once develop is merged into master, CP will update itself and you should be good to go.

[2015-05-20 08:31] demon1300 commented on #1346
@cytec any chance we could get the emby packages updated on your repo?

[2015-05-20 10:18] cytec commented on #1346
@demon1300 im on it... latest version is `3.0.5607.2` right?

[2015-05-20 10:27] cytec commented on #1346
@Diaoul btw... as emby depends on `sqlite3` and that may take some time to compile, i was thinking about adding `sqlite` directly to the `mono` package... as it's done with python. That would save some time when updating the `emby` package and also provide `sqlite` to other `mono` spk's like `sonarr` for example...

[2015-05-20 11:57] demon1300 commented on #1346
@cytec Yep, that's correct according to their GIT source.

[2015-05-20 12:01] cytec commented on #1346
SPK's are up

[2015-05-20 12:03] demon1300 commented on #1346
@cytec Awesome work!  Thanks for the quick turn around!

[2015-05-20 12:37] Schim57300 commented on #1478
@jhsimp : Hi,
I have read you are using a RFXComm Transciever with a ZWave stick on a Synology. Would it be possible for me to contact you by e-mail in order to ask you some tips ?
I have a DS410J with DSM 5.0-4493.
I have recently installed Domoticz 2362-6 and USB Driver 3.0.2

My RFXTRX433E still work.
If I want to add my Aeon Labs Z-Stick USB Dongle in Domoticz, I choose OpenZWave USB in the "H

[2015-05-20 13:36] jhsimp commented on #1478
@Schim57300 : Hi,
I found an answer over on the Domoticz forum in this thread:
http://www.domoticz.com/forum/viewtopic.php?f=17&t=2620&start=140

To summarise for anyone else here with the same problem, I grabbed the Synology Domotizc package from github and 2.0.2362 is working here on a DS413 qoriq 5.1, but had problems getting 2 USB devices to work, i.e. RFXCOM and Z-Wave (incidentally my Z-Wave

[2015-05-20 14:39] Schim57300 commented on #1478
Thanks you for your quick answer. I'll try this evening,
=> chmod 777 /dev/ttyUSB1  once connected as "root"

I really hope it will help but I'm not really sure it will do since I do not have any error message in the log file.
![image](https://cloud.githubusercontent.com/assets/8232585/7728284/a9453dee-ff0e-11e4-90c8-4ab4de0b5e3a.png)

[2015-05-20 15:48] crazyscow commented on #1011
@NickPyz
im guessing you had the upgrade button after you installed v. 10.30-3 because i dont have a a upgrade button.
So my question was if you did anything in order to receive that upgrade button, in the syncthing gui. in case you dont understand, just ignore it, im happy as long as syncthing works, i was just curious to know if you did anything to get the red upgrade button to show up.

[2015-05-20 16:02] LukePulverenti commented on #1346
where can the package be found? is it in a state where it can be linked to from the website?

[2015-05-20 16:32] Schim57300 commented on #1478
@jhsimp : as I thought there is no ttyUSB1 :(
The command ls -l /dev/ttyUSB*  returns :
crwxrwxrwx    1 root     root      188,   0 May 20 11:32 /dev/ttyUSB0

Maybe I did not use the good USB drivers package :-/

Thanks for help

Schim'

[2015-05-20 17:31] gkroone commented on #1478
Probably you will have to create the device.

On command line as root do:

mknod /dev/ttyUSB1 c 188 1
Op 20 mei 2015 18:32 schreef "Schim57300" <notifications@github.com>:

[2015-05-20 17:32] cytec commented on #1346
@demon1300 strange... should work with those versions as well, i'll check again tomorrow...

@LukePulverenti nope not currently, running but not officially released. I'll let you know when everything is ready for public announcement

[2015-05-20 17:45] DrSeussFreak commented on #1701
I do not have other repo's installed (I did, but no longer), and I was 100% positive that it was the SynoCommunity package.

On my NAS I had performed 2 separate reset to factory settings and installed packaged back 1 at a time, and without a doubt Mylar was the issue.

I can resolve the issue by uninstalling Mylar and only Mylar.

[2015-05-20 17:52] Schim57300 commented on #1478
@gkroone : Should you come to France, I will own you a beer ;-)
![image](https://cloud.githubusercontent.com/assets/8232585/7732589/4dd97b26-ff29-11e4-9691-3e3c7fdd8ec0.png)

It seems working! It remain me to buy or to borrow a second ZWave device in order to test the communication from Domoticz through my ZWave Stick

I'll keep you in touch. Thanks all for your help

Schim'

[2015-05-20 21:03] grosenbaum opened #1702 "Missing bsddb3 dependence for Subliminal 0.7.5-12 Beta"
Hi all,

On my DS 413 with DSM 5.2, I'm using SynoCommunity packages:
* `Subliminal 0.7.5-12`
* `Python 2.7.9-13`

Running Subliminal CLI works until it rises this error:

[code]

I try then to install the missing package but it doesn't work:

[code]
Any ideas ?
Thanks
Gilles

[2015-05-21 07:10] Dr-Bean commented on #1702
What was the command you were running?

[2015-05-21 07:19] Dr-Bean opened #1703 "Add DSM5.2 toolchains and kernels"
Synology has released the DSM5.2 toolchains and kernels a couple days ago. We'll probably want to add those in at one point or another.

http://sourceforge.net/projects/dsgpl/files/DSM%205.2%20Tool%20Chains/
http://sourceforge.net/projects/dsgpl/files/Synology%20NAS%20GPL%20Source/

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1639

[2015-05-21 08:00] piejanssens opened #1704 "Support gzip for haproxy => save bandwith + time"
[code]

If haproxy is compiled using USE_ZLIB=yes it is possible to use gzip to compress a lot of data.
For example you could add this to your default config section:

[code]

There are many more compression types available.

[2015-05-21 08:33] grosenbaum commented on #1702
I'm using the Subliminal CLI in a shell script managed by the syno crontab.
The command should be:
[code]

[2015-05-21 08:37] Dr-Bean commented on #1348
This is an `ejabberdctl` limitation, from what I can tell. I think the only thing we can do is add the restriction to the wizard's description.

[2015-05-21 08:41] Dr-Bean commented on #1702
If you're using the Subliminal package, then that command is not correct. Seems more like a local installation of Subliminal.

I would expect something more along the lines of `/volume1/@appstore/subliminal/env/bin/subliminal`, and then whatever arguments you want to pass on. Please check the CLI documentation of subliminal here: http://subliminal.readthedocs.org/en/latest/api/cli.html

[2015-05-21 10:07] adamotte commented on #1615
:+1:

[2015-05-21 12:00] cimnine opened #1705 "Elasticsearch"
Has anyone ever tried to create an elasticsearch package?
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/16444571-elasticsearch?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282943&ut

[2015-05-21 12:50] cytec commented on #1705
someone did something for logstash here: https://github.com/SynoCommunity/spksrc/pull/1347

installing elasticsearch is basically pretty simple i think (install java, copy the files to DS and run it) not sure if there is an Package needed at all...

[2015-05-21 14:20] NickPyz commented on #1011
@crazyscow

I didn't do anything to receive the "Upgrade" button - it just appears whenever an upgrade is available. Check that you have "Automatic Upgrades" enabled in Syncthing > Settings.

I originally installed Syncthing on my Syno from the cytec repository. It was v0.9.4-2. From that version until v0.11.5, I have been receiving the "Upgrade" button and updating from the WebGUI.

NOTE: DSM Pac

[2015-05-21 14:24] treilhes opened #1707 "HAProxy 1.5 payload directive handling"
Hi,

First of all thanks for your hard work.

Using the "payload" function in frontend options generates an error due to the comma used to separate payload parameters . Ex : `acl hello payload(0,6) -m bin 48656c6c6f0a`
The comma is intended to separate lines so it must exists a way to escape it.

In order to allow escaping comma using `\`:

in spksrc/spk/haproxy/src/app/application/direct.py
l.42

[2015-05-21 14:26] Vlaves commented on #1346
@cytec Any news regarding the patches for ffmpeg and hardware acceleration?

[2015-05-21 14:40] Diaoul commented on #1346
I had news, Synology already provide the source code, we need to use it to generate a patch and use that patch in spksrc. They won't provide the patch themselves.

[2015-05-21 15:16] Dr-Bean commented on #1701
Fwiw, I've had Mylar installed for a day or so, currently running with 2-factor auth (usually I don't, but why not), and I haven't seen any issues.
Granted, Mylar isn't doing a whole lot, but it is running.

[2015-05-21 15:19] DrSeussFreak commented on #1701
What NAS do you have?  I have a DS413j and a DS412+, on the DS413j it is not a problem, but on the DS412+ is where I run into issues.

[2015-05-21 15:46] Dr-Bean commented on #1701
Well, that's just weird.
I'm currently running Mylar on a DS3615xs, so that's Bromolow. DS412+ is Cedarview, and those two  actually share the same Python package.
The Mylar package isn't even arch specific: all arches share the same package.

So if it were a general issue with the Python package, then it seems strange that it would only affect Mylar and not similar packages such as Sickbeard, Cou

[2015-05-21 15:53] DrSeussFreak commented on #1701
Synology only said they could not find any issues within the synology OS, and asked me to remove 3rd party apps.

You are correct that I was running an unmodified Mylar package from your repository, as well as the Python package it required.

If I were to install it now the issues would come back (I tried this), yet when I installed it directly via Github all is well.  So not sure what is going on

[2015-05-21 17:06] bonebox opened #1708 "Build failure for Pillow"
I get the following error when running `make arch-armadaxp-5.1` in `cross/pillow`:

[code]

[2015-05-21 17:29] Dr-Bean commented on #1701
Well, that's unfortunate. Unless we can reproduce it (or maybe if we receive feedback that someone else has the same issue), there's not much we can do.

[2015-05-21 17:34] Dr-Bean commented on #1708
Pillow is a Python module, and can only be compiled as part of the Python package.

[2015-05-21 17:49] DrSeussFreak commented on #1701
understood, I just wanted to make sure you were aware of it.

I can reproduce it on my NAS if you want to see it.

[2015-05-21 18:10] timoline commented on #1615
And off course.....please with websockets enabled

[2015-05-21 18:57] grosenbaum commented on #1702
Hi @Dr-Bean
Thx for your answer but my bad, wrong NAS then wrong path :)
I use this command:

[code]
And the response is:

[code]

[2015-05-21 18:58] crazyscow commented on #1011
@NickPyz
oh ok thanks. I was also on v.0.9.4-2 before and after i read your message on github saying that you had no problem upgrading i thought you were on the new version, which is now on the synocommunity repo, so i upgraded to this version v.0.10.30-3. Now i dont have the update button.
too bad, i guess im stuck on 10.30-3 for now :)

thanks for the reply.

[2015-05-21 19:09] Dr-Bean commented on #1702
Add `-c CACHE_FILE` as argument, as per the earlier linked documentation. So in practice, something like `-c /usr/local/subliminal/cache/cachefile.dbm` should do.

[2015-05-21 20:43] grosenbaum commented on #1702
Works great, thx.
Gilles

[2015-05-21 20:43] #1702 closed

[2015-05-21 20:55] mortyreKS commented on #1346
hello @cytec l have the same bug as @demon1300 with your new version avoton 2.4 (ds1815+) --> it ask new dependencie package. Before I used version x64 1.3 without problem.

[2015-05-22 03:16] bonebox commented on #1708
I compiled the Python package adding Pillow as a dependency, and it still fails with the same error while building Python.

[2015-05-22 05:25] Matthias-Cybot opened #1709 "OwnCloud Update from 6 to 8"
Hello,

I made an Update from my OwnCloud and had to see that I first need to install Version 7 to convert the Database and other files.

Can you give me a Link to the OwnCloud Package in Version 7 that I can make a rollback / install it manually and made the conversation before updating to Version 8?

Thanks in Advance

Kind Regards

Matthias Mueller

[2015-05-22 05:39] prad1978 opened #1710 "No connection to ffsync possible"
I have installed ffsync and i can reach the ffsync-server with the public url https://m.familie-xxx.at:8132/token/1.0/sync/1.5 in the browser: {"status": "error", "errors": [{"location": "body", "name": "", "description": "Unauthorized"}]}

(https: over web-proxy!)

The Firefox about:sync-log says:
1432272037966	Sync.LogManager	DEBUG	Flushing file log
1432272037966	Sync.LogManager	TRACE	Beginning

[2015-05-22 08:15] Dr-Bean commented on #1708
How do you mean, you added Pillow? It's already part of the dependencies: https://github.com/SynoCommunity/spksrc/blob/master/spk/python/Makefile#L10, second entry.
Can you paste the error you're getting when compiling Python?

[2015-05-22 08:24] Dr-Bean commented on #1710
I don't know what you mean exactly with `https: over web-proxy!`, but if your definition of web proxy is what I think it is, that's the source of your problem.

I would suggest to start off with the basic setup first: plain old http, internally. If that works, check if http externally works (make sure that you're not syncing anything private, if that's your concern). Setting up https is the last s

[2015-05-22 08:40] prad1978 commented on #1710
I have also tried the Sync with a NAT, but there is also the same problem.

Firefox-Log:

1432283478368	Sync.LogManager	DEBUG	Flushing file log
1432283478368	Sync.LogManager	TRACE	Beginning stream copy to error-sync-1432283478368.txt: 1432283478368
1432283478369	Sync.Service	DEBUG	Exception: TypeError: url is null (resource://services-sync/record.js:246:8) JS Stack trace: RecordMgr_get@record.js:2

[2015-05-22 08:46] MMD70 opened #1711 "Package request: Raid Manager for Jmicron jms562"
Hello,

I`m using a EMK3202 Mobile Rack with 2x SSD`s in 1 bay and it`s tested and working.
It comes with Raid manager for Windows, so no use on NAS.
http://www.enermax.com/home.php?fn=eng/product_a1_1_1&lv0=3&lv1=81&no=278

I found a Jmicron Raid Manager for Ubuntu:
http://scott.keszler.name/venus_t5/venus_t5_cd/

Is there any way this can be ported to NAS so we can monitor the Raid inside the Mo

[2015-05-22 08:52] Dr-Bean commented on #1710
It seems you are changing entries in `ffsync.ini` that you shouldn't change ;)

Can I suggest to not try with NAT, just try it on the same local network: one NAS, one Firefox client. On the NAS, install the package, and set your .ini file to look like this (changed domain name here):
[code]
On your client set `services.sync.tokenServerURI:  http://m.familie-xyz.at:8132/token/1.0/sync/1.5`.
Now sig

[2015-05-22 09:26] piwi82 commented on #1711
SynoCommunity doesn't provide specific hardware support, try to ask Synology.

[2015-05-22 09:29] prad1978 commented on #1710
I have found the mistake - maybe you can but it to your wiki:
In the firefox is a second entry: services.sync.clusterURL
This entry i have to chance to: http://m.familie-xxx.at:8132/storage/1.5/1/
And now it works.
I will test ist on an other pc for shure.

regards peter

[2015-05-22 09:33] Dr-Bean commented on #1710
Weird. That entry should be updated automatically to the tokenserverURL when the first sync starts. I'll add it in the troubleshooting section.

[2015-05-22 10:03] Dr-Bean commented on #1710
Added it in: https://github.com/SynoCommunity/spksrc/wiki/Firefox-Sync-Server-1.5#common-errors. Thanks again.

I also provided a description on how to configure SSL by using HAProxy. That may be of interest to you.

[2015-05-22 10:03] #1710 closed

[2015-05-22 10:35] MMD70 commented on #1711
Noob question.
Maybe a package can support more then one controller?

[2015-05-22 11:06] Bon3 opened #1712 "rutorrent and Sonarr"
Hi Guys

Since Sonarr has been updated to use rtorrent as an Download Client has anyone got the current rtorrent release to work??

Sonarr says:
Requires rTorrent version 0.9.0 or newer compiled with XML-RPC support, and a SCGI to HTTP proxy (usually Lighttpd, Nginx, or Apache). Look for ruTorrent instructions for how to set up rTorrent.

Would be nice if we could get the current release of rutorr

[2015-05-22 11:19] cytec commented on #1388
@Diaoul @Dr-Bean  ok... i've got a new Idea:

1. when setting up the toolchains (example for x64) create 2 symlinks:

    x86_64-pc-linux-gnu-ccache-g++ -> x86_64-pc-linux-gnu-g++
    x86_64-pc-linux-gnu-ccache-gcc -> x86_64-pc-linux-gnu-gcc

2. then add a symlink for `ccache` in /usr/lib/ccache:

    x86_64-pc-linux-gnu-ccache-g++ -> ../../bin/ccache
    x86_64-pc-linux-gnu-ccache-gcc -> ../../bi

[2015-05-22 12:01] Dr-Bean commented on #1388
Don't know about that last sentence there, I'm not familiar with ccache at all. I'll have to see if I can do something about that, but at this point, I probably have more questions than you :P

[2015-05-22 12:45] cytec commented on #1388
im also not really familiar with ccache... there was a lot of try and error involved... but i've came up with something like this (which seems to work):
https://github.com/cytec/spksrc/commit/b335595735318b3d610cd6a09775f4ed42b68677

which seems to work and also if `DISABLE_CCACHE` is set wont use the linked binaries... still there is the `PATH` being set... idk how to fix that and maybe the whole

[2015-05-22 12:57] cytec commented on #1346
@mortyreKS @demon1300 uploaded the spk`s again... should work now :)

[2015-05-22 15:09] bonebox commented on #1708
Yeah, I didn't notice that. Regardless, it still fails with the exact error above.  I found the issue is in `spksrc.python-module.mk` that is included in the Pillow Makefile-- $(HOSTPYTHON) was returning nil.  So I replaced that with the actual path to the native python interpreter and it built successfully.

[2015-05-22 15:12] bonebox commented on #1708
That said, I realize that's not a long-term solution. The real issue is why is the path not being set for $(HOSTPYTHON).

[2015-05-22 15:53] Dr-Bean commented on #1708
HOSTPYTHON is defined in `python-cc.mk` as part of compiling `cross/python`. During compilation of `spk/python`, the contents of `python-cc.mk` are used to compile the modules.

I happen to be compiling some arches for Python at the moment, and that's still working as expected here.
So assuming that `cross/python` completed succesfully on your end before continuing with the compilation process, wh

[2015-05-22 16:54] bonebox commented on #1708
Apparently my environment was screwed up--I did `make clean` on `cross/python` as well as a few others, and retried `spk/python` and it built successfully this time without having to modify anything.  I was able to successfully compile Pillow with libwebp, which was the point of this exercise.

[2015-05-22 16:55] #1708 closed

[2015-05-22 19:12] BenjV commented on #1711
This software is for the jmicron controller which is used in the majority of USB disk and docking station.
So this is not just for one hardware device usefull.

[2015-05-22 19:40] kameka22 opened #1713 "DSM 5.2-5565 update - BTSync bandwidth issue"
Since the dsm 5.2-5565 update, I have an issue with btsync 1.4.111-11.

BTSync is very slow to download datas from my dedicated server. The bandwidth varies between 50kb/s to 200 kb/s while normally my bandwidth is approx. 2mb/s.

I have test with other btsynclink on my computer and the speed download is ok (it is not a problem with my dedicated server) . If i download a file with the download sta

[2015-05-23 02:05] demon1300 commented on #1346
@cytec Yep, worked without issues!  Thanks again!  If only @LukePulverenti would stop releasing new versions, lol.  It's already outdated!

[2015-05-23 10:34] robbeekie opened #1714 "Subliminal 0.7.5-12 Beta Task not working after view days"
Hello,
since I upgraded subliminal to 0.7.5-12 beta I noticed that the scan button didn't work, but the task did.
I noticed that the task stopt running after a few day and did start after stopping en starting the app.
So I build in that the service stops and starts once a day.
It run good for 1 week and now this is also not working anymore.  The only I can get it to work is to deinstall the app en

[2015-05-23 12:42] Dr-Bean opened #1715 "Without root permissions, Python SPK build fails due to uWSGI module"
During Python SPK compilation, uWSGI links its components and plugins to the uwsgi binary.
The location where the binary is placed is `/usr/local/bin/uwsgi`, as shown in the log below. This causes the Python SPK build to fail if you run without root permissions.

(Btw, if you do run with root permissions, the plugins etc. end up in the binary in `/usr/local/bin/uwsgi`, but probably not in the bina

[2015-05-23 12:54] Dr-Bean commented on #1714
Dupe. See https://github.com/SynoCommunity/spksrc/issues/1561#issuecomment-98698994 and the messages before/after it. I haven't gotten around to fixing it yet.

[2015-05-23 12:54] #1714 closed

[2015-05-23 12:55] Dr-Bean commented on #1711
If that software isn't open source (or more preferable: officially supported by jmicron), then I don't think there's much we can do.

[2015-05-23 20:35] MMD70 commented on #1711
The Hardware Raid Manager software is from Jmicron.
It`s a freeware download.
Will contact Jmicron what they think about this.
But I think it doesn`t necessarily have to be a port.
As @BenjV said, it can be useful for external RAID USB and docking stations too. +1 @BenjV

Thank you

[2015-05-24 09:37] Dr-Bean commented on #1711
Useful or not is hardly the point here ;)

To be clear: Regardless of the software's status (e.g. 'freeware'), porting usually entails some form of reverse-engineering. Distributing the resulting software has a chance of being illegal in certain conditions, or is prohibited by the vendor in their license agreement altogether.
Apart from that, porting a piece of sofrware is a specialty job, and tha

[2015-05-24 10:51] Vlaves commented on #1346
@cytec could it be, that for the newest version the evansport build is missing? The x86 build is not installable for me...

[2015-05-24 12:54] IntGen opened #1717 "Can't delete Firefox Sync Server 1.5"
How I can delete Firefox Sync Server 1.5?
When I try, I get Incorrect MySQL root password. And packet can't be deleted.
When I install Firefox Sync Server 1.5 I use blank password for MySQL. Because I don't know it.
P.S. Documents for Firefox Sync Server 1.5 incomplete. I don't see any materials how to install that package.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it

[2015-05-24 13:34] Dr-Bean commented on #1717
If your MySQL/MariaDB root password is blank, then simply don't fill in a password when the root password is asked. Works the same for installation and uninstallation of the package.
For security reasons, I would recommend setting a root password though. You can do that via the MariaDB link in the menu.

About the documents, can you explain what you're missing? The package basically works after th

[2015-05-24 18:33] ptxmac commented on #1674
:+1:

[2015-05-24 21:10] rvmourik commented on #1346
Hi @cytec, the ArmadaXP is also missing i think?

[2015-05-25 10:30] daverickdunn opened #1718 "Museek won't install"
As the title suggests, it just says "Failed to install 'Museek+.' " at the final step of the pre-installation.

Are there any prerequisites for installing?

DSM: 5.2-5565 Update 1
Model: DS214play

As a side note, I actually started working on bringing Nicotine to Synology myself, I paused the project a few months back and was about to get into it again when I saw Museek+ up here. If there's scope

[2015-05-25 15:23] struthio commented on #1674
Also would like update to 0.11 version :)

[2015-05-25 15:31] LucaTony commented on #1674
Please update to 0.11 ... otherwise I can't use my server

[2015-05-25 17:42] kameka22 commented on #1713
After apply the dsm 5.2-5565 update 1 update, the problem seems to have been solved ....
My bandwith is now ok.

[2015-05-25 19:18] Ferlez commented on #1251
I just wanna ask, i have a 213j atm, using it for SickRage, Transmission and Couchpotato. I kinda works, its slow as hell and crashes alot. Meaning to switch to 1515+ and add PMS. Will it run smoothly?
I plan on seeding 50+ torrents, atm if I DL a large file (at 5MB/s) the unit crashes. Will I experience this with the 1515+? Does it have the juice? thanks

[2015-05-25 20:32] thenriques commented on #1251
It does, no problem. I have the 1815+, which is basically the same, and I get 8MBps. I've never seen a crash.

Tiago Henriques

No dia 25/05/2015, às 20:18, Ferlez <notifications@github.com> escreveu:

[2015-05-25 21:18] Ferlez commented on #1251
What about "multitasking" dowloading torrents and streaming with plex, while copying some files something like that...

Thanks for the info

[2015-05-25 23:06] thenriques commented on #1251
Not a problem. You can always upgrade the memory another 4gb if you feel strained.

Tiago Henriques

No dia 25/05/2015, às 22:18, Ferlez <notifications@github.com> escreveu:

[2015-05-26 10:27] Dr-Bean commented on #1718
Not all packages for Museek were signed yet. That's fixed, so you can give it another try.
Note that the package hasn't been updated in a while, and it may be a bit rough around the edges.

As for contributing (adding Nicotine or improving Museek for that matter): Sure. Open a PR with your additions/improvements and we'll go from there.

[2015-05-26 10:27] #1718 closed

[2015-05-26 12:50] Shigoru commented on #1630
is there a way to get this on kickstarter?

[2015-05-26 13:01] carukc commented on #1630
bounty source: https://www.bountysource.com/ might be better

[2015-05-26 13:21] Dr-Bean commented on #1691
RuudBurger has just merged develop into master, so when your CouchPotato installation updates (or you force that manually), it should include the fix.

[2015-05-26 13:21] #1691 closed

[2015-05-26 13:38] phishlite commented on #1674
beware :  release 0.11 contains protocol changes. It will not connect to v0.10.x clients.
Temporary solution (until v 0.11 spk...) : downgrade your clients to v0.10.30  https://github.com/syncthing/syncthing/releases/tag/v0.10.30
(and don't forget to  deactivate auto update function)

[2015-05-26 14:14] dyoann commented on #1702
Thanks it worked too ... does the "default: ~/.config/subliminal.cache.dbm" not working anymore ?

[2015-05-26 14:58] daverickdunn commented on #1718
Thanks, it installs now, but won't run... I'll just keep an eye out for future updates.

I'll give Museek a look, though I'm sure by the time I get my head around it you'll have thigns up and running, so there might not be much point.

Cheers

[2015-05-26 16:21] Dr-Bean commented on #1718
It does run, it just doesn't show it in Package Center. The package currently only contains the binary, there's no (web)interface.

[2015-05-26 16:21] Dr-Bean commented on #1702
Probably, as long as that dir exists for the user you're running as. It's not available by default for Synology users, and it's not created by Subliminal. So, easiest thing to do is to specify where to put it.

[2015-05-26 17:08] Dr-Bean commented on #1688
`mediainfo 0.7.73-2` has been published.

[2015-05-26 17:08] #1688 closed

[2015-05-26 17:25] Dr-Bean commented on #1709
Owncloud isn't able to update from 6 to 8 without skipping the version in between? :/
Which model/arch (https://github.com/SynoCommunity/spksrc/wiki/Architecture-per-Synology-model), I might upload it somewhere so you can grab it. No support or guarantees that it'll work though, downgrades are not supported on Synology.

[2015-05-26 17:39] bladehawk commented on #1703
Would this address the issue where rewrite mod isn't included in the DSM download

(number 4 in the apache issues list below)
http://forum.synology.com/enu/viewtopic.php?f=232&t=79801

[2015-05-26 18:04] Dr-Bean commented on #1703
I'm not following, do you mean `mod_rewrite`? Toolchains and kernels are not related to Apache, so no. More to the point, as far as I know, `mod_rewrite` has been available for ages now, right?

[2015-05-26 18:53] Dr-Bean commented on #1709
Package available here: https://www.dropbox.com/s/y194strifkuy8aa/owncloud_armadaxp-4.3_7.0.3-5.spk?dl=0

Before starting, I would recommend making a backup of the database. You can do that via DSM, CLI or even PhpMyAdmin.

When you start the manual package installation, Package Center will likely complain that a newer version is already installed (or something like that), and will stop the instal

[2015-05-26 18:54] bladehawk opened #1720 "Newznab Oesn't work on DSM 5.2"
Synology 5.2 does not load mod_rewrite because they, "do NOT provide mod_auth* by default anymore due to DSM patch size limitation". so there seems to be no way to properly get newznab to work.  Can the package be updated to add this or to use some level of workaround?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/17921788-newznab-

[2015-05-26 20:02] bladehawk commented on #1703
I wasn't sure if it was related.  Synology stopped including it and newznab is broken without it so the package is broken.  A search on the issue pointed me at Gothic and I thought that the board was just for Newznab.

Lance Druger
925-330-5852

On May 26, 2015, 11:05 AM, at 11:05 AM, Dr-Bean <notifications@github.com> wrote:

[2015-05-26 20:07] BenjV commented on #1711
There is a source for Ubuntu and Fedora so no windows porting or reengineering is neccessary.

[2015-05-26 20:52] LukePulverenti commented on #1346
The new stable is tagged on the website. Hoping to see a package we can put on our website soon :)

[2015-05-26 20:57] Diaoul commented on #1715
I'm ok for that. I did build latest python SPK with root permissions indeed. Tested and working fine on my NAS but a wheel would be much cleaner.

[2015-05-26 22:28] daverickdunn commented on #1718
Ahh, I see. Cool, I'll give it a look. Cheers!

[2015-05-26 22:46] Dr-Bean commented on #1711
Well, great. It shouldn't be too hard to provide the following then:
- Link to source code. I can't find either source or binaries, but that's probably my poor search capabilities.
- Link to documentation with build instructions/dependencies/licenses and other relevant information.

Without source code, we can't compile it for Synology devices. Even then, there's a change it'll only work for a lim

[2015-05-27 08:40] Dr-Bean commented on #1720
That info you're looking at is outdated, and has been for quite a while.
Check `etc/httpd/modules`: all the needed modules are there. Even better, `/etc/httpd/conf/httpd.conf-sys` and `/etc/httpd/conf/httpd.conf-user` show that `mod_auth*` and `mod_rewrite` modules are loaded.

As for newnzab, there's a catch. Since DSM5.x, Synology is using php-fpm with Apache. The method that newnab uses to veri

[2015-05-27 08:41] Dr-Bean commented on #1713
Thanks for the info. I'll close this seeing as it's solved.

[2015-05-27 08:41] #1713 closed

[2015-05-27 08:55] Dr-Bean commented on #1697
I can reproduce this on Debian too, so it's not Synology related. Probably best if you report this on the Subliminal repository: https://github.com/Diaoul/subliminal.

Test: `./subliminal -p opensubtitles -l FR -vvv The.Shawshank.Redemption.1994.720p.BluRay.x264-SiNNERS.mp4`

[2015-05-27 09:03] Schim57300 commented on #1478
Good morning,
First of all I would like to confirm each time my ZStick is unplugged/plugged I have to do :
mknod /dev/ttyUSB1 c 188 1
chmod 777 /dev/ttyUSB1
Then  ls -l /dev/ttyUSB* to check both ttyUSB are available.
Should this recap help someone… It helped me ^^
![image](https://cloud.githubusercontent.com/assets/8232585/7832457/a10a6db0-045f-11e5-81f7-cf13d35e8c60.png)

I have received my Fiba

[2015-05-27 09:12] mortyreKS commented on #1346
@cytec Nice work !!!  worked without issues! Many Thanks

[2015-05-27 09:38] jorikcaljouw commented on #1478
I also have a few FGS211 devices. They are all correctly recognized on my system. Maybe you have a newer revision? In any case the switch issue you have is related to connecting a switch or a pulse to the S1 terminals. You need to check the parameter 14 « Type de bouton connecté ». If you have a switch that can be set to an on or off state, you must choose the bi-stable. And if you have a pulse bu

[2015-05-27 10:05] Schim57300 commented on #1478
I do have a pulse button (so my translation was wrong ^^) I thought it would be related to the parameter #14 thank you very much for your confirmation.

I have downloaded the xml file below
https://github.com/OpenZWave/open-zwave/blob/master/config/fibaro/fgs211.xml
I will put it in the Config/fibaro folder and will update the manufacturer_specific.xml file
Hope everything will be solved :-)

Do y

[2015-05-27 13:38] Ltek commented on #1441
:+1:
really want to update to Hellow's branch. Someone please mod the currently posted HTPC-Manager package to use Hellow's branch

[2015-05-27 17:38] #1709 closed

[2015-05-27 18:13] bladehawk commented on #1720
THANK YOU!

As long as it works,  I was holding off getting a usenet account because I wanted to make sure it worked first.

Lance Druger
925-330-5852

On May 27, 2015, 1:40 AM, at 1:40 AM, Dr-Bean <notifications@github.com> wrote:

[2015-05-27 18:28] Schim57300 commented on #1478
Hi,

For information, the manufacturer_specific.xml only knew "type 0400, id 10xx" devices.
I had a reference to fibaro/fgs211.xml for my device's reference and it worked !
![image](https://cloud.githubusercontent.com/assets/8232585/7844111/6da8ae06-04ae-11e5-97fb-5613b39501e4.png)

@jorikcaljouw : 14th parameter set to "mono-stable" and the whole system works ! Thank you so much

Schim'

[2015-05-27 18:43] Dr-Bean commented on #1720
Err...to be clear, the installation completes, but that's as far as I went here. Before paying money, I would suggest looking into a free trial period from one of the usenet providers, and making sure that the package does what _you_ want it do.

Again, the newznab source code is old. The usefulness of newznab as a whole is dependant on up-to-date regex's to find releases, the rest is just eyecand

[2015-05-27 19:18] gkroone commented on #1478
Regarding the issue with multiple usb devices, this should not happen when
on dsm 5.1. For the official package i am working on supporting up to 8 usb
devices once it gets accepted. In the mean time, you could manually update
/var/packages/domoticz/start-stop script to include more usb devices for
dsm 5.0 and lower.
Op 27 mei 2015 20:28 schreef "Schim57300" <notifications@github.com>:

[2015-05-27 22:03] jorikcaljouw commented on #1478
I just checked, I don't have FGS211, but FGD211, FGS221 and FGWPE (the dimmer, the double switch and wall plug).

[2015-05-28 07:26] marcelrv commented on #1615
@Diaoul first of all, thanks again for your great contribution. I really like that mosquitto is now available on the synology, it allowed me to move it away from my RPI and has been rock stable from day 1 I installed it.

indeed would great if websockets support could be enabled, as that's the only reason I have still a 2nd instance running on the RPI

[2015-05-28 08:22] Diaoul opened #1723 "Enable libwebsockets support in Mosquitto"
It's all in the title.

[2015-05-28 08:23] Diaoul commented on #1615
See #1723

[2015-05-28 08:23] #1615 closed

[2015-05-28 08:23] #1665 closed

[2015-05-28 08:52] Dr-Bean opened #1724 "Docker: Replace python3-pip with get-pip.py for Python3"
Docker currently uses python3-pip, which probably is `pip 1.5.6`. Let's see if we can switch to the same approach as used for Python2, which makes updating `pip` a lot easier.
Untested, but presumably working:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/18317544-docker-replace-python3-pip-with-get-pip-py-for-python3?utm_ca

[2015-05-28 08:54] Dr-Bean commented on #1724
...and if pip doesn't install wheel by itself by now, the Dockerfile also needs `RUN pip3 install wheel`

[2015-05-28 12:41] romu70 opened #1725 "[request] Wallabag"
Would be nice to have Wallabag in SynoComunity. [Wallabag](https://www.wallabag.org/) is a free alternative to Pocket (formerly Read It Later).

Thanks.
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/18362118-request-wallabag?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github)** We accept bounties vi

[2015-05-28 13:43] cytec commented on #1725
seems to be a PHP Application with MIT Licence.

[2015-05-28 13:44] romu70 commented on #1725
and? is this a problem? (true question)

[2015-05-28 13:48] Diaoul opened #1727 "Update README"
- [ ] Docker instructions
- [ ] Better explanations (shorter)
- [ ] Links to the wiki
- [ ] Section on package requests: https://github.com/SynoCommunity/spksrc/issues/1727#issuecomment-107898696

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/18375704-update-readme?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&u

[2015-05-28 13:56] cytec commented on #1725
Nope just an info if someone wants to make a spk ;)

[2015-05-28 19:36] gkroone commented on #1703
Back to the subject of DSM 5.2 Toolchains.. what do you think would be required for that? Would it be a simple copy if the toolchain and kernel directory  for DSM 5.1 and update the source file names etc, or is there a lot of other stuff expected to be required? I have not tried anything with it yet, but of we want to add kernel modules for DSM 5.2 to packages, i think this will be required.

[2015-05-28 21:28] Diaoul commented on #1717
Any updates @IntGen ?

[2015-05-29 19:07] bladehawk commented on #1703
I'm not sure what it would take or any dependencies.  I'm weaker in Linux than I'd like (I can get around and use VI over SSH,  simple things).  I understand infrastructure,  but I don't code, so I may not be the best person to ask.

Lance Druger
925-330-5852

On May 28, 2015, 12:36 PM, at 12:36 PM, gkroone <notifications@github.com> wrote:

[2015-05-30 06:36] #1668 closed

[2015-05-30 11:15] #1723 closed

[2015-05-30 11:17] #1319 closed

[2015-05-30 11:39] larsimmisch opened #1729 "python3/pip/wheel help needed"
Hi,

I'm trying to package `attic` in my fork at https://github.com/larsimmisch/spksrc. Attic needs at least Python 3.2.

I think I've come pretty far; all cross dependencies (in particular `acl` and `attic`) compile. But *Building wheels* fails:

[code]

This is a link to the Makefile of `spk/attic`: https://github.com/larsimmisch/spksrc/blob/master/spk/attic/Makefile

Any hint would be appreciat

[2015-05-30 12:12] Diaoul commented on #1704
Can you open a PR to update the default configuration?

[2015-05-30 12:12] #1704 closed

[2015-05-30 14:20] marcelrv commented on #1723
Did you already manage to get it in?? How to enable it?

[2015-05-30 14:32] Diaoul commented on #1723
Well it's compiled with libwebsockets like asked. I don't know what it takes to actually configure mosquitto to use it.

[2015-05-30 14:45] marcelrv commented on #1723
Indeed, I updated and found the lib. Great!!!

In the mean time I figured it out.. For others looking for the same,

edit the config file with : vi /usr/local/mosquitto/var/mosquitto.conf

add the following for a minimal setup:
[code]

[2015-05-30 17:21] Diaoul commented on #1723
Should the package include this as default config?

[2015-05-30 19:26] MattPark commented on #1704
since this update -- haproxy won't start for me if I use the previous version's config
I tried reinstalling which worked, but once I replaced the previos config it won't start

[2015-05-30 20:13] MattPark commented on #1704
So it's mad about this section -- specifically bind :80
basically, the start-stop-status script has a RUNAS=haproxy
This should be RUNAS=root

then the haproxy.cfg.tpl should say:
[code]

This is still secure because haproxy will drop privs after it binds where it needs to.

[2015-05-30 20:34] MattPark opened #1730 "Haproxy config doesn't support binding to privileged ports"
A couple small tweaks need to be made to support this:

Raise privileges at runtime to bind to low ports ->
/var/packages/haproxy/scripts/start-stop-status:
[code]

Drop privileges for security->
haproxy.cfg.tpl:
[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/19006515-haproxy-config-doesn-t-support-binding-to-privileged-ports

[2015-05-30 22:27] kjmuk opened #1731 "NZBGET icon"
Installed NZBGET 14 on another DS all went well except I cannot get the icon, only way to run it is through Packag Centre then NZBGET then URL: then all works perfect... apologies for my stupidity...

I have done all the following.
- portforward 6789 on router.
- created directory called downloads.
- group permissions ticked R/W
- added Python and Git

[2015-05-31 09:47] Dr-Bean commented on #1731
Log in as a user with administrator privileges. Then choose either of the following methods:
- Open `Control Panel` > `Privileges`, and set appropriate permissions from there;
- Open `Control Panel` > `User` > Open the correct user, and check the tab `Applications`.

[2015-05-31 09:48] Dr-Bean commented on #1729
You're missing the `wheel` module. It's mentioned in the [README requirements](https://github.com/SynoCommunity/spksrc#requirements)

[2015-05-31 10:33] Dr-Bean commented on #1703
Yep, reuse the Makefiles and digests, but correct those for DSM5.2. Then start testing (create packages, install packages on various DSM5 versions and arches and see if the packages still work)

The main thing we want to know is if we can use the DSM5.2 toolchains for earlier DSM5 versions. The outcome of the tests determine the value for [`TC_FIRMWARE`](https://github.com/SynoCommunity/spksrc/blo

[2015-05-31 14:26] kjmuk commented on #1731
Once again many many thanks, works perfectly.

[2015-05-31 14:26] #1731 closed

[2015-05-31 18:58] Diaoul commented on #1730
Can you open a PR?

[2015-05-31 22:04] larsimmisch commented on #1729
Doh!

Thank you; I missed that, and I appreciate your help.

But the next problem is just around the corner:

[code]

I suspect that `setup.py` is invoked with python2 but I don't know how to force python3. I'll have a look at it tomorrow, but I'll appreciate any hints.

[2015-06-01 02:48] MattPark commented on #1730
Yeah I'll knock it out in a couple days.

[2015-06-01 05:53] Dr-Bean commented on #1729
Set `PIP = pip3`. Take a look at the Homeassistant package, that's a Python3 based package as well.
Note that using pip3 might require you to install wheel again, but this time with pip3 (depends on the version of pip you're using).

[2015-06-01 08:06] gkroone commented on #1478
I committed new changes to my libudev branch, where I succesfully compiled domoticz r2514.

Source code can be viewed here:
https://github.com/gkroone/spksrc/tree/libudev

I would be interrested to see if this works for openzwave.

@Jumbotroll I also changed the boost makefile for this branch, so it won't compile python for each build, as it's not used in domoticz anymore, so this should speed up

[2015-06-01 08:30] mvveelen commented on #1478
Thanks you guys (gkroone and Jumbotroll) !  I hope this will fix the errors and will open the path for newer versions for the Synology users :+1:

[2015-06-01 09:43] Amelandbor commented on #1700
@Dr-Bean any updates maybe?

I could build them myself, but I don't know if update ability is lost then? And can I build a package for 4.2 with the toolchain of 4.3?

[2015-06-01 09:48] adamotte commented on #1723
@Diaoul yes it would be easier for standard users (not familiar with ssh)

[2015-06-01 11:07] Jumbotroll commented on #1478
@gkroone
Great work
Openzwave is missing when I try to build from https://github.com/gkroone/spksrc/tree/libudev

[2015-06-01 11:09] gkroone commented on #1478
what exactly do you mean by missing? I switched to using the builtin openzwave code from domoticz in this version, so no longer depends on cross/openzwave so you won't see openzwave compiling as separate dependency, but I do see it compiling into the domoticz?

[2015-06-01 11:11] gkroone commented on #1478
here's where openzwave gets comiled:
[ 64%] Building CXX object CMakeFiles/domoticz.dir/hardware/OpenZWave.cpp.o
[ 65%] Building CXX object CMakeFiles/domoticz.dir/hardware/openzwave/control_panel/ozwcp.cpp.o
[ 66%] Building CXX object CMakeFiles/domoticz.dir/hardware/openzwave/control_panel/zwavelib.cpp.o
[ 66%] Building CXX object CMakeFiles/domoticz.dir/hardware/openzwave/control_panel/tinyxml/

[2015-06-01 11:19] Jumbotroll commented on #1478
Compiled arch-x86-5.1 for test and build went ok, but missing Openzwave from hardware list in domoticz.
![screen shot 2015-06-01 at 13 16 07](https://cloud.githubusercontent.com/assets/12036227/7911681/bced9ed0-0860-11e5-839d-0de7a71c1847.png)

[2015-06-01 11:27] gkroone commented on #1478
I think I found the issue. The merge with openzwave branch accidentally also re-added the patch not to include openzwave in Cmakelists.txt of domoticz.

very sorry. I committed the change to the CMakelists.txt.patch file.

[2015-06-01 11:28] Jumbotroll commented on #1478
Nice :-) Try to build again

[2015-06-01 11:34] mvveelen commented on #1478
Wow, so maybe..... :) ? Great work !

[2015-06-01 11:38] larsimmisch commented on #1729
Excellent, thanks (doh again)

[2015-06-01 12:44] Jumbotroll commented on #1478
@gkroone
Build went fine with updated CMakelists.txt.patch file, but openzwave still missing in hardware settings.

[2015-06-01 17:38] LouiS22 commented on #1478
Compile error with 88f6281 :( udev-builtin-input_id.c in function 'test key'

[2015-06-01 19:56] bilil opened #1732 "[Request] PulseStation"
Hi,

I create a new Home Automation Package called PulseStation.
If you want to add it to your repo, it would be nice.

More info : http://www.pulse-station.com

Many Thanks,
Mikael

[2015-06-01 20:54] gkroone commented on #1478
I am learning as I go. this is all still very new to me.. Turns out I was wrong about what is included in domoticz code and what's not. We still need the  depend on cross/openzwave, but need to use updated source for openzwave as domoticz switched from libopenzwave.1.2 to libopenzwave.1.3 and those are not compatible.

@LouiS22 thanks for reporting the compile error. I'll first focus on getting th

[2015-06-01 22:33] Diaoul commented on #1732
This is not opensource nor packageable by SynoCommunity.

[2015-06-01 22:33] #1732 closed

[2015-06-02 00:09] iruyanka opened #1733 "How to update ZNC 1.6?"
How to update ZNC 1.6?

I can't find in package center update list.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/19578768-how-to-update-znc-1-6?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=

[2015-06-02 04:40] gkroone commented on #1478
I recompiled, installed and can now see openzwave in hardware selection on my x86 system.

@Louis22 I started a compile  for 88f6281 to see if I can reproduce the error.

[2015-06-02 07:30] nicosomb commented on #1725
If you need some help about wallabag, ping me ;-)

[2015-06-02 08:55] Diaoul commented on #1733
Update requires some work by SynoCommunity and a push to our repository. That's why you don't see the update.
Someone might eventually get it done if asked nicely.

[2015-06-02 08:57] Diaoul commented on #1690
@greeneka: any updates?

[2015-06-02 09:28] Dr-Bean commented on #1700
Working on it (slowly ;)): Python 2.7.10 was released recently, so I'm updating the package and dependencies while I'm at it (also fyi @Diaoul).

If you want to build it yourself, you can still update to newer package versions. The 4.3 TC is backwards compatible, so no problems there either.

[2015-06-02 09:29] Amelandbor commented on #1700
Ok, thanks for the info. Learning every day :)

[2015-06-02 09:45] Dr-Bean commented on #1727
A possible addition to the list:
- Section on package requests. Content:
 - Before opening a new request, check open requests.
 - Provide information in the request, e.g. project description, link to project homepage, documentation, license, source code.
 - Don't ask for ETA's, do show support (`+1`, bounties or whatever's cool nowadays ;))

[2015-06-02 10:22] Diaoul commented on #1700
@Dr-Bean: you added uwsgi as wheel and updated dependencies as well? Try `make dependency-tree` in the SPK to print out all the dependencies of Python if you didn't know that already :)

[2015-06-02 11:04] cytec commented on #1727
i've hacked together a quick draft for the request part:

Requests
------
Before opening a new Package request, check if there already is an open request for that Package in the [Issues Section](https://github.com/SynoCommunity/spksrc/labels/request).

If you open a new Request there are some infromations that should be included with your Request, you may use this template:

Title:
[code]

Content

[2015-06-02 11:06] Dr-Bean commented on #1700
Yep. Need to sort out a compile issue....must've made a typo when updating the patches, but I don't see it :/

[2015-06-02 13:51] Dr-Bean commented on #1700
Status update: checked and updated all deps. 25 updated packages, give or take.
Two things:
- The newest version of `libgpg-error` fails on 4.3TC's, so I'm sticking with the current version for now.
- To upgrade pyOpenSSL to 0.15.1, we'll need some additional modules in the Python SPK. `pip install pyopenssl` returns this:
`cryptography>=0.7, idna, pyasn1, enum34, ipaddress, cffi>=0.8`

Some are a

[2015-06-02 13:58] danielvonmitschke opened #1734 "Debian Chroot not working on DSM 5.2"
I tried to install the debian chroot package 7.4-5 (first installed Syno Python 2.7.9-13) and when clicking on "run" it turns back to "stopped".
When opening the Debian Chroot App the status under "Package Informations" just keeps saying "installing" but apparently nothing is happening.

Also the (temporary) help file is not accessible anymore:
https://github.com/SynoCommunity/spksrc/blob/develop/

[2015-06-02 14:07] piwi82 commented on #1734
I don't use Debian Chroot but you can find the help file in the master branch : https://github.com/SynoCommunity/spksrc/blob/master/spk/debian-chroot/src/app/help/enu/index.html

[2015-06-02 17:50] fn002449 commented on #623
@cytec Is this package (ffmpeg) removed?

[2015-06-02 18:28] cmodijk opened #1735 "SSL synocommunity.com expired"
The SSL certificate of synocommunity.com is expired

[2015-06-02 19:03] gkroone commented on #1478
@LouiS22
I managed to fix the udev compile error on 88f6281  and also noticed I failed to commit the deletion of the openzwave patch file, so that should be fixed now in latest commit.

@Jumbotroll
could you try again? at least x86 and 88f6281 compile OK, and x86 was tested to show openzwave. I'm really wondering if openzwave works correctly.

[2015-06-02 19:21] kimpenhaus opened #1737 "Custom (Couchpotato, SickBeard, Headphones, SABnzbd) packages not starting after official git-server installation"
Hi all,

I had all the custom packages up and running on my Synology NAS (with dependent _git_ package from synocommunity installed). Yesterday I installed the official (from Synology) _git-server_ to host git repositories on the NAS. After shutdown and restart none of those custom packages is starting any more.

[code]

just shows

[code]

Anyone any clue?
## <bountysource-plugin>

Want to back t

[2015-06-02 19:21] spz82 opened #1738 "MediaInfo libraries and chromaprint fpcalc for Intel broken"
Hi,
During my FileBot tryout I found that MediaInfo libraries seem do not work (cannot be loaded)
You can read more in FileBot thread: http://www.filebot.net/forums/viewtopic.php?f=8&t=2734

similar situation with fpcalc:
`synek> fpcalc`
`fpcalc: error while loading shared libraries: libmp3lame.so.0: cannot open shared object file: No such file or directory`

`synek> uname -a`
`Linux synek 3.10.35

[2015-06-02 20:33] LouiS22 commented on #1478
@gkroone unfortunately after Linking CXX executable domoticz

/home/attila/spksrc/toolchains/syno-88f6281-5.1/work/arm-marvell-linux-gnueabi/bin/../lib/gcc/arm-marvell-linux-gnueabi/4.6.4/../../../../arm-marvell-linux-gnueabi/bin/ld: cannot find -ludev
collect2: ld returned 1 exit status
make[5]: *** [domoticz] Error 1
make[5]: Leaving directory `/home/attila/spksrc/spk/domoticz/work-88f6281-5.1/d

[2015-06-02 20:56] greeneka commented on #1690
Apologies for the delay in replying.

It looks like it's actually running, but the package center does not recognise it as running for some reason...

DiskStation> ps | grep redis
10011 redis    21592 S    /usr/local/redis/bin/redis-server *:6379

![image](https://cloud.githubusercontent.com/assets/12472587/7946990/0bd9694a-0972-11e5-80a6-ea5017e8f8ab.png)

I do not know what needs to be set in or

[2015-06-02 21:08] Diaoul commented on #1690
The startup script is in `/var/packages/redis/scripts/start-stop-status` check it out, if you can find something wrong please report back so we can fix this.

[2015-06-02 21:09] Diaoul commented on #1738
Try `LD_LIBRARY_PATH=/usr/local/chromaprint/lib fpcalc` or replace chromaprint with whatever the SPK that provides fpcalc is ;)

[2015-06-02 21:23] Diaoul commented on #1737
Try running `/var/packages/sickbeard-custom/scripts/start-stop-status start` in SSH, there might be some information here.

[2015-06-02 21:24] Jumbotroll commented on #1478
@gkroone Great work!
Openzwave is listed in hardware devices :-)
Compiling went fine, but I have to move libopenzwave.so files from folder open-zwave-read-only to folder stagging/lib and contiued compile.

Here you guys can download and test.
http://jadahl.dscloud.me/sspks/packages/domoticz_armadaxp-5.1_2.0.2514-18.spk
http://jadahl.dscloud.me/sspks/packages/domoticz_88f6281-5.1_2.0.2514-18.spk
ht

[2015-06-02 21:46] greeneka commented on #1690
The startup script seems to behave ok - if you stop redis using the script and then "Run" using the package center it starts ok, the only problem appears to be that the package center does not recognise that redis is running.

I'm not clear on what the package center does to decide whether the app is running - perhaps there is some specific return value that needs to come out of the script?

[2015-06-02 21:54] gkroone commented on #1478
@jumbotroll, Thanks for the confirmation that it works.

Strangely i did not have to do anything like moving libs manually that in my builds, nor did i encounter linking issue with missing -ludev

You didn't continue an older failed build did you? Also.. did you have it on all archs?

I did once see an issue with dangling symlink for libopenzwave.so in earlier build attempts due to outdated cross/

[2015-06-02 21:57] Diaoul commented on #1690
Yes, run the same script with `status` instead of `start`, this should output the correct status, if not, the script needs investigating.
The part responsible to report the status is this: https://github.com/SynoCommunity/spksrc/blob/master/spk/redis/src/dsm-control.sh#L29-L36
This is pretty standard so I'm not sure what's wrong. Maybe redis can't create the pid file for some reason?

[2015-06-02 22:02] Jumbotroll commented on #1478
I use newest build and compiling with Linux Mint on Virtualbox.
The same symlink problem on every arch.
Here is the message when I build:
Stripping lib/libopenzwave.so... chmod: cannot access ‘/home/jad/spksrc-libudev/spk/domoticz/work-armada370-5.1/staging/lib/libopenzwave.so’: No such file or directory
make[1]: *** [strip_target] Error 1
make[1]: Leaving directory `/home/jad/spksrc-libudev/spk/d

[2015-06-02 22:17] greeneka commented on #1690
Interesting - my script does not have the LOG_FILE set:

DiskStation> cat start-stop-status
#!/bin/sh

# Package
PACKAGE="redis"
DNAME="Redis"

# Others
INSTALL_DIR="/usr/local/${PACKAGE}"
PATH="${INSTALL_DIR}/bin:/usr/local/bin:/bin:/usr/bin:/usr/syno/bin"
USER="redis"
REDIS="${INSTALL_DIR}/bin/redis-server"
PID_FILE="${INSTALL_DIR}/var/redis.pid"
CFG_FILE="${INSTALL_DIR}/var/redis.conf"

start_d

[2015-06-02 22:59] greeneka commented on #1690
Ok - tried chown-ing to a non-root user (to match other packages dirs) with no joy.

Also tried removing all "echo"s from the script, just in case that was confusing things.

Finally tried *always* returning 0, regardless of actual status.

All to no avail - at this stage I think I'm going to call it quits (for today, at least)

[2015-06-02 23:50] nickbroon opened #1739 "tt-rss now git only, no longer doing periodic releases"
See https://tt-rss.org/forum/viewtopic.php?f=10&t=3262
SynoCommunity is using the very old 1.14 release, while there have been 139 commits since then. See https://github.com/gothfox/Tiny-Tiny-RSS/compare/1.14...master
Can the tt-rss spksrc be updated?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/19895569-tt-rss-now-git-only-no-lon

[2015-06-03 04:58] gkroone commented on #1478
libopenzwave.so should be a symlink to libopenzwave.1.3.so do neither exist in staging dir or is the symlink just missing?

What's listed in work*/openzwave.plist  ?
(naming could be off. Im doing this reply from my mobile phone..)

[2015-06-03 05:40] spz82 commented on #1738
this do not help, maybe because there is no lib folder in /usr/local/chromaprint/ :D (only bin and app there).
I workarounded both issues (by taking libs from different ipkg package), but wanted to report here at the source of packages that something is wrong with them.

[2015-06-03 06:04] rednoah commented on #1738
I'd like to add that at least on my DS213J (armada370) things work right out of the box.

`Linux DiskStation 3.2.40 #5565 Mon May 11 02:11:58 CST 2015 armv7l GNU/Linux synology_armada370_213j`

chromaprint doesn't seem to have a lib folder, but the executable work just fine for me:
`$ ls /usr/local/chromaprint/`
`app bin`

[2015-06-03 08:47] kimpenhaus commented on #1737
Thanks - I managed to get it working again.

The problem was that _/etc/passwd/_ was modified and the shell for the app-accounts for the custom services was modified to _/sbin/nologin_ which causes the error. Switching back to _/bin/sh_ solved my issues.

[2015-06-03 08:59] Dr-Bean commented on #1737
Eh? I don't think Synology's Git package does that...

[2015-06-03 09:23] kimpenhaus commented on #1737
No clue if it does or not - all I can say is *it was modified* and all I did was to install the git-server package and did a restart.

[2015-06-03 10:59] Dr-Bean commented on #1715
Done with https://github.com/SynoCommunity/spksrc/commit/0a3851f7255ace78020d49662ce18e9a910b7491

[2015-06-03 10:59] #1715 closed

[2015-06-03 11:02] Dr-Bean commented on #1700
Updated Python to 2.7.10 with https://github.com/SynoCommunity/spksrc/commit/298ccfcb4eb374484e3366424223cc1d38d09ae8.
Building now...

[2015-06-03 11:07] AxelF0ley commented on #1738
Confirmed. With the latest MediaInfo 0.7.73-2 (that installs libemediainfo.so) and Chromeprint 1.2-1 (that installs fpcalc), both the library (libmediainfo.so) and the utility (fpcalc) have issues.

I have a DS1812+ with DSM 5.2-5565. Here's the uname output:

[Wed Jun 03 12:59:10 root@nas:/volume1/@appstore/filebot]# uname -a
Linux nas 3.10.35 #5565 SMP Mon May 11 02:14:34 CST 2015 x86_64 GNU/Lin

[2015-06-03 11:19] Amelandbor commented on #1700
Thanks, build 2.7.9-13 yesterday and it's working, so let's see if update works as expected :)

[2015-06-03 12:23] Diaoul commented on #1737
Can you report this to Synology? Their package should not set `/sbin/nologin` for all users.

[2015-06-03 12:28] Dr-Bean commented on #1737
That's exactly what it does (and that is a bug which Synology should fix).

But, my remark was directed at your comment: `app-accounts for the custom services was modified`.
I cannot reproduce that. As far as I can tell, `Git` only changes the accounts which you provide access via the `Git` interface, and our application users aren't visible there.

[2015-06-03 12:37] cytec commented on #1738
strange... Quick fix should be: installing `ffmpeg` which contains `libmp3lame.so`... then `LD_LIBRARY_PATH=/usr/local/ffmpeg/lib fpcalc` should work...

@Diaoul @Dr-Bean maybe we'll have to change `BUILD_DEPENDS` back to `DEPENDS` for `cross/chromaprint` or include `cross/lame` in `DEPENDS`

[2015-06-03 12:47] Dr-Bean commented on #1738
Right. If even one file from the depends is actually needed in the SPK, then `BUILD_DEPENDS` isn't the right thing to use. I didn't notice that when I mentioned it in the PR.

Either of your solutions would work, I guess (assuming you can compile `cross/lame` on its own, dunno). The first one seems more correct, but it means more cleanup is needed (or simply ignore that it's there, also possible).

[2015-06-03 12:47] cytec commented on #1738
@AxelF0ley @spz82 Mediainfo is working fine as far as i can see... have you tried running `/usr/local/mediainfo/bin/mediainfo`?  if that runs, it can't be the library because `mediainfo` needs `libmediainfo.so` to run ;)

[2015-06-03 12:57] spz82 commented on #1738
overall `/usr/local/mediainfo/bin/mediainfo` seem to work.
while `/usr/local/mediainfo/lib/libmediainfo.so` cannot be loaded by FileBot (and another libmediainfo.so version from different source can...)

[2015-06-03 12:58] Dr-Bean commented on #1729
Let's close this for now. If you run into issues/questions, feel free to reopen. Otherwise, I assume we can expect a PR for the new package in due time ;)

[2015-06-03 12:58] #1729 closed

[2015-06-03 13:02] cytec commented on #623
@fn002449 nope, there is a ffmpeg SPK available on SynoCommunity and also there is a new Work in Progress PR for an updated version of ffmpeg here: https://github.com/SynoCommunity/spksrc/pull/1662

[2015-06-03 13:04] cytec commented on #1738
i guess you'll have to report that upsream then, as i mentioned above `/usr/local/mediainfo/lib/libmediainfo.so` is loaded by `/usr/local/mediainfo/bin/mediainfo` so maybe filebot got something wrong there :/

[2015-06-03 13:24] spz82 commented on #1738
@rednoah so far I thought that linux-x86/ is not meaningful, but is it possible that it is folder name?

btw, @cytec you've mentioned ffmpeg package - is Intel version available on SynoCommunity repo? I see that on https://synocommunity.com/packages but do not see it via my DS712+ Package Center

[2015-06-03 13:33] cytec commented on #1738
@spz82 seems like there is only avoton and alpine available on synocommunity... i'm currently working on an updated version of ffmpeg, which can be found here: http://cytec.us/syno/test-spk/ffmpeg/ there is also a x64 SPK ;)

[2015-06-03 13:36] spz82 commented on #1738
@cytec danke :)

[2015-06-03 13:37] larsimmisch commented on #1729
Thanks, yes. I'm still working on it - I have an installable package, but the dependencies aren't right yet, so it doesn't run yet (also, bafflingly, the #! for python3 is wrong in the installed script). I'll look at it more and reopen when I get truly stuck or send a pull request. I appreciate your help so far.

[2015-06-03 13:44] Jumbotroll commented on #1478
No worries @gkroone
I will look at it later... two extra keystrokes then it goes smoothly anyway.

@mvveelen
Have you tested latest build with openzwave?

[2015-06-03 13:51] mvveelen commented on #1478
Hi Jumbotroll, no I haven't yet. Just saw the update and I'm very busy at the office at the moment. I will try it tonight ;-)

[2015-06-03 13:54] rednoah commented on #1738
@spz82 Ignore that error message. It's misleading. It'll first search the library path, and if no library can be found or loaded, then JNA will try non-system locations and that's why you get that error.

[2015-06-03 13:57] rednoah commented on #1738
@spz82 I'd try grabbing the latest libmediainfo binaries from one of the official Debian packages and try with those. Just to show that FileBot/JNA can load the latest library, because I suspect making it work is a matter of some minor compiler settings.

[2015-06-03 14:04] Dr-Bean commented on #1729
I'd suggest to start your python script by using `${PYTHON3} <your script location>`. If you've correctly specified the correct location for the Python3 binary in `dsmcontrol.sh` (which should be in the virtualenv you created during installation), it won't care what the shebang looks like.
Take a look at other Python-based packages (sickbeard/couchpotato) for example: they use the same approach, a

[2015-06-03 14:17] kimpenhaus commented on #1737
Ah I see - I changed the user id's of the app's to a range which makes them visible in dsm. (I remember something above 1000). Should be the reason why they are affected by the '''Git''' package.

[2015-06-03 14:23] Dr-Bean commented on #1737
That's what I expected :) Thanks for letting us know.
Although there's not much we can do about it ourselves, I would second Diaoul's suggestion to report this to Synology. Disabling shell access for users when reverting/uninstalling their package should not happen: instead, it should revert to the original shell.

[2015-06-03 14:30] kimpenhaus commented on #1737
Absolutely!

You guys have any idea where to place the bug? forum - support - email? Haven't found any official bug-tracker so far at the synology page.

[2015-06-03 14:34] Dr-Bean commented on #1737
I'd recommend the support form: https://myds.synology.com/support/support_form.php.

[2015-06-03 14:39] fn002449 commented on #623
Ah!! Thx.. its working!! :)

[2015-06-03 14:49] kimpenhaus commented on #1737
Thanks - I reported the problem to the support and received a ticket number. Once I got feedback I will keep you guys up to date.

[2015-06-03 15:10] G1zm0 commented on #1346
@cytec could you update the packages to the latest beta (3.0.5621.2)
I would like to test the improvements (Dramatically Reduced Transcoding CPU Usage)

[2015-06-03 16:59] mvveelen commented on #1478
I've moved the old scripts folder (I made a backup) to:

/domoticz/var/scripts/

whereas it was (as I recall):

/domoticz/scripts/

Now everything seems to work. I'm only wondering how this is with the scripts directory: is it a fault ? Or is this the new location and do I have to edit the scripts....?

[2015-06-03 17:18] gkroone commented on #1478
@mvveelen, in this version all user configurable files have moved to /usr/local/domoticz/var/ this includes the scripts and backups directory's. When upgrading from spk revision 6 or lower, the user configurable files should be automatically moved. Do you remember from what revision you upgraded? The spk revision nr is the number
after the domoticz rev nr. e.g. for spk rev 2 this would be domoticz

[2015-06-03 17:21] SugarDesigns commented on #1608
I can confirm that deleting the queue folder will solve any other problems relating the startup of the program.

[2015-06-03 17:22] mvveelen commented on #1478
I don't recall. I've upgraded from the prior version that Jumbotroll had on his Synology source.

But.....there was no subfolder named 'scripts' in the var folder. I'm glad I had a backup, so it works again, but there will be more users that will run into this problem I guess.

[2015-06-03 17:27] Jumbotroll commented on #1478
Sorry :-(
That's my fault..
I go back to the official standard revision number in next build.
My previously build was rev 6.
Current revision is 7 .

[2015-06-03 17:29] mvveelen commented on #1478
I see there is an update already. What to do now (in my case) ?

[2015-06-03 17:31] Jumbotroll commented on #1478
I will fix this later :-)

[2015-06-03 17:32] mvveelen commented on #1478
Sorry to be so direct, but what will be fixed?

Should I update to this last version or not? And others?

I just don't know what to expect, hence my questions :-)

[2015-06-03 17:36] Jumbotroll commented on #1478
I will fix the revisjon number only.
There is the same build, only rev number is different :-)
you can wait and download latest 2522 rev 7

[2015-06-03 17:48] mvveelen commented on #1478
So let me get this straight:

- the location of the scripts folder is new, they changed it to /domoticz/var/scripts/  ?
- after upgrading there wasn't a scripts folder -> this will be fixed?
- v2.2514 is what I have now, and there is an update now to v2.2522 but only with another rev number ?
- what should I wait for exactly ?

Mind you, I don't know about rev's, builds.....I only see the version

[2015-06-03 17:55] Jumbotroll commented on #1478
The location of the script folder i don´t know about, only the revisjon number will be fixed by me.
I messed up the revisjon number in earlier builds.
The script folders is changed in the source from domoticz i think.
New build for armadaxp v2.2522-7 is uploaded to my server.

[2015-06-03 17:59] mvveelen commented on #1478
Ok, the location of the scripts folder is just changed from source.

I decided to update again, but get a message: Failed to download "domoticz". I guess I have to wait...?

[2015-06-03 18:04] Jumbotroll commented on #1478
Maybe you have to download manually and install manually, because I messed up the rev number on my server. then you have to take backup of our settings and restore.
http://jadahl.dscloud.me/sspks/?arch=armadaxp

[2015-06-03 18:52] mvveelen commented on #1478
I' completely deleted Domoticz from my DS414 and reinstalled from the link you provided. Everything is running smoothly again.

[2015-06-03 19:22] Diaoul commented on #1735
Fixed

[2015-06-03 19:22] #1735 closed

[2015-06-03 20:34] iruyanka commented on #1733
I waited for updates for three months. I want to use the 1.6 version. If possible, please push.

[2015-06-03 21:10] MACE-Zer0 commented on #1738
On I386 doesnt work :

Synology-1813> filebot -script fn:sysinfo
FileBot 4.6 (r3052)
JNA Native: 4.0.0
MediaInfo: java.lang.UnsatisfiedLinkError: Unable to load library 'mediainfo': Native library (linux-x86/libmediainfo.so) not found in resource path ([file:/volume1/@appstore/filebot/FileBot.jar])
p7zip: Version 9.20 (locale=en_US.UTF-8,Utf16=on,HugeFiles=on,4 CPUs)
chromaprint-tools: fpcalc vers

[2015-06-03 23:23] liselorev opened #1740 "Package ownCloud: add configuration to use/force https (and alias)"
It would be more secure and customisable
if the package had an option (toggle?) to force the server to (only) be reachable through https,
optionally in combo with virtualhost (extra list of virtual hosts) and alias options

I had this running (in DSM 4.3 with owncloud 6.*?), and some updates later now this
stopped working.

I believe the situation asks for:

* owncloud/config/config.php to have

[2015-06-04 06:27] gkroone commented on #1478
for information: the location of the scripts folder has changed to meet spksrc requirements of having all user data in /var. for this, I have asked domoticz team to implement a patch to add an additional command line argument called -userdata, which was implemented in domoticz rev 2472. This avoids us from tracking all individual files that might be updated by the user after installation. we simpl

[2015-06-04 09:43] Dr-Bean commented on #1740
Owncloud has that option built-in: Go to `Admin` or whatever it's called. There are two checkboxes: `Enforce HTTPS` and `Enforce HTTPS for subdomains`.

You might want to also verify DSM > Control Panel > Web Services > `Enable HTTPS connection for web services` is enabled.

[2015-06-05 06:05] liselorev commented on #1740
indeed the enforce https allows the first portion (owncloud/config/config.php)
but not the embedding in the web-server configuration (the possible alias)...
However the latter may be considered something that synology should provide instead (?).

[2015-06-05 07:15] Dr-Bean commented on #1740
Put `Alias /whatever "/var/services/web/owncloud"` to `/etc/httpd/sites-enabled-user/com.synocommunity.packages.owncloud.conf` on the first line. Then restart Apache with `/usr/syno/sbin/synoservicecfg --restart httpd-user` or equivalent.

I don't see the added value for the package though. Note that the above might be reversed when a package update comes along, but other than that, it should work

[2015-06-05 07:48] Dr-Bean commented on #1700
Published Python 2.7.10-14.
I skipped `powerpc-4.0` and `ppc824x-4.2`. First fails on OpenSSL of all the things to fail on, second fails on uwsgi iirc...I didn't have the patience to figure that one out.

[2015-06-05 09:38] Dr-Bean commented on #1727
@cytec Nice work, that's exactly what I had in mind :) I've taken the opportunity to clarify some things directly in your comment.

As another addition to the list: I think a link to a general FAQ page would be helpful (user-focused, not developer-focused).
I have collected a couple small things to put there (mostly one-liner type of things), but one thing that should end up there are permissions-

[2015-06-05 12:14] LukePulverenti commented on #1346
cytec - Is there anything I can do to help? Any responsibility we can take over to make the packages more easily available? Thanks.

[2015-06-05 14:15] cytec commented on #1346
@LukePulverenti As far as i remember the only thing that still doesn't work is hardware acceleration support... ImageMagick was just recently merged and should popup on the Repo soon, so we just need to get ffmpeg done and then there shouldn't be any problems publishing emby as well ;)

Just like i said the lack of hardware acceleration support makes it pretty useless for ARM devices if you'll nee

[2015-06-05 14:17] LukePulverenti commented on #1346
Yes there is actually. You can disable transcoding at the server level. The client will direct stream if possible, and if not, it will present a friendly error message indicating that the media is unplayable based on configuration.

[2015-06-05 14:18] LukePulverenti commented on #1346
Although there is not such an option at the package level. But just so we're clear - you would prefer to prevent playback altogether rather than having it make an attempt?

[2015-06-05 14:22] cytec commented on #1346
well that sounds good to me then... @Diaoul @Dr-Bean what do you think? Personally (like i mentioned somewhere else already) patching ffmpeg for hardware accelleration support would be a lot of work from what i've seen by quickly scrolling through the ffmpeg source synology provides...

@LukePulverenti i _think_ disable playback altogether by default (on arm devices) prevents a lot of "playback is

[2015-06-05 14:32] #1739 closed

[2015-06-05 14:34] cytec commented on #1346
just scrolled through this thread http://emby.media/community/index.php?/topic/13890-emby-server-on-synology/ and it seems like i thought... already a lot of questions why it's not playing on arm devices via browser etc...

[2015-06-05 14:37] Dr-Bean commented on #1739
Package tt-rss 20150529-8 has been published. Thanks for the PR, @nickbroon ;)

[2015-06-05 14:42] LukePulverenti commented on #1346
That thread has a lot of "how to setup" questions. The thread was actually created before you introduced your package. It seems as though the more recent comments are improved, for example:

How to update to the new version, i transform my pc in a nas system now i have a DS3615xs processador intel i install emby and runs very smoth

[2015-06-05 15:06] cytec commented on #1346
yup saw that as well, but some ppl still asking why it's not correctly working on DS214play (arm) etc

[2015-06-05 15:06] Dr-Bean commented on #1346
My thoughts: We start off with a beta package. If feedback indicates it's a huge issue, we can always revisit the approach.
We might be able to get transcoding support in our ffmpeg package at some point, or the VideoStation verion can be configured with some manual labor (am I remembering that right?): imo, those are choices we want to leave open at this point.

[2015-06-05 15:08] LukePulverenti commented on #1346
If you want to disable transcoding by default, I can also add a command line switch for that.

[2015-06-05 15:09] cytec commented on #1346
@Dr-Bean ok then. so imho only ffmpeg needs to be merged/published and then we are good to go with emby beta as well :)

[2015-06-05 15:10] Dr-Bean commented on #1346
Time to get rid of the WIP tag on that PR then ;)

[2015-06-05 15:12] cytec commented on #1346
yeah... sadly i've trashed my VM with the most recent changes/cleanup for that PR, so i'll have to do it all over again and currently i'm lacking a little bit of time... hopefully i'll get to this soon :)

[2015-06-05 19:37] EZarnosky opened #1742 "SPK Request : HTPC-Manager Custom"
Is it possible that a HTPC-Manager Custom package be created, similar to the Sickberad Custom or the Headphones Custom? There is a fork of the original HTPC-Manager that has support for more apps (Sonarr, Plex, Headphones, just to name a few).

Link the fork I am referencing - https://github.com/Hellowlol/HTPC-Manager

Eric

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it

[2015-06-05 23:05] EZarnosky commented on #1742
Sorry I didn't see the previous request...

https://github.com/SynoCommunity/spksrc/issues/1441

[2015-06-05 23:05] #1742 closed

[2015-06-05 23:07] EZarnosky commented on #1441
Is anyone looking at this? If a Custom package is too much of a headache, what about a package containing the https://github.com/Hellowlol/HTPC-Manager fork?

[2015-06-06 00:54] Hellowlol commented on #1441
I added a small bounty since I can't do this myself.

[2015-06-06 01:33] EZarnosky commented on #1441
I see your $10 and raise you $5. :P

I would really like to see this, so I figure it is worth spending a little money of if the package is built right.

[2015-06-06 02:43] mcgouganp opened #1743 "Flexget broken by sqlAlchemy update"
Flexget no longer runs after Python update.

Commit 42292a48bd56c4004088f4fc47ac4f8b00d4222d which upgraded sqlalchemy to 1.0.4 breaks Flexget dependency.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/20696492-flexget-broken-by-sqlalchemy-update?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github)**

[2015-06-06 08:08] nineteenuk commented on #1743
Yes. Updated python 2.7 with offered update and Flexget stopped working.

[2015-06-06 08:10] Dr-Bean commented on #1743
The one package I didn't test...Yes, the Flexget package needs an update, it's already fixed upstream.

[2015-06-06 08:32] Dr-Bean commented on #1441
I say this is a request a starter should be able to handle with some effort, so if anyone wanted a chance to contribute, here it is ;)

Here are some basic pointers whoever picks this up:
- No `-custom` package, we'd rather move the functionality into the main packages.
- The recent sickrage package should work fine as an example. The main repository from styxit should be used as default.
- Note t

[2015-06-06 11:10] Dr-Bean commented on #1743
Flexget 20150606-5 has been published on the repository. Thanks for the reports :)

[2015-06-06 11:10] #1743 closed

[2015-06-06 11:32] mcgouganp commented on #1743
Thanks!

[2015-06-06 18:58] Hellowlol commented on #1441
Sounds good :)

[2015-06-07 01:31] cytec commented on #1441
That fork definitively looks interesting for me too. maybe i'll take a look at this :)

[2015-06-07 05:35] lostkt87 opened #1744 "New Python error with update"
Hello, not sure if anyone else is  experiencing the same issue. But after I updated Python sickbeard and Mylar. Bot have Python related errors... I've uninstalled all 3  then reinstalled, and still get the same thing....

Also is there a way to get the previous version of Python. Like a download link for an evansport synology ds214play.

Thank you for your time and any help suggested.

<bountysour

[2015-06-07 06:10] Hellowlol commented on #1441
My fork has some "requirements" that styxit does not have. None of this are required but some modules will not work/have reduced features

Paramiko (vnstat)
Pyopenssl
Open hardware monitor (stats)
smartmontools (stats)

[2015-06-07 07:22] martymoose commented on #1744
same here  she's a dead after update  DS412

[2015-06-07 08:12] Dr-Bean commented on #1744
Both the Sickbeard and the Mylar package worked when I tested. Couple questions:
- Check the log file. It's visible in DSM, but it's also available in `/usr/local/your-package/var`, makes for easier copy/pasting.
- Can you log in via command line (Putty), and enter the following command, followed by an enter:
`/var/packages/sickbeard/scripts/start-stop-status start`
For Mylar:
`/var/packages/mylar

[2015-06-07 08:23] Dr-Bean commented on #1441
@cytec Yeah, that's the idea. I don't particularly like the clone-on-install, but that's the price.

@Hellowlol About psutil: it contains C-extensions. We don't have the ability to compile on a Synology (applies to a lot of the consumer-grade NAS). If we have to cross-compile it, the compile time of the package goes up from 2 minutes to 45 or so. HTPCManager is quite lightweight otherwise, so we m

[2015-06-07 08:26] Dr-Bean commented on #1740
@liselorev Did my solution work for you?

[2015-06-07 08:27] Dr-Bean commented on #1720
@bladehawk Have you been able to verify the package works for you?

[2015-06-07 08:29] Dr-Bean commented on #1711
I'm closing this issue for now. Please see my previous comment for a couple of the questions we need answered before we can even assess whether a package can be created. Feel free to reopen/add the necessary information, and we'll go from there.

[2015-06-07 08:29] #1711 closed

[2015-06-07 08:31] Dr-Bean commented on #1700
Should be solved, so I'm closing this one. @Amelandbor If you run into issues, you know where to find us ;)

[2015-06-07 08:31] #1700 closed

[2015-06-07 09:00] Hellowlol commented on #1441
Aw, that would be a :/, well you can't if you can't. It just happens to be my favorite module. Does synology has access to a package manager like apt-get?

[2015-06-07 09:04] Dr-Bean commented on #1693
Compile the cross package for OpenIPMI on it's own first. When that completes successfully, only then try it as part of a larger package. Try the newer toolchains first: the older, the more limitations you'll probably see. So, enter `cross/package`, and do e.g. `make arch-bromolow-5.1`

I did the same for OpenIPMI, with the basic Makefile you see below, and I did not run into issues. Compare it wi

[2015-06-07 09:07] Dr-Bean commented on #1441
No...that's more or less the reason this project exists in the first place ;)

[2015-06-07 09:10] nineteenuk commented on #1743
Thanks too

[2015-06-07 09:21] nineteenuk opened #1745 "My Tweak - is this useful?"
Enjoying flexget on my synology DS214
One tweak I like to make and it's a little fiddly, is to direct the var folder to a shared folder (/volume1/homes/me/flexget), so that I can access the config.yml and log files from finder and windows explorer.
I also have to change the permissions for user flexget, but that's it.
- And I have to remember to back up the folder before any reinstall, as it vanis

[2015-06-07 09:25] Dr-Bean commented on #1745
What do you mean exactly with `direct the var folder to a shared folder`?

[2015-06-07 09:27] Dr-Bean commented on #1686
Closing due to lack of response.

[2015-06-07 09:27] #1686 closed

[2015-06-07 09:30] Dr-Bean commented on #1446
Seeing as the original issue was solved, let's close this. @Brontoloo Not sure if we can help with the performance of libfdk-aac at this time, but otherwise, let us know :)

[2015-06-07 09:30] #1446 closed

[2015-06-07 09:33] nineteenuk commented on #1745
I replace the /var/packages/flexget/target/var folder with a symbolic link to my target folder

[2015-06-07 09:53] Dr-Bean commented on #1745
I can see why that would cause problems...Take a look at https://github.com/SynoCommunity/spksrc/blob/master/spk/flexget/src/installer.sh#L101-L118 to see what happens during a package upgrade.

Maybe a symlink from /usr/local/flexget/var to /any/path/ would work better, instead of actually moving the dir?

[2015-06-07 10:05] nineteenuk commented on #1745
OK, so symlink from /usr/local/flexget/var instead of symlink from /var/packages/flexget/target/var
I think I tried that (no notes) without success.
I'll try again sometime

[2015-06-07 10:16] Dr-Bean commented on #1745
`var/packages/package/target` and `/usr/local/package` point to the same location, that's not the point ;)

What I was trying to say: leave the package data intact. Don't move it around, that will only cause issues similar to what you're seeing, or worse: you might lose your configuration if something isn't setup correctly.
Instead of moving the package data, create a symlink _to_ the package data

[2015-06-07 11:21] Hellowlol commented on #1441
Hehe, I should have thought that myself :p

[2015-06-07 12:43] nineteenuk commented on #1745
Yes, I've tried that too. If I create a symlink in one of the shared
folders, it does not behave as a symlink in finder (I don't think i checked
it from windows explorer).
As I say, it works well enough for me to edit the config.yml (series,
schedules etc) and check the flexget.log files without phaffing around with
terminal, putty or winscp. Of course what I really need is a web interface
;-)

On

[2015-06-07 12:57] lostkt87 commented on #1744
Uncaught exception: Traceback (most recent call last):
File "/volume1/@appstore/mylar/share/mylar/mylar/logger.py", line 159, in new_run
old_run(*args, **kwargs)
File "/usr/local/python/lib/python2.7/threading.py", line 763, in run
self.__target(*self.__args, **self.__kwargs)
File "/volume1/@appstore/mylar/share/mylar/mylar/importer.py", line 451, in addComictoDB
shutil.copy(coverfile, comiclocal)

[2015-06-07 12:59] lostkt87 commented on #1744
This is what I'm getting anytime I add a series. Worked just fine before I updated Python. I can't add anything. And sickbeard starts, but when I try to add shows, it searches forever.

[2015-06-07 13:12] Dr-Bean commented on #1744
That looks like a permissions issue to me. The `users` group should have read/write permissions on each of those directories (so `Comics`, `Marvel`, `Groot (2015)`. Unless you manually changed the package user or something like that.

As for Sickbeard, can't reproduce it. Check the debug log of Sickbeard. If might have issues with connecting to tvdb/tvrage, but there's nothing that we can do about

[2015-06-07 13:22] Dr-Bean commented on #1745
As I said, it's not a supported configuration either way. Best bet is to stick with CLI (or WinSCP/equivalent if you prefer GUI), but that's up to you. If you're okay with your current approach, with the shortcomings and risks, sure.

As for the web interface: that's a subject for the Flexget bug tracker. There's nothing we can do about that from here.

[2015-06-07 13:22] #1745 closed

[2015-06-07 15:28] steef84 commented on #1478
@Jumbotroll Are you updating qoriq build (213+) anyday soon? Qoriq build is still is on 2400.

[2015-06-07 15:50] mtompkins opened #1746 "ADDITIONAL_SCRIPTS not processing correctly"
I have tried to use the ADDITIONAL_SCRIPTS env. variable to copy a script from a src folder to the produced package. This does not seem to complete successfully.

I have tried:
`ADDITIONAL_SCRIPTS = src/someScript.sh`

The error is in the copy command submission:
`cp: missing destination file operand after ‘.../work-cedarview-5.1/scripts/someScript’`

I've confirmed using $(MSG) that it is not rec

[2015-06-07 16:00] Jumbotroll commented on #1478
Sorry steel84, the compiling on qoriq failed with this message.
Maybe gkroone have å solution?
libudev/libudev-monitor.c: In function 'udev_monitor_new_from_socket':
libudev/libudev-monitor.c:153: error: 'SOCK_NONBLOCK' undeclared (first use in this function)
libudev/libudev-monitor.c:153: error: (Each undeclared identifier is reported only once
libudev/libudev-monitor.c:153: error: for each funct

[2015-06-07 16:02] nineteenuk commented on #1745
It really isn't a problem. I've been using  older versions of flexget for
many years now, and moved to this installation a few months ago for the
improved scheduling.

Keep up the good work.
On 7 Jun 2015 2:22 pm, "Dr-Bean" <notifications@github.com> wrote:

[2015-06-07 17:04] cytec commented on #1441
Well vnstast can be installed with ipkg but maybe we can provide something like an extra SPK containing those tools?

So that we have a small HTPC-Manager SPK wich just installs HTPC-Manager itself and a "addon" for those tools which need croas compilation?

[2015-06-07 17:14] Dr-Bean commented on #1441
The issue isn't the cross-compiling in itself ;)
Currently, HTPCmanager is a noarch package. If we add psutil (Python module, mentioned in the requirements file over on @Hellowlol's fork), we need to cross-compile that.

That means that HTPCmanager is no longer noarch, so we need to compile the 20-something packages, including the cross-compilation of Python, at ~45 minutes per package (or however

[2015-06-07 17:22] liselorev commented on #1740
Hi, @Dr-Bean, thanks for the solution,
I had discovered the solution myself before posting, however posted the suggestion ot extend because indeed if it is not made in some package, an update overwrites (or might) the changes.

[2015-06-07 17:33] Hellowlol commented on #1441
Psutil is also in stout version btw. It's not unique for mine

[2015-06-07 17:46] bladehawk commented on #1720
No,  I got involved with other things and haven't tried it. I'd need a trial news server account and ive been too busy.

Lance Druger
925-330-5852

On Jun 7, 2015, 1:27 AM, at 1:27 AM, Dr-Bean <notifications@github.com> wrote:

[2015-06-07 20:01] Diaoul commented on #1441
What about putting that in the Python SPK?

[2015-06-08 08:23] cytec commented on #1441
here you go:
https://github.com/SynoCommunity/spksrc/pull/1747

[2015-06-08 08:26] Diaoul commented on #1441
@cytec: that doesn't solve the psutil issue.

[2015-06-08 08:29] Diaoul commented on #1441
Also as that will replace the old package you need to add safeguards to prevent package update from a previous version and force reinstall and you need to replace "fork" with "source" in "Choose your fork" as we don't provide the "original" by other means.

[2015-06-08 08:56] cytec commented on #1441
@Diaoul psutil is optional and HTPC-Manager is working without it as well... if it __must__ (for whatever reasons) be included i think it would be best to go with your approach and add it to the python SPK itself.

Any hints on how to force the reinstall stuff?

[2015-06-08 09:41] Diaoul commented on #1441
Take a look at HAProxy I believe there are some versions that force reinstall.
Yes it's the same in french.

[2015-06-08 10:29] Amelandbor commented on #1700
Updating worked, thanks again @Dr-Bean

[2015-06-08 11:44] xmrflipflop opened #1748 "Cross compiling GCC"
Hi all, I'm new to SynoCommunity and spksrc so please bear with me. I don't think I've found a SynoCommunity forum so I'm seeking help for my struggles here, redirect me if there's a more suitable place.

In short: I'm trying/failing to cross compile GCC for use on my DS215j (Armada 375). All the build errors are related to architecture, such as architecture not found. Which leads me to think it c

[2015-06-08 13:20] gborri commented on #1744
For me the problem is related to cheetah module:

DiskStation> python SickBeard.py
The Python module Cheetah is required

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named Cheetah

[2015-06-08 13:21] gborri commented on #1744
looking around i have seen that there is a python executable in dir /usr/nbin that is 2.7.9.
the module shouldn't override this executable?

[2015-06-09 05:57] mvveelen commented on #1478
I'm having serious troubles since last night. I'm using (now) the latest version of Domoticz (V2.2533) in combination with DSM 5.2-5565 update 1 on my Synology DS414 and what I try: the USB devices are not recognized.

The troubles started when I rebooted my Syno last night, and I THINK it might have to do with the DSM version icm with the USB drivers. Can anyone check this for me?

I also tried t

[2015-06-09 06:40] LouiS22 commented on #1478
There were changes to json, couldn't some script of yours entered into loop?
2015. jún. 9. 7:57 ezt írta ("mvveelen" <notifications@github.com>):

[2015-06-09 08:40] Dr-Bean commented on #1740
Thanks for the suggestion, but we won't be adding it to the package :)

Owncloud is available on its main path: `/owncloud` by default, which is sufficient for almost all users.
If you want to add more advanced changes, redo those changes after package upgrades come in via SynoCommunity, or you may even want to repackage with your changes.

[2015-06-09 08:40] #1740 closed

[2015-06-09 08:46] Dr-Bean commented on #1720
I'll close this issue for now then. Reopen if you run into issues with the package, or maybe better, take a look at https://github.com/SynoCommunity/spksrc/issues/249, where the original discussion on newznab takes place.

[2015-06-09 08:46] #1720 closed

[2015-06-09 09:06] mvveelen commented on #1478
I'm trying even without the scripts: same error. Isn't the DSM version in combination with the USB drivers the problem? Can someone confirm?

[2015-06-09 09:07] Dr-Bean commented on #1746
Hm. I think I actually broke that with the FWPORTS addition... It was never caught before because ADDITIONAL_SCRIPTS hasn't been used in ages.

Usually, a different method is used: add the scripts to `${INSTALL_SCRIPTS/bin`, instead of putting other scripts in with the start-stop scripts. Example: https://github.com/SynoCommunity/spksrc/blob/master/spk/selfoss/Makefile#L40.

[2015-06-09 09:24] Dr-Bean commented on #1746
Can you test this: In https://github.com/SynoCommunity/spksrc/blob/master/mk/spksrc.spk.mk#L244, edit the line like this:
[code]

[2015-06-09 09:34] Jumbotroll commented on #1478
Same problem here after update to DSM 5.2-5565 Update 2.
USB devices not found by domoticz.
My solution was: downgrade to domoticz 2522 or 2525, after downgrade, unplug USB devices and plug in again. restart domoticz from synology package manager.

[2015-06-09 09:45] mvveelen commented on #1478
I'll try that when I get home....thanks. Any updates from the package guys :) ?

[2015-06-09 17:08] mtompkins commented on #1746
Thanks for the quick response. That ADDITIONAL_SCRIPTS Env Variable was just so *elegant* that I figured I'd mention it. Indeed I have been working around it by adding the manual copy as you referenced.

That change does address the issue and works.
(I didn't test for any impact to the FWPORTS var as it looked simple enough.)

[2015-06-09 17:13] mvveelen commented on #1478
I've updated to DSM 5.2-5565 Update 2 (and turned off the automatic updates....), downgraded to 2525, and followed the steps: now it's working again ! Thanks, and I hope it will be fixed soon for future versions.

[2015-06-09 19:27] capkokoon opened #1749 "ruTorrent not compiling / rakshasa.no down"
Hi everyone,

Since rakshasa.no is down for several weeks, it might be a good time to modify the ruTorrent package so it can clone the libtorrent and rtorrent repositories directly from GitHub rather than downloading archives. I tried to make the modifications myself (adding new urls and new checksum), but the compilation fails when it tries to patch the libtorrent configure file for cross compili

[2015-06-10 08:58] Diaoul opened #1750 "[Package Request] Ubooquity"
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/21362459-request-ubooquity?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github).
</bountysource-plu

[2015-06-10 10:03] manuel-at-git opened #1751 "Package ownCloud 8.0.2-6 : Failed to install "owncCloud"."
wanted to install ownCloud 8.0.2-6 from the synocommunity repository
on a: DS415+, DSM 5.2-5565 Update 2, 2015/05/29
MariaDB installed; rootPW set;

install dialogue in the package-center works out until i get to the window named "Confirm Settings". after klicking "Apply" a messagebox says:

Failed to install "ownCloud".

---

whats puzzling me is, that there is not much information in the logs ei

[2015-06-10 10:56] cytec commented on #1750
ha @Diaoul not following the rules at all :D... hope i got the right one:

Website: http://vaemendis.net/ubooquity/
Description: Home server for comics and ebooks
Documentation: http://vaemendis.net/ubooquity/static5/documentation
Source code: http://vaemendis.net/ubooquity/static2/download (no source code available)
License: custom? free for non-commercial use

[2015-06-10 10:59] Diaoul commented on #1750
You got me. I saw a post on a forum and posted it here as a reminder.
Thanks for getting the information

[2015-06-10 11:03] Dr-Bean commented on #1751
Can you confirm that you've applied step 1 over on https://synocommunity.com/#easy-install?

[2015-06-10 12:41] Dr-Bean commented on #1749
I would suggest using the releases tagged on Github, instead of cloning the source. Anyway, you need to run `./autogen.sh` first, and then apply the patch (assuming it still applies cleanly).

[2015-06-10 20:18] Zetten commented on #1674
For what it's worth, the upgrade seems to have been perfectly smooth for me by simply changing `spk/syncthing/Makefile` and `cross/syncthing/Makefile` to reflect the new version number (0.11.8). The actual compilation went off almost without a hitch - I needed a full clean of the go build path; I think some 0.10.x binaries were getting in the way.

After that, the installation on my NAS (DS414, ar

[2015-06-10 23:23] DaftHonk commented on #1674
I also built a spk for my 1813+ in the same manner, but after running the package for a short time Package Center says the package is stopped but the Web interface is still accessible. A minor inconvenience but will need to track down the cause nonetheless. May be related to auto updates.

[2015-06-10 23:32] capkokoon commented on #1749
Yep, it works thanks to the autogen.sh script (the patch applies), until a certain point ... It appears that libtool is missing from the toolchains (even though it is set up on my VM)

##kokoon@debian:~/spksrc/spk/rutorrent$ make arch-armadaxp
===>  Building package for arch armadaxp
make[1]: Entering directory '/home/kokoon/spksrc/spk/rutorrent'
===>  Processing dependencies of rutorrent
make[2]:

[2015-06-11 07:31] ctve commented on #1478
Hi,

I've had the same problem as mvveelen and it's now solved using the solution given by Jumbotroll.

But, before that, and while trying to solve it, I've installed the "USBSerialDrivers Test Only" from  http://jadahl.dscloud.me/sspks/.

I've now stoped this package but it's impossible to remove it with the package manager. I get the message "Echec de l'opération" in French (my NAS is a French o

[2015-06-11 08:47] Dr-Bean commented on #1749
A copy of `libtool` is generated in the working directory during execution of ./configure (or more specifically in the case of libtorrent: because `GNU_CONFIGURE = 1` is set).
So, either you skipped executing `./configure`, or one of the previous steps failed to execute correctly.

I'd suggest to work step by step.
First, verify that, at the very least, all the requirements are installed. There mi

[2015-06-11 09:34] mvveelen commented on #1478
Guys,

will there be an update for domoticz in combination with the latest DSM 5.2 any time soon? I'm having troubles with my Z Wave network not being stable as it was in the later versions of Domoticz. At least I think that's the reason why suddenly my Z Wave network isn't that strong, it's happening since the downgrade.

[2015-06-11 10:24] manuel-at-git commented on #1751
dammit ... reading might have helped. sorry and thanks!

however, i encountered another (minor) issue. somehow the installer cannot create the direcotry by himself (/volume1/owncloud) ... but if i create the directory manually (via root@ssh) it works out of the box.

-m

[2015-06-11 10:57] TimVNL commented on #1674
Can't we make a new spk with the name syncthing-0.11 so both versions are present in Package Center?

[2015-06-11 11:45] gkroone commented on #1478
Problem is that spksrc Toolchains are not there for dsm 5.2. Not really
related to domoticz i think.
Op 11 jun. 2015 11:34 schreef "mvveelen" <notifications@github.com>:

[2015-06-11 11:48] Zetten commented on #1674
@DaftHonk My package has been in the 'running' state happily since I posted originally (less an internal restart or two for config changes), but I'll definitely keep an eye on it. How long did it take for the issue to present itself?

@TimVNL That makes some sense given the protocol incompatibility, but the main issue I can see would be handling the upgrade from 0.10.x to 0.11.x. The file index do

[2015-06-11 11:59] mvveelen commented on #1478
What does that mean exactly? Do we have to wait until the Toolchains (whatever that may be) will be there and will an update for Domoticz only be possible after that? Don't know what to do at the moment with this older version of Domoticz.

[2015-06-11 12:26] Dr-Bean commented on #1751
Our installers don't (ever) created directories, besides the package dirs. Create a shared folder in DSM, and use that during the installation wizard of Owncloud. Probably easier for most people than creating the dir via CLI, and it's easier to manage the permissions from the DSM interface too.

[2015-06-11 12:26] #1751 closed

[2015-06-11 12:42] Dr-Bean commented on #1674
Simply put: Until the Syncthing devs say that 10.x cannot be upgraded to 11.x, there's no need to consider other options.
When someone (anyone) gets around to opening a PR with the correct changes, tested and proven: great, that would be appreciated.

[2015-06-11 17:41] Zetten commented on #1674
There it is, but as mentioned it would be great for some additional feedback on the new package from other testers. I haven't noticed the 'running-but-not' problem myself yet - it all looks good to me.

[2015-06-11 18:32] Dr-Bean commented on #1703
Not sure which model identifies as `alpine4k` (could be either DS215+, DS715 or both), but we should set `TC_ARCH = alpine alpine4k` in the Alpine 5.2 toolchain Makefile.

For x64, we could consider setting `TC_ARCH = x86 bromolow cedarview avoton bromolowESM braswell grantley broadwell`, although a number of the associated models haven't been released yet (and that might never happen for all we k

[2015-06-11 19:34] avercoutere opened #1753 "undefined symbol: _PyErr_ReplaceException error after python 2.7.10 upgrade"
Hi,

I'm a DS214play user and i experience error when starting sabnzbd, headphones, sickbeard, maraschino and couchpotato since i've upgraded my synocommunity python package to 2.7.10

Here's some trace of headphone start :
[code]
I have ipkg installed but i tried to remove all $PATH and $LD_LIBRARY_PATH relative to /opt without success.

I've tried uninstall pyhton and all relativ packages and re

[2015-06-11 19:38] avercoutere commented on #1753
Forgot to say that after some research it's look like this bug http://bugs.python.org/issue23781. but it seems that it was corrected in pyhton 2.7.10 as explain here https://fossies.org/diffs/Python/2.7.9_vs_2.7.10/Include/pyerrors.h-diff.html

[2015-06-12 00:17] DaftHonk commented on #1674
I created my initial package with release 0.11.6 so I believe the 'running-but-not' issue occurs when the program auto-updates. It hasn't occurred again since it updated to 0.11.8.

[2015-06-12 07:56] Zetten commented on #1674
Ah, I see. I do vaguely recall a similar thing happening to me after an auto-update on the 0.10.x line as well, so it may not be related to the 0.11.x upgrade. That was ages ago so I could be mistaken though.

Does the auto-update mechanism also change the package metadata reported through the Package Center?

[2015-06-12 08:51] Dr-Bean commented on #1753
I've looked at the Python package sources I used for the packages, and that patch is indeed included.
Also, I've tested most of the packages you mentioned on a quite similar arch (bromolow) and didn't see any errors.
Seems it's a local issue seeing as you're the only one reporting it, but either way, I don't have a fix other than reinstalling.

[2015-06-12 08:53] Dr-Bean commented on #1749
Found it. Replace `@$(RUN) ; libtool` with `@$(RUN) ; ./libtool` in rtorrent's Makefile.

[2015-06-12 08:55] Dr-Bean commented on #1746
Note: Testing of FWPORTS needed before merging this fix.
@mtompkins Thanks for testing ;)

[2015-06-12 09:03] Dr-Bean commented on #1753
@cytec  @Diaoul FYI, I changed the name for the labels`status/closed/cannot-reproduce` to `status/cannot-reproduce` (`status/closed/duplicate` to `status/duplicate` to keep in line with the rest).
I want to be able to keep this type of issue open for a bit, but still use an appropriate label.

[2015-06-12 09:18] Diaoul commented on #1753
It's possibly related to DSM 5.2 update, maybe a toolchain update can fix this. Seems like something very arch-specific hence @Dr-Bean cannot reproduce it.

[2015-06-12 09:18] Dr-Bean commented on #1734
Installing Debian-chroot takes a while. If you can open the Debian-chroot link in the menu, then it appears to be working as expected (well, maybe except for the status reporting in Package Center)

Assuming the issue still occurs, what happens when you run the start-stop-status script manually:
`/var/packages/debian-chroot/scripts/start-stop-status start` (replace `start` with `stop` to stop, or

[2015-06-12 09:41] avercoutere commented on #1753
@Dr-Bean Thanks for the time, i think you're right that it's a local issue. I have several problems concerning python, ipkg, gcc, syno binary vs ipkg binary... I have switched every python startup script to /opt/bin/python and installed every librairies needed and it worked for the moment.

@Diaoul you say "toolchain update can fix this", how i managed this ? I've bootstrap my syno again yesterday

[2015-06-12 11:05] danielvonmitschke commented on #1734
@Dr-Bean thank you. i already solved it by building my own spk package.
this one worked flawlessly.
maybe something was wrong with the pre-build package.

[2015-06-12 11:39] Diaoul commented on #1753
You don't need to bootstrap your NAS to benefit from packages made by SynoCommunity.
Optware is abandonned so I can only suggest you don't use it exposed to internet and/or for anything critical.

[2015-06-12 11:40] Diaoul commented on #1753
Toolchains needs to be updated in spksrc, it's nothing you can do on your side for now.

[2015-06-12 11:56] Dr-Bean commented on #1753
Toolchains don't seem all that likely to me though. Just confirmed Python can import io without issues and Headphones runs fine on Bromolow DSM5.2 with current toolchains.

So, it's either Evansport arch in particular (even though Bromolow and Evansport aren't even all that different, or it's local issue (meaning: this particular device). The latter seems the most likely to me, tbh.

[2015-06-12 11:59] Dr-Bean commented on #1734
Well, perfect. Closing as resolved: unless other people come forward that Debian-Chroot doesn't work on their end, I'm going to assume the package is fine ;)

[2015-06-12 11:59] #1734 closed

[2015-06-12 12:27] danielvonmitschke commented on #1734
@Dr-Bean I forgot to mention that I (manually) built the package with the DSM 5.2 toolchain.
maybe that made the difference.

[2015-06-12 12:38] Dr-Bean commented on #1727
Add section on how to open an issue. Some points off the top of my head:
- Mention model and arch (link to our wiki)
- Mention DSM version
- Provide log files (most packages: check Package Center/Show log, or `/usr/local/{package}/var/`. Probably mention WinSCP/whatever the MAC equivalent)
- Run package via CLI: `/var/packages/{package}/scripts/start-stop-status start`, and provide output. Probabl

[2015-06-12 12:46] Dr-Bean commented on #1734
Thanks for the info. Can't reproduce it on 5.2 myself, and I'm not sure the new toolchains will have a big effect on a package such as Debian-chroot. We'll be including the new toolchains at some point though.

[2015-06-12 13:03] richardhopton opened #1754 "OpenSSL 1.0.2a 404 Not Found"
When running a make on a spk the following error occurs:-

===>  Downloading files for openssl
wget http://www.openssl.org/source/openssl-1.0.2a.tar.gz
http://www.openssl.org/source/openssl-1.0.2a.tar.gz:
2015-06-12 12:51:43 ERROR 404: Not Found.

If this specific version is required then the url is now... http://www.openssl.org/source/old/1.0.2/openssl-1.0.2a.tar.gz or https://github.com/openssl/

[2015-06-12 13:10] Dr-Bean commented on #1754
Let's use `PKG_DIST_SITE = ftp://ftp.openssl.org/source` instead. That contains both current and previous releases.

[2015-06-12 15:03] richardhopton commented on #1754
Have created a PR for this change...
https://github.com/SynoCommunity/spksrc/pull/1755

[2015-06-12 23:23] sardigital commented on #1522
@cytec All working fine! please build start-stop service ^_^

[2015-06-13 08:31] Dr-Bean commented on #1744
@lostkt87 @martymoose Any updates to report?

[2015-06-13 08:55] danfozzy commented on #671
Looking at replacing my ds212+ with the new ds715. Is it to early to say if these packages will be supported on there, as I know some archs aren't able to run certain apps.

it's running on a Alpine AL-314

[2015-06-13 10:09] capkokoon commented on #1749
It works ! Is there a way to include the execution of autogen.sh in the Makefile script ? atm I have to stop the compilation to force ./autogen.sh and then relaunch it.

[2015-06-13 12:03] lostkt87 commented on #1744
All good now

Sent from my iPhone

[2015-06-13 12:21] gkroone commented on #1703
@Dr-Bean, I started creating the new toolchain and kernel directories and already I have most of the toolchains setup and kernel modules are compiling for the ones I created them. For qoriq kernel modules, I had to add a patch to make them compile, which I found on bugzilla for an earlier kernel version and modified so it applies. It can use some cleanup as it applies with offset messages, but wor

[2015-06-13 12:28] gkroone commented on #1703
also it's unclear to me why there's multiple toolchains posted for the same arch, so I picked the most obvious ones, but unsure if that's correct.

[2015-06-13 12:28] Dr-Bean commented on #1703
Nice :) I had been working on it myself a day or so ago: just about finished the toolchains, and was halfway through the kernels (well, setting the code changes up anyway, didn't start downloading/compiling those yet)

Btw, what I was working on for the kernels was add the same approach with `DISTRIB_DIR` as we did with the toolchains: download them into a separate directory under `spksrc/distrib`

[2015-06-13 12:39] Dr-Bean commented on #1703
For the choice of toolchains, iirc, you can mostly stick to the same versions of gcc/glibc as the ones used for 5.1 (adjusted for the name change, that is). I believe there was only one exception: alpine.

What `TC_FIRMWARE` does is quite simple: it sets the correct `FIRMWARE` version in INFO. During package installation, the DSM version is checked against FIRMWARE: if the DSM version is lower tha

[2015-06-13 13:13] Dr-Bean commented on #1749
Sure. Several ways in fact, but you need to get to know spksrc ;) The most sensible way is to override [`PRE_PATCH_TARGET`](https://github.com/SynoCommunity/spksrc/blob/master/mk/spksrc.patch.mk#L45), because you want to do something _before_ the actual application of the patches. `PRE_PATCH_TARGET` is executed before `PATCH_TARGET`, so that's what you want.

To do that, set `PRE_PATCH_TARGET = my

[2015-06-13 14:37] gkroone commented on #1703
Ok, at least the archs where the kernel version changed, they will need to have a way to make sure packages with kernel modules will use correct toolchain.

I just started on kernel for ppc853x, and noticed it had another workarround for the bug patch I used for qoriq, which I removed, and replaced by the patch. this seems to compile the kernel modules just fine.

by compiling the kernel modules,

[2015-06-13 15:48] gkroone commented on #1703
I got all the arch's to build kernel modules, except armada375.

here's my initial committed work:
https://github.com/gkroone/spksrc/tree/DSM5.2-toolchains

building armada375 gives the followiing error. any help welcome.

  HOSTLD  scripts/mod/modpost
  HOSTCC  scripts/kallsyms
scripts/Makefile.build:44: /home/vagrant/spksrc/kernel/syno-armada375-5.2/work/source/linux/arch/arm/mach-armada375/../p

[2015-06-13 21:37] Diaoul commented on #671
Too early to say. Please follow #1703

[2015-06-14 07:48] gkroone commented on #1478
I've merged a test version of the DSM5.2 toolchains to the libudev branch, and removed libudev dependency from openzwave, so now it compiles again for qoriq too.

I am still testing this, but if anyone wants to try it, it's available.

Note that when compiling with these DSM5.2 toolchains, the packages will only install on DSM5.2.

when you want to use these toolchains, you need to update local.mk

[2015-06-14 08:43] steef84 commented on #1478
Good news! Will try your branche when I got time. Or an update will popup in my package manager when @Jumbotroll is faster then me! :)

[2015-06-14 10:03] aqzina commented on #974
Hi, I would like to second this request. Can someone say anything about the latest status for this package? Can the boost compilation issue have a workaround?

[2015-06-14 10:23] bastijnv opened #1756 "DS215+/Alpine4k Package availability"
Hi,

Seems that http://packages.synology.com is no longer resolved, throwing invalid location when adding via the settings -> add sources.

My DNS is resolving it just fine, see nslookup:
Server:  dns.mnd.iss.as9143.net
Address:  212.54.44.54

Non-authoritative answer:
Name:    packages.synocommunity.com
Address:  176.31.184.40

Disabled IPv6 (other threads suggested issues). No real solution. Of

[2015-06-14 11:05] LouiS22 commented on #1478
@gkroone nice work, though openssl is outdated now thus compiler stops with error (can be easily corrected).

[2015-06-14 11:10] Jumbotroll commented on #1478
Nice work @gkroone
Have some problem build armadaxp among other things, but here is a start.

domoticz_x86-5.2_2.0.2562-7.spk  http://jadahl.dscloud.me/sspks/packages/domoticz_x86-5.2_2.0.2562-7.spk

domoticz_qoriq-5.2_2.0.2562-7.spk http://jadahl.dscloud.me/sspks/packages/domoticz_qoriq-5.2_2.0.2562-7.spk

Have a bit much to do, so I'll look in to it later.
Great work!

[2015-06-14 11:43] gkroone commented on #1478
Thanks for the feedback. I am aware that armada375 kernel modules don't compile(so no need to try that yet) and I'll see if there's an easy fix for the armadaxp, as I did compile kernel modules for that already as test for the toolchains.

[2015-06-14 12:22] LouiS22 commented on #1478
No luck with 88f6281

Linking CXX executable domoticz
/home/attila/spksrc/toolchains/syno-88f6281-5.2/work/arm-marvell-linux-gnueabi/bin/../lib/gcc/arm-marvell-linux-gnueabi/4.6.4/../../../../arm-marvell-linux-gnueabi/bin/ld: /home/attila/spksrc/spk/domoticz/work-88f6281-5.2/install/usr/local/domoticz/lib/libboost_thread.a(thread.o): undefined reference to symbol 'clock_gettime@@GLIBC_2.4'
/home/a

[2015-06-14 12:56] gkroone commented on #1478
I made another update for openzwave support. I'll look into above later.

[2015-06-14 12:56] gkroone commented on #1478
armadaxp seems to compile for me.

[2015-06-14 15:38] herve-loiret commented on #218
I use gitblit on my synology tomcat as a replacement and it work very well :-)

[2015-06-14 15:45] Jumbotroll commented on #1478
Compile went ok now.

domoticz_88f6281-5.2_2.0.2562-7.spk
http://jadahl.dscloud.me/sspks/packages/domoticz_88f6281-5.2_2.0.2562-7.spk

domoticz_armadaxp-5.2_2.0.2562-7.spk
http://jadahl.dscloud.me/sspks/packages/domoticz_armadaxp-5.2_2.0.2562-7.spk

domoticz_cedarview-5.2_2.0.2562-7.spk
http://jadahl.dscloud.me/sspks/packages/domoticz_cedarview-5.2_2.0.2562-7.spk

[2015-06-14 16:08] mvveelen commented on #1478
So this is the real thing :) ?

Great work, again ! I'll update as soon as I get back :+1:

[2015-06-14 16:13] Jumbotroll commented on #1478
@mvveelen
Remember ths is not tested.

Armadaxp
http://jadahl.dscloud.me/sspks/packages/domoticz_armadaxp-5.2_2.0.2562-7.spk

[2015-06-14 21:20] gerard33 commented on #1478
@Jumbotroll Thanks for all your effort in making these packages available for Synology.

Gizmocuz just released 2.0.2563 as a stable release, http://sourceforge.net/p/domoticz/code/2563/?utm_source=Domoticz+SourceForge&utm_medium=twitter&utm_campaign=Code.
So you were just a bit too early with 2.0.2562 ;-)

Could you compile this stable version? Thanks!

[2015-06-14 22:26] Jumbotroll commented on #1478
@gerard33 and all other ;-)
V2.0.2563 stable release can be found here:
http://jadahl.dscloud.me/sspks/index.php?fulllist=true

[2015-06-15 08:36] piwi82 commented on #1756
The DS215+ uses a new architecture (<code>alpine4k</code>) that maybe the repository is not aware of. I suppose this architecture uses the same tool chain as <code>alpine</code>.

Architecture per model : https://github.com/SynoCommunity/spksrc/wiki/Architecture-per-Synology-model

[2015-06-15 11:01] Dr-Bean commented on #1756
We can add `alpine4k` arch to the repository, meaning you can add the repository to Package Center.
But until #1703 is completed, and packages are (re)built, there won't be packages available for the 215+.

@piwi82 Correct, `alpine4k` uses the same toolchain and kernel as `alpine`.

[2015-06-15 13:58] capkokoon commented on #1749
Ok thanks ! See pull request #1758 :)

[2015-06-15 14:39] steef84 commented on #1478
Just installed qoriq 2563. Cant start the package though.
domoticz.log
/usr/local/domoticz/bin/domoticz: /lib/libc.so.6: version `GLIBC_2.9' not found (required by /usr/local/domoticz/bin/domoticz)
/usr/local/domoticz/bin/domoticz: /lib/libstdc++.so.6: version `GLIBCXX_3.4.11' not found (required by /usr/local/domoticz/bin/domoticz)
/usr/local/domoticz/bin/domoticz: /lib/libstdc++.so.6: version `G

[2015-06-15 14:41] Dr-Bean commented on #1749
Thanks, but I assume you want to take this a step further, right? Even though fixing download sites is fine in itself (and appreciated!), it's of little use of the package doesn't work correctly.

There are a lot of open issues regarding rutorrent unfortunately, and even though some of those might be caused by configuration issues/user error, those should at least be checked to see if we can do so

[2015-06-15 14:45] Dr-Bean commented on #1703
Err...why not keep the original approach? Qoriq and ppc853x are basically the same toolchain/kernel, and that patch hasn't changed since it was introduced with 4.3.

Mostly :) You want to know that the kernels compile without errors anyway. Overall, it's the step before testing with actual packages, because that's the best confirmation you can get ;)

Please be more specific, what is the exact out

[2015-06-15 16:07] qlxltd commented on #1011
Is there a step by step guide how to install from binary?

[2015-06-15 17:34] gkroone commented on #1703
No problem. I'll switch to yours as soon as you publish something. Would you mind committing to another branch while working on it or prefer to keep it to your local system till you're ready to submit a PR?

[2015-06-15 18:06] gkroone commented on #1478
Thanks Steef.

I assume you're on DSM5.2?

I suspect I need to pick another toolchain from the following site for qoriq:

http://sourceforge.net/projects/dsgpl/files/DSM%205.2%20Tool%20Chains/PowerPC%20QorIQ%20Linux%202.6.32/

There's 3 to choose from, and I now just gambled and picked the top one...

If you could feed back the output of the following command on your systemfrom commandline:

it sh

[2015-06-15 19:35] steef84 commented on #1478
True im on 5.2.5565 update 1. Update 2 is awaiting but not applied yet..

Output is as follows:

diskstation> /lib/libc.so.6
GNU C Library stable release version 2.8, by Roland McGrath et al.
Copyright (C) 2008 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.
There is NO warranty; not even for MERCHANTABILITY or FITNESS FOR A
PARTICULAR PURPOSE.
Compiled

[2015-06-15 19:35] gkroone commented on #1478
@steef84 , I suspect I have set the minimum firmware version to DSM5.0 instead of DSM5.2, so really interrested to see if you are indeed running DSM5.2 or still on a lower DSM version.

If you're not on DSM5.2 and unable to upgrade at this time, you'll probably need to compile it with  your current NAS firmware toolchain set in local.mk.

[2015-06-15 19:40] gkroone commented on #1478
ok, so you're indeed on DSM 5.2 and they are sticking with glibc2.8 there. I would have expected synology to use latest one.

I've committed the switch back to glibc 2.8

[2015-06-15 19:56] gkroone commented on #1703
note that I just learned that qoriq is still running glibc 2.8 and the latest glibc2.13 toolchain is incompatible with that.

[2015-06-15 20:07] Dr-Bean commented on #1703
Yep. That's why I said to largely keep using the same ones as used with 5.1 somewhere up above. Synology would want to stay backwards compatible within the same major DSM versions at least.

They might switch over with DSM6.0, but especially for older arches, I'm not counting on it.

[2015-06-15 20:24] gkroone commented on #1703
Regarding armada375, I was unable to find the fix you mentionned. Did that get removed due to synology  updating their GPL sources for 5.1?
With your suggested fix seems to get past the previous point, but i'm still compiling.

Here's what I did in the armada375 Makefile:

kernel_armada375_premake:
        $(RUN) mv $(WORK_DIR)/source/linux/arch/arm/plat-armada $(WORK_DIR)/source/linux/arch/arm/pl

[2015-06-15 20:30] NickPyz commented on #1011
@crazyscow @Diaoul

According to Jakob Borg, who is the primary Syncthing developer, version 0.10.30 had a broken upgrade system. This might explain crazycow's problem with no upgrade button. Details in the following thread from the Syncthing Forum:

https://forum.syncthing.net/t/synology-ds412-update-to-latest-version/3024/2

Since this is the only version available in Synocommunity packages. oth

[2015-06-15 20:30] Jumbotroll commented on #1478
Compiled new version for Qoriq with updated toolchain.
http://jadahl.dscloud.me/sspks/packages/domoticz_x86-5.2_2.0.2563-7.spk

[2015-06-15 20:37] gkroone commented on #1703
I've compiled and tested an installed the package diskutils for x86 on my DS1511+ still running DSM 5.1 and got no errors running the executables. do you think I need to test any other packages on DSM5.1 before upgrading to DSM5.2? I waited with upgrading until I was able to create packages with kernel modules for DSM5.2, which I beleive I can now do.

Also, how are we supposed to handle updated k

[2015-06-15 20:50] avercoutere commented on #1753
After trying many things, i've completely removed optware and everything beginning to work... thanks again guys.

[2015-06-15 20:51] #1753 closed

[2015-06-15 20:52] steef84 commented on #1478
@gkroone qoriq arch is not the best arch to own for a Syno, but thanks to your switch back to older glibc and @Jumbotroll for the compilation I now running 2563! Thanks both :+1:

[2015-06-15 20:56] gerard33 commented on #1478
@Jumbotroll Thanks for the 2563 version :+1:

[2015-06-15 21:52] Jumbotroll commented on #1478
@gkroone
armada375 compiled ok now.
http://jadahl.dscloud.me/sspks/?arch=armada375

Great work!

[2015-06-16 08:30] bastijnv commented on #1756
Thanks. Makes sense. Guess I have to wait.

[2015-06-16 09:51] iruyanka commented on #1733
https://github.com/SynoCommunity/spksrc/issues/1457#issuecomment-72369955

We'll wait for a new stable release of ZNC.

It's meant wait next version of over 1.6 stable?

[2015-06-16 10:58] cytec commented on #1733
@iruyanka i think there was a problem with ZNC 1.6 requiere C++11 which is not supported by most of the Synology 5.1 Toolchains (except x64 i think)

[2015-06-16 20:08] TimVNL commented on #1674
Made a simple SPK repo untill official comes out.... see http://spk,timveluwenkamp.eu

[2015-06-17 00:57] NickPyz commented on #1674
I'd like to shed some light on this:

The latest Synocommunity release is v0.10.30-3. The lead developer at Syncthing (Jakob Borg) stated to me that v0.10.30 was broken - the version upgrade option was missing. Here is a link to the ST user forum thread:

https://forum.syncthing.net/t/synology-ds412-update-to-latest-version/3024/2

Synology users downloading the current Synocommunity version will

[2015-06-17 11:20] capkokoon commented on #1749
Yup. I would be glad to help, but I might not have the technical background to be of use here .. I'll try :)

[2015-06-17 11:27] capkokoon commented on #1712
ruTorrent works with Sonarr, as for the spk available on the repository.

What you need to do is :
1. configure Sonarr to update from the develop branch
2. toggle "show advanced settings" in the settings page
3. add rTorrent as a downloader in Sonarr, and specify the host, port and base used to access the ruTorrent UI and the RPC gateway (for instance, if your URL is http://myserverip.tld:8430/rut

[2015-06-17 11:59] Dr-Bean commented on #1754
Fixed with https://github.com/SynoCommunity/spksrc/commit/fd9af2b40eb4388ea9674e605adba0f94aacbe0e.

[2015-06-17 11:59] #1754 closed

[2015-06-17 12:01] Dr-Bean commented on #1746
Fixed with https://github.com/SynoCommunity/spksrc/commit/4ca9d1e731b8c11d3d3fa7ad56cb1e8d0ffd6bab.

[2015-06-17 12:01] #1746 closed

[2015-06-17 12:04] Dr-Bean commented on #1744
Thanks  for the feedback @lostkt87. I'll close the issue as solved.

@martymoose Feel free to respond with detailed information and/or logs if you're still experiencing this issue. It's most likely a local issue, but if needed, we can probably help with that.

[2015-06-17 12:04] #1744 closed

[2015-06-17 12:05] sebw commented on #1717
I have the same problem. I'm not sure which Mysql are we talking about here? I don't have a Mysql instance on my Synology. When installing ffsync, it only complained about Python dep missing. I proceeded with the installation and let the password field blank. It proceeded and got installed successfully, but FF sync wasn't starting, because of connection refused to the (seemingly) non existant mysq

[2015-06-17 12:17] Diaoul commented on #1756
I added alpine4k so you can add the repository but there won't be any packages yet.

[2015-06-17 12:23] Dr-Bean commented on #1717
@sebw You don't have MariaDB installed then? It's a Synology package.
...I should probably add that to `SPK_DEPENDS` then (or include the somewhat buggy `CONF_DIR`)

[2015-06-17 12:49] sebw commented on #1717
Indeed @Dr-Bean I don't have any sql server running on my Syno. It didn't complain for the broken dependency, and this is why uninstall won't work without editing installer.sh.

[2015-06-17 13:10] Diaoul commented on #1717
@Dr-Bean: Is it possible to allow sqlite db in wizard? Maybe grey out the unavailable options (if MariaDB isn't installed)

[2015-06-17 13:15] Diaoul opened #1762 "Update BicBucStriim to 1.2.5"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22334777-update-bicbucstriim-to-1-2-5?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github).
</bount

[2015-06-17 13:31] Dr-Bean commented on #1717
@Diaoul I more or less tried that with FFsync 1.1, but I wasn't happy with it (aside from the fact that sqlite probably isn't supported in this version, but that's a detail).

The main issue is the install wizard doesn't have access to the system: you can't influence/adapt the install wizard before running the installer, other than via user input.
So, what you could do is add a radiobutton: `use s

[2015-06-17 13:37] Dr-Bean commented on #1458
See #1762.

[2015-06-17 13:37] #1458 closed

[2015-06-17 14:16] Bon3 commented on #1712
What about user name and pass?? And the port for rutorrent where do i see that??

im getting: Unknown exception: Error: ConnectFailure (Connection refused)

When i try

[2015-06-17 14:34] Dr-Bean commented on #1717
Well, that last thing I mentioned doesn't work. `PKG_DEPS` is read during `install`, and that's a problem here:
You can't create a `PKG_DEPS` file during `preinstall`, because `/var/packages/{PACKAGE}` isn't created yet (assuming it's not read from the tmp dir), and if you write it during `postinstall`, it's too late.

So, it's either:
- Not defining the dependency, which causes the issue that @se

[2015-06-17 15:21] capkokoon commented on #1712
Fill the "username" and "password" fields only if you have set up a htaccess auth to secure your panel. Otherwise, leave it blank.
The port is found in the URL :
* If your ruTorrent URL is like : http://IP:PORT/rutorrent, then you should fill the "port" field with the mentioned port
* If your ruTorrent URL is like http://IP/rutorrent, then enter "80" (web default port) in the field.

[2015-06-17 16:37] Diaoul commented on #1717
Is there anything wrong using sqlite by default and not MySQL? How is the performance? The simpler the better I think.

[2015-06-17 16:44] Dr-Bean commented on #1717
Probably nothing wrong with it, although if that's a thing, why don't we challenge it for every package using a database? ;)
I don't have performance numbers though, but it obviously depends a lot on the amount of clients and accounts that sync. My installed base is too small to say anything worthwhile (currently using it in a home env, not a business env.)

[2015-06-17 17:00] Bon3 commented on #1712
the URL base has been removed in the newest version:

Sonarr Ver. 2.0.0.3237 develop isn't there anymore

[2015-06-17 17:08] Bon3 commented on #1712
Perfect!! :) worked like a charm :)

[2015-06-17 17:16] Zetten commented on #1674
@DaftHonk I've seen the 'running-but-not' issue now on my own system after syncthing autoupdated to 0.11.9. The core issue seems to be with the pidfile (`/usr/local/syncthing/var/syncthing.pid`) managed by start-stop-daemon not getting updated. It simply points to the old process id from before the autoupdate.

I don't think it's strictly related to the 0.11.x upgrade, but I'm not sure how best to

[2015-06-17 17:44] cytec commented on #1674
@Zetten you could just do a `ps | grep /usr/local/syncthing/bin/syncthing` for status and use `awk '{print $1}'` on that to get the pid for stopping i think some packages used that in some previous version...

not really clean and stuff but _should_ work... haven't tested it...

[2015-06-17 18:43] Diaoul commented on #1717
Good point. Let's just choose a solution and stick with it :) Forget the configurable wizard.

[2015-06-17 18:53] #1150 closed

[2015-06-17 18:53] #1330 closed

[2015-06-17 18:53] #1492 closed

[2015-06-17 18:54] Diaoul commented on #1492
We'll wait a bit and remove btsync from spksrc. I disabled the packages on the repository as the official app is released.

[2015-06-17 19:05] Dr-Bean commented on #1492
For the record, I was looking into this a couple days ago, and I figured out why it didn't feel right. The solution proposed here isn't complete: if DIST_FILE isn't in digests, it should stop with a message instead of ignoring it.

[2015-06-17 19:20] Lennartm commented on #1582
Having the same problem with DSM 5.2-5565, Python 2.7.10-14.
Failed to run the package service.

[2015-06-17 19:50] Diaoul commented on #1582
I'm currently working on subliminal 0.8.0 and I hope I'll be able to release it within a month. Hopefully this version should solve a lot of issues.

[2015-06-17 19:51] gkroone commented on #1478
I just upgraded my NAS to DSM5.2 and installed the ne wDSM5.2 package. I noticed I had to run "udevadm control --reload-rules" and unplug/plug my usb serial device in order to have it get the correct permissions(666).  Did anyone else notice something similar, or noticed they had to reboot before serial devices got proper permissions after a reboot? If anyone else had this, I might need to add the

[2015-06-17 20:03] Jumbotroll commented on #1478
I had to reboot my NAS DS712+ arch-x86 unplug/plug my RFXCOM to get it work to.

[2015-06-17 21:31] Zetten commented on #1674
@cytec Going by the (aborted) PR syncthing/syncthing#1277 that should work (using `pidof` rather than `ps | grep`).

We should just bear in mind that syncthing actually launches several processes, a manager and a worker in my case (maybe more workers in some circumstances?), so in the case of stopping we need to kill all of the pids, or else the manager will just restart any killed workers. Like y

[2015-06-17 23:23] toloudis opened #1763 "git-server failed to install"
Trying to install git-server 1.8.3, and I get a Failure message.  Looking at the logs, I see the following, which is the only thing that looks like an error.

/17 16:07:23     (system) trigger         :
                 Begin:  /bin/tar xf /volume1/@tmp/@synopkg/@download/git-server
/17 16:07:23     (system) trigger         :
                 End:    /bin/tar xf /volume1/@tmp/@synopkg/@download/gi

[2015-06-18 05:56] Speedliner commented on #1478
are there any chances on an new evansport version? also an version for DSM5.2 would be nice!

[2015-06-18 08:01] quydo commented on #1704
hi, does haproxy support gzip for image, such as image/png, image/jpg

I how can I check it if haproxy support

Many thanks,

[2015-06-18 09:32] Jumbotroll commented on #1478
Compiling evansport for DSM5.2 failed here.
Maybe @gkroone have a fix :-)

checking build system type... i686-pc-linux-gnu
checking host system type... Invalid configuration `1686-pc-linux-gnu': machine `1686-pc' not recognized
configure: error: /bin/bash ./config.sub 1686-pc-linux-gnu failed
make[5]: *** [configure_target] Error 1

Compile for DSM5.1 is ok.
evansport-5.1_2.0.2574-7
http://jadahl.

[2015-06-18 09:58] jorikcaljouw commented on #1478
Looks like a typo?: 1686 should be i686 no idea where that is defined though ;-)

[2015-06-18 10:22] Jumbotroll commented on #1478
Thanks @jorikcaljouw I did not see it :-)
Found the typo in The Makefile for DSM5.2 toolchain for evansport.
Trying to build...

[2015-06-18 10:30] Jumbotroll commented on #1478
@Speedliner Here you go..
domoticz_evansport-5.2_2.0.2574-7 for DSM 5.2
http://jadahl.dscloud.me/sspks/packages/domoticz_evansport-5.2_2.0.2574-7.spk

[2015-06-18 12:01] capkokoon commented on #1749
#1712 fixed

[2015-06-18 12:04] capkokoon commented on #691
You better use SickRage, which has a built-in support for rTorrent. Couchpotato has it as well

Considering that you're using the stock version of the rutorrent spk, here are the settings for Couchpotato .

!(Settings)[http://i.imgur.com/slNq7Ne.png]

[2015-06-18 12:05] capkokoon commented on #1749
#691 fixed

[2015-06-18 12:09] cytec commented on #1674
if i remember correctly release cycles should slow down once it hits 1.x... not 100% sure but i think i've read something like that some while ago

[2015-06-18 12:15] Diaoul commented on #1704
@piejanssens: can you make a PR with the updated configuration?

[2015-06-18 12:18] Diaoul commented on #1478
Can we have a PR for this? Spreading unreviewed packages is strongly disencouraged.

[2015-06-18 12:24] Speedliner commented on #1478
Thanks @Jumbotroll ! keep up the good work :-)

[2015-06-18 13:35] Jumbotroll commented on #1478
@Speedliner Ok.
Server closed.

[2015-06-18 16:16] Speedliner commented on #1478
That's sad. Can't get the official syncommunity package running on my ds415play. @Jumbotroll can you give me a dropbox link (or something like that) to your latest evansport version (incl. usb drivers)?

[2015-06-18 16:46] Jumbotroll commented on #1478
@Speedliner Ok.
https://www.dropbox.com/s/e1gm1tpda0vak8y/domoticz_evansport-5.2_2.0.2574-7.spk?dl=0

[2015-06-18 19:58] gkroone commented on #1478
@Diaoul, PR is being worked on but seems like @Decipher doesn't have time to work on this.

I suggested this morning to open another PR directly to synocommunity/spksrc instead of decipher's repo.

[2015-06-18 21:50] Diaoul commented on #1478
I agree, open directly the PR here.

[2015-06-19 07:41] Dr-Bean commented on #1717
Fixed with https://github.com/SynoCommunity/spksrc/commit/faf84898186f8d89cb4287b4368d2721d43f389e

Note that this does not fix a broken package (i.e. ffsync installed without MariaDB). People who ran into this should remove the old package and reinstall.
People who installed ffsync while MariaDB/MySQL was already installed won't notice any changes at all.

@IntGen: If you need help with uninstall

[2015-06-19 07:42] Dr-Bean commented on #1172
Fixed with https://github.com/SynoCommunity/spksrc/commit/a4dd10c21fb7eb08076a4587edba365578232ef7

[2015-06-19 07:42] #1172 closed

[2015-06-19 07:43] Dr-Bean commented on #1156
A new package version has been published, which might fix this.

[2015-06-19 07:43] #1156 closed

[2015-06-19 07:48] #1712 closed

[2015-06-19 07:51] Dr-Bean commented on #691
Should be solved then. If not, let us know.

[2015-06-19 07:51] #691 closed

[2015-06-19 08:01] Dr-Bean commented on #1763
Don't mind the errors in the log, those are non-fatal.

The thing I'm missing here is the actual failure message you're referring to...
Also, can you confirm you've followed step 1 here: https://synocommunity.com/#easy_install?

[2015-06-19 08:02] Dr-Bean commented on #1749
ty :)

[2015-06-19 08:23] timwagg commented on #1608
I can second that - been looking for days how to get my nzbget install working again. Multiple reinstalls, trying other software to no avail. Came across this post just before i was about to uninstall my whole automated setup.

Thanks for advise!

[2015-06-19 08:29] The-MAD-Virus commented on #1346
hi ! if you have a qoriq version i would be happy to test it for you.

[2015-06-19 08:37] Dr-Bean commented on #1608
@hugbug, maybe you have an idea what's going on here? As you can see, this has popped up for some people after updating to nzbget 14.2 and now with 15.0, but I'm not sure what's causing it.

Apart from a couple posts on the nzbget forums, this isn't documented anywhere afaik. We can remove the queue dir on upgrade, but that probably has side effects...

[2015-06-19 09:21] Kaelber commented on #1674
I´m using Synology Diskstations DS1512+, 412+, 712+ and some others. This three are x86-models and currently only in the DS712+ model I can choose the installation of Syncthing. In the past, also the two other models are able to install Syncthing over the package center. I don´t know exactly, but it seems since DSM 5.2, is installed in all my machines, there are differences

What can I doe? I´m al

[2015-06-19 09:24] hugbug commented on #1608
Although deleting of queue-directory helps it also means loosing the download history and statistics. Not good.

AFAIK in synocommunity each app has it's own user account.
Could it be that during update the old account was deleted and the new one (with the same name) was created? Although the user name is the same the internal id is different and the new account will not have permissions to the ol

[2015-06-19 09:33] Dr-Bean commented on #1608
Accounts for packages are only created once, they aren't changed during a package upgrade.
To be clear, I wouldn't know how to cause or reproduce the issue, and I've never seen the issue myself (even though I've installed and upgraded the package a fair few times when testing the new versions)

[2015-06-19 10:20] Dr-Bean commented on #1608
One addition to the above: The UID issue _can_ happen when people remove and reinstall the package, (e.g. after running into the error the first time). Then the UID might be different from the original one and cause permission issues. We don't explicitly set permissions on the queue dir...that might be something to look at.

Other than that, a corrupt stats or queue file doesn't keep nzbget from s

[2015-06-19 12:27] piejanssens commented on #1704
I'll give it a try today.

[2015-06-19 13:16] bamboomix opened #1764 "Selfoss error after update : Can not refresh sources: Internal Server Error"
Hi !
I just updated Selfoss on my Synology DNS-212 and it no more refresh the feeds...
When clicking on the refresh button I have this error :
Can not refresh sources: Internal Server Error

Any one could help me please ?
Thanks
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22472789-selfoss-error-after-update-can-not-refresh-sources

[2015-06-19 14:05] Dr-Bean commented on #1764
Hm. I haven't seen that error during testing.
Does the package show it's running in Package Center? Are all the feeds still available (i.e. not broken)?

If you're able to, can you log in via SSH (You can use Putty or Terminal to do that), and execute `php /var/services/web/selfoss/update.php`. It shouldn't give any output, but if there are issues, it probably will.

[2015-06-19 14:28] toloudis commented on #1763
Yes, step 1 is done.
The install gets to a point where it asks me for a public key, and then I get the failure after entering it.   It's not clear if it should be for the currently logged in user but that is my assumption.
Is there anywhere else I should look for more detailed error information?

[2015-06-19 14:53] bamboomix commented on #1764
Thanks for answering so fast !
Yes the package is running, and I have acces to Selfoss and the older posts are still here.

I tryied Putty, i have this error message :
file_put_contents(/volume1/web/selfoss/data/cache/20b267c2899727f068ead42f7013235f): failed to open stream: Permission denied

Maybe I missed something... it's the first time I try a SSH connection ;)

[2015-06-19 14:55] Dr-Bean commented on #1764
Did you log in as root (same password as the admin account) to do that?

Btw, turns out that the update button in Selfoss is broken on due to the Apache configuration on Synology devices.
I can fix that in one of two ways: either rename `/var/services/web/selfoss/update.php` to something else, or add an Apache configuration. I'll come back to that.

[2015-06-19 15:04] bamboomix commented on #1764
I was logged as admin, tryied again logged as root and it works !
I have the new feeds, thanks !!
Is it going to work now or do I need to use putty to refresh it ?

[2015-06-19 15:12] Dr-Bean commented on #1764
Selfoss runs the same command as you just have run every 10 minutes (that's not changed: it always did that). It seems to be working as intended, so there's no problem with updating the feeds in itself. You might not have waited long enough to see it happen ;)

As for the error you're seeing when clicking the `refresh` button in the Selfoss interface, I'll update the package to fix that.

[2015-06-19 15:25] bamboomix commented on #1764
ok ! thank you :)
It's a bit strange ... I launched selfoss this morning and updated it (8 hours ago), checked again 30mn ago and no new entries... but with the command line, I had 40 new entries, and some from hours ago, so I don't think it's because I didn't wait enough ;)
However, it's not gonna take a long time to see if it's updating itself, I have 30 feeds in it ;)

[2015-06-19 15:45] gkroone commented on #1478
PR opened as per above. #1766

[2015-06-19 17:26] bamboomix commented on #1764
well, waited 2 hours, checking selfoss, nothing new !
doing the manual refresh... tadam... 12 new entries !
So Selfoss does not run the command ??

[2015-06-20 10:16] piejanssens commented on #1733
From the ZNC changelog: `Bump compiler requirements to support C++11. This means GCC 4.7+, Clang 3.2+, SWIG 3.0.0+.`

[2015-06-20 17:25] Zetten commented on #1674
@cytec It's actually an even simpler fix than expected - removing the pidfile stuff (`-p` and `-m` args) from start-stop-daemon reverts to process matching by owner/executable. This works perfectly well for detecting and stopping the multiple syncthing processes in my quick tests.

I've added this as a second commit on the PR.

I think it's easiest to leave the current behaviour of allowing auto-u

[2015-06-20 20:17] spacezed commented on #1764
https://packages.synocommunity.com/ is down??? i can't get acces. :'(

[2015-06-20 20:18] spacezed opened #1768 "https://packages.synocommunity.com/ is down?"
Hi!, https://packages.synocommunity.com/ is down??, can't get access. any mirror? :'(

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22587434-https-packages-synocommunity-com-is-down?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.

[2015-06-20 20:49] Diaoul commented on #1768
Yes it is, I'll try to look into it. We ran out of disk space.

[2015-06-20 22:20] spacezed commented on #1768
I look forward, thank you ;)

[2015-06-21 01:48] jhenline commented on #1768
Looks like it is back up, thanks.

[2015-06-21 09:00] Dr-Bean commented on #1768
@Diaoul Maybe we should remove older package versions when uploading new packages? Maybe keep one or two prev versions around, or something like that.

[2015-06-21 09:07] Dr-Bean commented on #1764
When you did the manual update (running `php .../update.php`), it doesn't refresh/reload the screen though, right? You still have to do an F5 or something in your browser.
It seems (at least in 2.13) that that's what the refresh button is used for. From what I can see, there's no option to set/adjust an auto-refresh, so that would make sense.

Did Selfoss refresh the screen in previous versions, o

[2015-06-21 09:18] bamboomix commented on #1764
Yes it needs a refresh, but I don't use f5, I just clic on any item of the left menu to refresh and show the new entries.
I'm gonna try to uninstall and reinstall the package, do you know an easy way to save the sources list ?

[2015-06-21 09:26] Dr-Bean commented on #1764
Yep, I actually just noticed that you can click on any link, so that seems to work. I'll test my fix on a clean device and I'll probably upload a new version if that works.

As for saving the sources, Selfoss saves that in the database (together with the other stuff). You can export the database on uninstall (that export includes everything, including the rss articles themselves).
You can either i

[2015-06-21 10:03] dennisahlin commented on #1768
It's down again?

[2015-06-21 11:04] bamboomix commented on #1764
well, I uninstalled and reinstalled the package and now it works perfectly, even the refresh button...
so it was just a trouble with updating !
Thank you anyway :)

[2015-06-21 12:05] chrisbramley commented on #1674
Would be spiffing if this was available. I'm not super-clued on linux, and whilst I have learned a lot using the Synology at cmd line I'm very keen for this to be a package upgrade as all the others in the community are.

0.11.x seems to have some helpful changes. Can anyone post an etr for the new version in spk?

[2015-06-21 12:17] M0UL commented on #974
any progress on this?

[2015-06-21 13:48] symera commented on #1674
I just found a solution without the need of compiling or having to wait for an updated spk. Works out for me so far. Recently updated to v0.11.10 and it's syncing 4 devices without any issues. Here is what I have done:
- installed the package (v0.10.30-4 beta) by adding the synocommunity package source
- replaced the binary (./syncthing) at /var/packages/syncthing/target/bin/ with the most recent*

[2015-06-21 14:42] Zetten commented on #1674
Yeah, that's pretty much all the automatic upgrade does (download and replace the binary). The only thing to watch out for is that you get the right CPU architecture - your link is fine for any ARM models but won't work on an x86 NAS.

I can also confirm the revised start/stop/status script in my PR still works perfectly after an automatic upgrade. So, as far as I think is reasonable, the issue wi

[2015-06-21 15:40] symera commented on #1674
Yes, of course, you've to choose the right binary for your arch. Thanks for pointing that out.

[2015-06-21 15:50] chrisbramley commented on #1674
Seems to work so far with 0.11.10!

[2015-06-22 20:03] gkroone commented on #1478
I removed my previous fork and submitted a new PR: https://github.com/SynoCommunity/spksrc/pull/1769

[2015-06-22 20:04] carlomazza commented on #1392
@elRadix The solution to the environment variables is here
http://superuser.com/questions/835587/how-to-include-environment-variable-in-bash-line-curl
In short write " ' " (double quote single quote double quote) to expand the variables correctly. It works for me.

[2015-06-23 09:22] matthias-otto commented on #1674
After adding http://packages.synocommunity.com/ as a package source, I see many new packages, but I do not see a Syncthing package for installation. Has it been removed because of the problems discussed here?

Obviously, with no package to install, doing any fixes involving swapping out binaries becomes measurably harder :)

[2015-06-23 09:42] chrisbramley commented on #1674
Have you allowed viewing of Betas in settings?

     On Tuesday, June 23, 2015 10:22 AM, matthias-otto <notifications@github.com> wrote:

 After adding http://packages.synocommunity.com/ as a package source, I see many new packages, but I do not see a Syncthing package for installation. Has it been removed because of the problems discussed here?Obviously, with no package to install, doing any fixe

[2015-06-23 10:23] matthias-otto commented on #1674
Doh. Thank you for solving my problem :)

[2015-06-23 10:59] chrisbramley commented on #1674
:)

So far, this version seems to be scanning much more quickly. Looking good.

     On Tuesday, June 23, 2015 11:23 AM, matthias-otto <notifications@github.com> wrote:

 Doh. Thank you for solving my problem :)—
Reply to this email directly or view it on GitHub.

[2015-06-23 15:59] psycho-realm opened #1770 "SABnzbd and Pyton 2 support for the alpine4k CPU"
Hi there,

I was wondering if you are planning to support SABnzbd and Pyton 2 for the new alpine4k processor in my DS215+/DS217 in the near future?

At the moment it is not available in the synocummunity.

Thanks in advance for you reaction.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/22840108-sabnzbd-and-pyton-2-support-for-the-

[2015-06-23 16:30] piwi82 commented on #1770
<code>alpine4k</code> architecture will be supported.

Sources :
- https://github.com/SynoCommunity/spksrc/issues/1703#issuecomment-111233374
- https://github.com/SynoCommunity/spksrc/issues/1756#issuecomment-111979173

[2015-06-23 16:30] #1770 closed

[2015-06-23 16:40] psycho-realm commented on #1770
Thanks for the fast respont

[2015-06-24 01:34] singpolyma commented on #1674
I have enabled beta versions, but do not see a syncthing option in my package centre after adding this source either...

[2015-06-24 06:32] matthias-otto commented on #1674
For me, activating beta versions solved it. The only other thing that
stumped me for a bit is that the rider "all" does not show any community
software. Only "Community" will list stiff like Syncthing.

--
incub8 Software Labs GmbH
Pulverstraße 1 | 44225 Dortmund, Germany
+49 (0) <+49%20(0)231%2077656397>231 77656397 <+49(0)23177656397> |
info@incub8.de | http://www.incub8.de/

Geschäftsführer: Ja

[2015-06-24 09:39] jb510 commented on #1674
Getting closer...

So I installed the 0.10.30 package via synocommunity on my DS213 (ArmV5te) and it wouldn't start, just silently failed.  `ps | grep /usr/local/syncthing/bin/syncthing` actually showed it running, but I think maybe that's only part of it.

Tried using `wget` to pull down ../syncthing-linux-arm-v0.11.10.tar.gz untar it and replace the binary manually, but that wouldn't start eithe

[2015-06-24 18:35] mvveelen commented on #1478
Just installed DomoticzV2.2585 from Jumbotroll's repo on my DS414 with DSM 5.2 and it works fine. Seems a bit faster, smoother too. Wanted to let him know by DM on Domo forum, but that has been disabled atm. Thanks Jumbotroll !

[2015-06-24 22:04] dadino commented on #1346
I may be looking in the wrong place, but I can't find ImageMagick in https://cytec.us/spk/ and there is no ArmadaXp version in http://cytec.us/syno/test-spk/imagemagick/

So my question is: is it possible to run Emby on a DS414?

[2015-06-24 23:04] PeteWhite commented on #1346
Hi does anyone know where I can find the 0.7.72-1 version of MediaInfo for the Comcerto CPU?

[2015-06-25 09:04] Smiggel commented on #958
Anyone else here who is having EPG problems? Since the last update, my EPG is not fully loading anymore. It always seems to stop with programs that are aired between 1am and 6 am. All programs before and after that are loaded normally.

Also Kodi can not load the EPG data correctly anymore.

[2015-06-25 09:29] schumi2004 commented on #958
Noticed it also but only once.
I also doubt this is a HDHomerun thing, i would blame TVH for this.

[2015-06-25 10:08] Smiggel commented on #958
@schumi2004 I think it's TVH too. It worked fine all the time. Ever since I upgraded to the latest package it's not working correctly. Also can not downgrade without having to delete everything. :-(

[2015-06-25 10:33] christerjohansson commented on #1763
I have this exact problem too. I can iinstall the regular GIT, but not GIT Server (beta), I get passed the public key and then it fails. From the previous log I can see that the tarball might be broken...end of file does not exist?

My synology model is DS213+ with DSM 5.2-5565

[2015-06-25 11:05] Schim57300 commented on #1478
Hi all,

It has been several days I am testing a ZWave controller (Aeon Labs Z-Stick S2) with a Fibaro FGS-211 and a Vision ZG8101 (garage door sensor).
My system :
- NAS Synology DS410J
- DSM 5.0-4493
- Domoticz v 2.0.2514-18

First, everything works well. I can retrieve the status of my Fibaro and my Vision garage door sensor. After a couple of days, Domoticz does not receive any information fro

[2015-06-25 11:23] Dr-Bean commented on #1763
I would suggest to at least add the relevant log lines.

I don't think git-server was ever checked for 5.x compatibility, and it's possible that it won't run on DSM5.x.
I can install the package without problems. However, I myself can't get the thing to work regardless of DSM version or git version (https://github.com/SynoCommunity/spksrc/pull/1472#issuecomment-73289584 and further), and I'm not g

[2015-06-25 13:03] christerjohansson commented on #1763
Ok, I was not aware of this fact. On installation it clears the log too, I
don't get any logs.
I'll try to install it through my SSH instead and see if it works better. I
would really like a GIT-server at home...

2015-06-25 13:24 GMT+02:00 Dr-Bean <notifications@github.com>:

[2015-06-25 22:12] refactoredjello opened #1771 "Home Assistant not starting"
What I did:
input user name and password and pressed login on the login page of home assistant

What I expected to happen:
I would see the home assistant dashboard

What did happen:
I remained at the verifying password screen

I've been trying to get home assitant to load up since it first became available as an spk. I've tried use some the suggest methods found here: https://github.com/SynoCommun

[2015-06-26 07:37] kkorkmaz50 opened #1772 "[Feature Request] Package for syncing with Mega.co cloud"
Hi, I am wondering if anyone is working on a package for Mega.co cloud. I think this would be nice feature for a Synology disk.

Website: https://mega.co.nz/
Description: Encrypted Cloud space, 50GB for free.
Documentation: https://mega.nz/#doc
Source code: https://mega.co.nz/#sync!linux
License: free?

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountys

[2015-06-26 08:55] piwi82 commented on #1772
MEGA Sync Client is pre-compiled for major Linux distributions only, it doesn't seem to be open source.

[2015-06-26 09:08] Dr-Bean commented on #1717
...and closing again. See previous issue.

[2015-06-26 09:08] #1717 closed

[2015-06-26 09:17] kkorkmaz50 commented on #1772
I think its possible, taking a quick glance at the terms I found:

15. Without limiting any other provision of these terms, you are only permitted to use the API if: you register at the developer registration page and agree that you may only publish or make available your application after we have approved it pursuant to our application approval process and license agreement available on request a

[2015-06-26 09:37] piwi82 commented on #1772
API and source code are two different things.
The source code is not available. MEGA Sync Client is a graphical client for major Linux distributions.
There is no way to get it running on a NAS, except by developing your own Sync Client using the API.

[2015-06-26 09:46] kkorkmaz50 commented on #1772
thx for explaining. To bad it isnt possible. I also send an email to idea@mega.co.nz whit the question if they are planning on releasing a client for the Synology.

[2015-06-26 10:08] Dr-Bean commented on #1703
Armada375 kernel issue reported to Synology a couple days ago, no response yet.
I've started building a number of alpine5.2 packages, and if all goes well, those can be put on the repo to help 215+ owners.

As for the kernel version differences for x86: most modules built with the 5.1 kernels will work fine on 5.2 (usually not the other way around). We'll probably end up doing one of three things,

[2015-06-26 10:49] sjaveed commented on #1768
Looks like it's down again unless it's just me.  Could someone else verify this?

[2015-06-26 13:06] M0UL commented on #1768
down for me too

[2015-06-26 14:22] tcaleshu commented on #1011
Any chance anyone has an old package file lying around? The synocommunity 0.10.30 does not, as @NickPyz says, have an upgrade package. So I'm stuck without a client to sync the synology to other devices running current revisions...

Sounds like pretty much an package version will update properly.

[2015-06-26 15:16] cytec commented on #1011
i think i still have some `0.10.11` spk's flying around somewhere... which arch?

[2015-06-26 15:51] tcaleshu commented on #1011
its a DS414 - armadaxp

[2015-06-27 09:24] crazyscow commented on #1011
@cytec do you have one for cedarview, too? would be awesome.

[2015-06-27 14:09] wind-rider commented on #1771
Hi,

the default password is empty. Unless you manyally set a password you can just click login and it should show the dashboard.

For me that just works.

Today I made a new PR at https://github.com/SynoCommunity/spksrc/pull/1773, this should update Home Assistant to a new release including Chromecast support.

Some debugging guidance is also written there.

[2015-06-28 05:33] jb510 commented on #1674
Workaround:
1. I installed Syncthing 10.30 from the synocommunity repo.
2. I replaced the Syncthing 10.30 binary with the 10.30 binary from the [syncthing-linux-arm-v0.10.30]
(you might be able to skip this and go straight to 11.10.
3. run Syncthing 10.30
4. Replace the SyncThing 10.30 binary with the 11.10 binary.
5. Run SyncThing from the DSM GUI (it'll still errantly report the version as 10.30

[2015-06-28 12:52] fcrozat opened #1774 "zsh is missing a default keybinding profile"
zsh package, when used as a interactive shell, is missing default keybinding settings for some keys, such as home / end.

I would suggest to ship a default file, sourced by zsh when started, to setup those keybinding (an example of keybinding is available at http://zshwiki.org/home/zle/bindkeys, section reading $terminfo[] )
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it

[2015-06-28 15:14] Dr-Bean commented on #1756
@Diaoul Mind if we remove and reup all `alpine` packages? I'd rather not have to bump all package versions to get `alpine4k` uploaded, and adding individual `alpine4k` packages seems a huge waste of space.

[2015-06-28 15:58] Diaoul commented on #1756
Does package deletion work correctly on spkrepo? I think I never used it :package:
If that's the case go for it.

[2015-06-28 16:32] Dr-Bean commented on #1756
I used it...err...regularly :P Especially to upload multi-arch x64 packages, after realising bromolow got uploaded first :/

[2015-06-28 22:44] KaraokeStu opened #1775 "[Request] sabNZBd package for running from source"
Hi,

Could someone either generate a package for this, or give me some guidance as to how I could do it myself?

Thanks,

Stu

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23263110-request-sabnzbd-package-for-running-from-source?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github)** We accept bounti

[2015-06-29 10:57] Dr-Bean commented on #1703
Received confirmation from Synology on Armada375 issue. They'll skip the fix for this version, and put it in the next one (probably 6.0). Here's the oneliner I intend to use:
[code]

[2015-06-29 11:04] Dr-Bean commented on #1775
The SABnzbd source code is located here: https://github.com/sabnzbd/sabnzbd
The main file you want to edit in spksrc is:
 https://github.com/SynoCommunity/spksrc/blob/master/cross/sabnzbd/Makefile#L5
and you'll want to replace those lines around it with something like this file:
https://github.com/SynoCommunity/spksrc/blob/faf84898186f8d89cb4287b4368d2721d43f389e/cross/tt-rss/Makefile#L5

You'll p

[2015-06-29 15:37] mikenerone commented on #1762
+1

[2015-06-29 16:42] KaraokeStu commented on #1775
I've created this and added a new pull request for my sabnzbd-beta package :)

https://github.com/SynoCommunity/spksrc/pull/1776

[2015-06-30 04:53] evolsano opened #1777 "btsync 1.4.111 missing from package center"
I can't find btsync 1.4.111 after upgrade to latest DSM 5.2.5565. I only found bittorrent sync 2 in the official package.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23352579-btsync-1-4-111-missing-from-package-center?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github)** We accept bounties via [B

[2015-06-30 10:00] Dr-Bean commented on #1777
Our package has been retired. With the introduction of 2.x, BT doesn't support or maintain 1.4 anymore.

[2015-06-30 10:00] #1777 closed

[2015-06-30 11:06] psycho-realm commented on #1703
Thanks for your work! I keep a close look to this forum, hopefully i can use it soon on my ds215+

[2015-06-30 14:52] markyuk opened #1778 "Syncthing 0.10.30 on Synology drive - where's the logs?"
Hi there

I'm receiving Folder "XXX" isn't making progress - check logs for possible root cause. Pausing puller for 1m0s really frequently on some remaining few MBs on a 200+GB folder structure.

Problem is - there's no logs created that I can see!  Where do they go?  I've installed from 0.10.30 build from SynoCommunity packages.

Clicking "Logs" in Package Center / Syncthing is blank.  And I've r

[2015-06-30 16:28] piwi82 commented on #1778
This package could use logger : https://github.com/jedie/syncthing/wiki/Syncthing-in-Synology-DSM#creating-file-usrlocalsyncthingbinrunsyncthing

[2015-06-30 18:09] mb243 commented on #1768
Down for me too. 400 - Bad Request

[2015-06-30 19:35] artelse opened #1779 "Trying to compile xpdf from source"
Hi, am trying to get xpdf-3.04 to build for my architecture. For the record, xpdf-3.02 is available thru ipkg, but is rather old and I want the new one to compile. I just need the command line tools pdftotext, pdfinfo, etc. not the full package.
I can unpack the source* and run ./configure with minor problems.
But how do I proceed in creating a cross compile?
Sorry to ask here, haven't seen a syno

[2015-06-30 23:56] LukePulverenti commented on #1346
@cytec just for an update regarding transcoding concerns, we are currently working on a custom video player for android that will be capable of client-side decoding. Once complete, our top clients will all be capable of playback without transcoding, and from there it will just be limited to things like the web interface, roku, windows phone, etc. Hopefully that eases the concerns a little bit, and

[2015-07-01 01:53] Gernash commented on #1346
Is server side hardware transcoding in the todo list (cuda etc)

[2015-07-01 18:09] kkorkmaz50 commented on #1772
goods news, i got a reply back from Mega that they might add support for it:
------------------------------------------------------------
Hello,

my name is Paul, I'm MEGAsync Linux developer.

I took a look at Synology and their framework to create packages.
Everything seems quite straightforward, so we might add support for this distribution at some point.

I'll let you know if / when we get to

[2015-07-02 09:40] Dr-Bean commented on #1778
Does https://github.com/syncthing/syncthing/pull/2001 address this? It's not part of an official Syncthing release yet, but that probably won't be too long off.

Seeing as I was working on updating the package, should we add the logger functionality anyway? There's no other method to get logs out of Syncthing that I'm aware of.

@markyuk In the meantime, you can run Syncthing directly from the com

[2015-07-03 07:55] Gwengarion commented on #1768
I cannot install any package from the synocomm, I click the button and it does nothing. Also, I cannot see all the packages in the site (Git for instance). Does anyone know what the issue is and how to solve it? Thanks!

[2015-07-03 23:08] chniko commented on #1768
@Gwengarion : what kind of Synology you have ?
If it's DS215+ for example (like me) I have the same behaviour.
It's due to the fact that this is a new architecture using a new CPU : `alpine4k`
Have a look at the issue #1756
If you don't have this model, then it's probably something else.

[2015-07-04 02:58] MarcoBischero commented on #1630
Would be a great idea!

For anyone that couldn't install airsonos on synology nas I suggest this: https://github.com/stephen/airsonos/issues/22

[2015-07-04 04:51] Dr-Bean commented on #1768
@mb243 You're probably opening `packages.synocommunity.com` in your browser. Don't do that, that URI is only for your NAS. Use https://synocommunity.com in your browser.

Other than that, the server has been up since Diaoul has looked into it afaik, so I think we'll close this issue.

[2015-07-04 04:51] #1768 closed

[2015-07-04 05:03] Dr-Bean commented on #1779
Look at the INSTALL file that is part of the tarball. It should contain all the necessary information to compile from source. It seems to be a fairly straightforward approach: `./configure`, `make`, `make install`, although it does seem to have a dependency: Freetype.

To start off, add a new cross package (simply copy an existing one, rename it, and remove everything but the Makefile) and change

[2015-07-04 05:19] Dr-Bean commented on #1748
Simply adding compile options, in the hope that they work...probably won't ;)
I'd start with doing what the compile process tells you do: run `./configure --help` and check which options are available. Most likely, the documentation (and in some cases, even the code itself) can help with that as well.

If you want to check if #1446 applies, then I'd suggest to try and rule it out:
Pass on the comp

[2015-07-04 05:42] xmrflipflop commented on #1748
Thanks for the reply Dr-Bean!

It's been some time since I've hit this wall and I've shifted towards using a raspberry pi like board with a full debian os to host django/mod_wsgi/apache2. The rest of this comment is from what I could remember from the time, please correct any mistakes. In the short term I don't think I'll be going back to implementing the stack on Synology, but suggestions would b

[2015-07-04 06:19] Dr-Bean commented on #1748
I actually meant gcc documentation, not spksrc documentation.

By default, spksrc cross-compiles as you'd expect: [`./configure`](https://github.com/SynoCommunity/spksrc/blob/master/mk/spksrc.configure.mk#L50), [`make`](https://github.com/SynoCommunity/spksrc/blob/master/mk/spksrc.compile.mk#L36), [`make install`](https://github.com/SynoCommunity/spksrc/blob/master/mk/spksrc.install.mk#L55) (among

[2015-07-04 07:11] xmrflipflop commented on #1748
Oh I see. Thanks for the `.PHONY` explanation, that cleared up a lot for me. I'll look into this again if i wish to port the project back onto synology.
Cheers.

[2015-07-04 10:36] artelse commented on #1779
Thanks for the reply! I've made the directory and MakeFile in ```cross``` and ran ```make arch-armadaxp```. It does a bunch of stuff and then stalled here:
```/home/artelse/spksrc/toolchains/syno-armadaxp-4.3/work/arm-marvell-linux-gnueabi/bin/../lib/gcc/arm-marvell-linux-gnueabi/4.6.4/../../../../arm-marvell-linux-gnueabi/bin/ld: cannot find -lz```

Somehow it can't find zlib? Where should this b

[2015-07-04 11:13] lepennec opened #1781 "debian-chroot: several instances of "aptitude search ~U" launched"
Dear all,

I'm playing with the debian-chroot package on my old DS211J. Everything works flawlessly except the gui. When I launch it, it waits forever for something. I have tried to investigate and it seems that the cause is the attempt to count the number of updates available. Indeed, I see more and more instance of
- /bin/bash -c aptitude search "~U" | wc -l | tail
- aptitude search ~U
in my lis

[2015-07-04 11:36] lepennec commented on #1781
Modyfing direct.py by replacing updates_count = ... by updates_count = 0  fixes this issues... but triggers a similar one when trying to display the services... I can see more and more instances of
 /usr/local/debian-chroot/env/bin/python /usr/syno/sy
in my process list.

  Erwan

[2015-07-05 18:20] mvveelen commented on #1478
I'm running the latest from Jadahl's repository, and everything seems fine (thanks for all the updates !).

Question: is it 'safe' to update DSM to the latest (Version : 5.2-5592), from my current DSM 5.2-5565 Update 2? Or is it better to wait...? I don't want any troubles with Domoticz you see :)

[2015-07-05 20:53] nothing-fr opened #1782 "[HAPROXY] 1.5.14 Security Update..."
Can you update the SynoCommunity HAProxy Package for security reasons ?

source : http://www.haproxy.org/

Thanks for your work...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23748543-haproxy-1-5-14-security-update?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github)** We accept bounties via [Boun

[2015-07-06 12:37] #1779 closed

[2015-07-06 21:49] piejanssens commented on #1782
Ready to go. But after 12d my ready-to-be-merged PR hasn't made it in yet..

[2015-07-07 02:01] Keltere opened #1783 "Pyload and pyton fail install on DS214play with DSM 5.2-5592"
Pyload and pyton fail install on DS214play with DSM 5.2-5592

I can't install pyton so i can't install Pyload on my synology.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/23832217-pyload-and-pyton-fail-install-on-ds214play-with-dsm-5-2-5592?utm_campaign=plugin&utm_content=tracker%2F282943&utm_medium=issues&utm_source=github)** We

[2015-07-07 06:43] KlausStoertebeker commented on #958
Help!
I'm newbee to this and I just want to know where I can download ready-build spk's for my DS213air (look here for more details: http://forum.synology.com/wiki/index.php/What_kind_of_CPU_does_my_NAS_have).
I'm running System DSM5.2 (latest version)

[2015-07-07 12:01] SavellM opened #1784 "NZBGet wont update MainDir [$15]"
So I have an issue with NZBGet...

I changed the MainDir to /volume2/downloads from /volume2/Downloads
Just changed the D to d to keep in line with my other folders.

Also I changed the login username from NZBGet to nzbget.

I have stopped, restarted NZBget and it does not change.
It DOES change in the settings (ie it looks correct) but it doesn't actually work.

I keep getting the message: Could

[2015-07-08 07:26] Gwengarion commented on #1703
Thanks, indeed! I also want to start installing some packages in my ds215+! Good luck!!

[2015-07-08 12:03] #1493 closed

[2015-07-08 13:51] Vlaves commented on #1346
yeah I would also love to have harware transcoding at least on windows if not possible in linux. I would even reinstall my XPEnology system to Windows Home Server for that. Cause there are a lot of low power Intel CPUs, which do have quicksync, so it would make a really good server.

[2015-07-08 14:57] ctve commented on #1478
Hi Schim57300,

I've been using Domoticz on a Raspberry Pi with the Aeon Lab USB Stick and I'v encountered the same problem.
During the same period, my RfXTrx433 worked like a charm !
I've tried exactly the same ZWave network with a Fibaro Home Center 2 as a ZWave controller and the problem never appeared.
So I suppose it's caused by the Stick, by Domoticz or by the association of them.
Of course

[2015-07-08 15:13] Schim57300 commented on #1478
@ctve  : thank you very much for your experience. It helps ^^
I will try to update my DSM to the latest version (currently DSM 5.0-4493) and will install the latest version of Domoticz (currently I'm running under 2.0.2514-18 version)
I will see if it will change anything and will keep you in touch.
@mvveelen  : I'll tell you if it works fine :-)

Additional Information? Don't know if it could be

[2015-07-08 22:58] Gernash commented on #1346
http://emby.media/community/index.php?/topic/10723-gpu-transcoding-intel-quicksync-and-nvidia-nvenc/?p=167070

[2015-07-09 17:48] LukePulverenti commented on #1346
In addition to everything else above, I thought you guys would also like to know that the current beta eliminates webm transcoding from Chrome and is now fully h264 with HLS. I recall someone raising that as an issue.

[2015-07-10 08:40] Vlaves commented on #1346
@LukePulverenti good to hear, but that is only relevant if we can have hardware assisted h.264 encoding like on a DS214play or on the quicksync CPUs. So now only a ffmpeg build is missing with the hardware assisted encoding cpapabilities enabled :)

[2015-07-10 10:01] Gernash commented on #1346
I built and imagicmagick with Q8 and webp seems OK.

[2015-07-10 10:02] Gernash commented on #1346
But apparently I'm living in the past. Any links to the new mono builds to tryout?

[2015-07-10 10:28] cytec commented on #1346
@LukePulverenti nice to hear, i think i mentioned it not really as an issue but afaik PMS does all the transcoding with h264 and if i recall correctly transcoding to h264 was faster/more stable then transcoding to webm when i tested it

[2015-07-10 10:32] Gernash commented on #1346
@cytec
you still using spksrc?
any chance of stealing your folder or uploading it to the git?
or making new version of everything for the syno people :)

[2015-07-10 10:33] Gernash commented on #1346
@cytec
They say learning is fun but......

[2015-07-10 12:35] cytec commented on #1346
@Gernash everything there: https://github.com/cytec/spksrc

for emby: https://github.com/cytec/spksrc/tree/emby-server
for ffmpeg: https://github.com/cytec/spksrc/tree/ffmpeg-update

[2015-07-10 14:34] Gernash commented on #1346
@cytec
It's linux it will always be a work in progress....:)

Thanks for that, stops me reinventing the wheel.

1. Are there any people that can be contacted for assistance with specific cross compiling issues that may require patch files(e.g. Mono native config script calling commands that have not been built yet?)

2. ffmpeg- You mentioned PMS earlier in regards to trasncoding can you find out w

[2015-07-10 19:43] cytec commented on #1346
well ffmpeg contains a lot of stuff that isn't used by emby specifically but the more features you have the better... and ffmpeg will be a seperate package which can be shared by more packages than just emby. same goes for imagemagick...

to be honest, most of the stuff is already done in my forks but it still needs cleanup of the make files, plists etc. i've got emby up and running on my Synology

[2015-07-10 23:50] Gernash commented on #1346
@cytec

Same here but it's a bit convoluted atm
http://emby.media/community/index.php?/topic/22921-synology-setup/

If imagemagick Q16 from main SynoCommunity repo is going to be used then imagmagic should be updated/built (some of the libs are newer to) with libwebp Q16 and Q8 (Luke wants Q8 for speed) this would keep everyone happy and not break higher level apps that use it as a dependency.Who

[2015-07-11 02:23] LukePulverenti commented on #1346
Q8/Q16 is up to you guys. I am only recommending Q8 for performance but the server will work with either.

[2015-07-11 06:50] SavellM commented on #1784
Hi guys,

Is there anything I can do about this? I haven't downloaded in 4 days as I am waiting to change this if possible. Sorry to be a pain...

[2015-07-11 11:29] Diaoul commented on #1784
Seems like a permission issue. Make sure the `users` group has RW access to that directory.

[2015-07-11 12:18] SavellM commented on #1784
It does. Just double checked and users group has rw access

[2015-07-11 12:47] SavellM commented on #1784
I removed the permission, restarted and readded. Same thing. It seems like it won't add the correct folder or not sure. Also any update to NZBget v16?

[2015-07-11 16:39] Diaoul commented on #1784
Make sure the configuration of your MainDir is correct *in the web interface* and also in the config file located in /usr/local/nzbget/var/, then:
1. Stop nzbget
2. Move the folders created by nzbget (incomplete, complete, etc.) in a backup folder
3. Start nzbget again

It shouldn't be complaining anymore. If so, please put the message here.

[2015-07-11 20:43] cytec commented on #1346
@Gernash personally i don't think linking libMagickWand-6.Q8.so to libMagickWand-6.Q16.so  is a good idea... when you'll look at my emby cross folder you'll see i patch emby to use Q16 instead of Q8

https://github.com/cytec/spksrc/blob/emby-server/cross/emby/patches/imagick.patch

alternatively we can update the ImageMagick SPK to build Q8 afaik the only difference is that Q16 is better for "mass

[2015-07-12 08:37] djdmg opened #1786 "Transmission on DS1515+"
I have try to install transmission on my synology DS1515+ but i always get an error ("error during installation") when
i try to install. It's appear that transmission is comptible with avoton architectur.
Can you help me please

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/24180721-transmission-on-ds1515?utm_campaign=plugin&utm_con

[2015-07-12 12:31] G1zm0 commented on #1346
@cytec can you make an avaton package for ffmpeg?
I'd like to take emby for a spin.

[2015-07-12 13:45] Schim57300 commented on #1478
@mvveelen : did you see my answer here : #1769

[2015-07-12 21:28] SavellM commented on #1784
Ok so doubleched GUI and it is correct.
Went into nzbget.conf and this is the log:
# Root directory for all tasks.
#
# On POSIX you can use "~" as alias for home directory (e.g. "~/downloads").
# On Windows use absolute paths (e.g. "C:\Downloads").
MainDir=/volume2/downloads

So it is also correct.

Also the logs show:
# "nzbget" or use empty value.
ControlUsername=nzbget

So no longer the NZBGet.

[2015-07-12 21:57] #1783 closed

[2015-07-12 21:58] Keltere commented on #1783
Resolved, I have installed first the official python then the community version.

[2015-07-12 23:40] Gernash commented on #1346
@cytec

1st thanks for pointing me in the right direction, Have a reasonable grasp of spksrc now.

playing with ffmpeg atm. all I have to say is x264 is driving me crazy can you have a look? Pathing issue?

getting the following
checking for sws_init_context(0,0,0); in libswscale/swscale.h... no
Failed commandline was:
--------------------------------------------------
/home/gernash/spksrc/toolcha

[2015-07-13 10:49] Zorgonaute84 opened #1787 "[Request] Package for Movim"
Hello,

I don't know if it's technically possible, but it could be very good to integrate Movim to the SynoCommunity repository.

Movim is an open source and self hosted service to manage his personnal social network.

The official Movim website : https://movim.eu/
The Github : https://github.com/edhelas/movim
The Wiki : http://wiki.movim.eu/start?id=en:start

And Movim is fully translate into Eng

[2015-07-13 11:00] Zorgonaute84 commented on #370
Hello,

MissileHunger had shut down at the begining of the year, so OpenFire is no longer available. Is the OpenFire integration to SynoCommunity is scheduled for the nexts months ?