[2017-01-08 02:15] interlynx commented on #2207
I've tried a number of synocom packages, none will work.

[2017-01-08 10:10] rodo37 opened #2586 "Impossible to install Horde v5.1.0-2"
When I try to install the HORDE package on my DS116 I always have the following message:
"Incorrect MySQL root password"
During the installation therefore impossible to go further ....
I'm using DSM 6.1-15022

[2017-01-08 11:06] gotson commented on #2558
the new version of Sonarr doesn't start for me.
It seems it's using the SynoCommunity Mono (4.6.2.7-8 located in /usr/local/mono/bin).
Actually when i try to do a `./mono -V` in Mono's folder, i get a segfault.

The mono from Synology (4.2.1 located in /bin/mono) is working fine.
I changed the start-stop-status script to use the Synology Mono instead of the SynoCommunity one, now it works.

[2017-01-08 11:18] schumi2004 commented on #2558
@Dr-Bean, yes compiled your updated version. I saw your update but i don;t think i need them for now. I'll wait until it gets updated in official repo ;)

[2017-01-08 16:39] Dr-Bean commented on #2586
Please use the search before opening an issue. Duplicate of https://github.com/SynoCommunity/spksrc/issues/2333

[2017-01-08 16:39] #2586 closed

[2017-01-08 17:03] Dr-Bean commented on #2558
@schumi2004 It's already part of the current package, I published the package before I pushed the updates to the repo. But, as you say, there's no big changes, so just FYI.

@ other commenters:
- Segfaults when running Mono can be discussed in https://github.com/SynoCommunity/spksrc/issues/2298.
- People with issues running Sonarr in general: please carefully read my previous comments in this issu

[2017-01-08 17:24] A---- commented on #2215
One thing that should be mentioned somewhere is that Web Station has to be installed prior to ruTorrent. It makes a mess in `/var/services/web`.

I do have exec `stat` issues at the moment though, even with @slicepaperwords fix.

[2017-01-08 19:18] A---- commented on #2215
OK, so a `test.php` in /volume1/web/rutorrent with:

[code]

works when displayed in a webpage or run as `http`.

Function ruTorrent uses is in `php/util.php` (`findEXE(…)`).

If you try:

[code]

No dice. If you debug that function, you can see that the PATH is actually empty. (you can also try to print `php -i`).
I think that this is because I'm using nginx/php-fpm. Conf files/paths are a cluste

[2017-01-08 19:29] schlaubi0666 opened #2587 "[Package Request] knxd"
Name:  knxd ( formaly knows as eidb)
Description: KNX is a very common building automation protocol which runs on dedicated 9600-baud wire as well as IP multicast. knxd is an advanced router/gateway which runs on any Linux computer; it can talk to all known KNX interfaces.
Website: https://github.com/knxd/knxd
Software documentation: https://github.com/knxd/knxd/wiki
Build/Installation documentati

[2017-01-08 22:35] A---- commented on #1805
It might not be related to your issue _at all_ since we're now one year later.

Anyway, to anyone which might have the same issue and read this:
* check the user/group rights: meaning you should be able to do `sudo -u rutorrent /volume/to/your/torrents/and/data` and `sudo -u http /volume/to/your/torrents/and/data`. Change the rights in the control panel accordingly if necessary
* also, there's a 5

[2017-01-09 08:25] EvtK commented on #2558
@gotson can you share your configuration? I have problems running sonarr since the last update, and believe it is connected to mono. So far I have tried:

MONO_PATH="/var/packages/Mono/target/usr/bin"
MONO="${MONO_PATH}/mono"

MONO_PATH="/bin"
MONO="${MONO_PATH}/mono"

But Sonarr won't start. Is there anyway to get some logging on this, to see what is going wrong?

thankls

[2017-01-09 14:22] Dr-Bean commented on #2215
That's a change since DSM6, when Synology started publishing WebStation as a separate package. Package Center will handle it if you add a `spk/rutorrent/src/conf/PKG_DEPS` file to the package, like this: https://github.com/SynoCommunity/spksrc/blob/master/spk/cops/src/conf/PKG_DEPS.
Feel free to open a PR to add it (although the other issues should be solved as well, before we can say the package

[2017-01-09 14:44] GitHubDelphi commented on #2581
Ok, thanks for your feedback.

[2017-01-09 15:29] A---- commented on #2215
Yeah, mustache template will be ovewritten everytime Web Station is reinstalled.
There's no way to dump a file in a "`fpm.d`". At first I though that it used `/usr/local/etc/php56/php-fpm.conf`, hence including `/usr/local/etc/php56/fpm.d/*` but it does not and there's no include directive in the mustache template. I don't believe that there's a pretty way of doing this, but I might be wrong.

It

[2017-01-09 15:32] Dr-Bean commented on #2215
Synology made significant changes to the whole WebStation/PHP/directory setup/file locations with the introduction of DSM6. So yes, I would expect multiple changes are necessary to get the package to work on DSM6, but keep in mind that we don't want to break DSM5 (or earlier) support either.
I think COPS contains most of the path changes currently. Take a look at the recent changes to the installe

[2017-01-09 15:59] A---- commented on #2215
I don't think cops has the right paths.
Custom `open_basedir` confs are mustachized and placed there:

[code]

I don't have the `phpinfo` at the moment, so I can't confirm.

[2017-01-09 16:13] cytec commented on #2587
Licence should be GPLv2

[2017-01-09 16:20] Dr-Bean commented on #2215
See Synology's developers guide, paths are mentioned in there. Although the release of php7 may have changed things again, I haven't checked yet. For the record, phpMyAdmin does the same thing.

[2017-01-09 21:22] stanstrup opened #2592 "[Deluge] Cannot install plugins"
_For new Package Requests, see the guidelines_

### Setup
_Package Name: Deluge
_Package Version: 1.3.13-6

_NAS Model: DS412+
_NAS Architecture: cedarview (x86_64)
_DSM version:DSM 6.0.2-8451 Update 7

### Expected behavior
I should be able to install and enable deluge plugins either with the webui interface or by putting the egg file in the right place.

### Actual behavior
The plugin seems to b

[2017-01-10 07:36] HPMSGEN8 opened #2593 "FFmpeg Error With SABNZDB Post Processing"
Hi,

Please see the below i logged and issue here See Post `https://github.com/clinton-hall/nzbToMedia/issues/1163` and he stated i needed to post here as well.

### Setup
_Package Name: FFmpeg
_Package Version: 3.1.2-4

_NAS Model: DS3615xs
_NAS Architecture:
_DSM version:DSM 6.0.2-8451 Update 6

### Expected behavior
No errors in logs and the information to get shown.

### Actual behavior

When

[2017-01-10 09:18] cytec commented on #2593
i'd guess thats because you use DSM 6 and ffmpeg was compiled with the 5.2 toolchain so your libstdc version does not match \cc @GuillaumeSmaha

[2017-01-10 10:05] HPMSGEN8 commented on #2593
Thanks for the reply and the information. I take it there is not much i can do but just wait until this is resolved.

[2017-01-10 12:05] cytec commented on #2593
first you should make sure that it's really broken so try something like:

`/usr/local/ffmpeg/bin/ffprobe /path/to/a/video.file`

if that gives the error above try this:

`LD_LIBRARY_PATH=/usr/local/ffmpeg/lib /usr/local/ffmpeg/bin/ffprobe /path/to/a/video.file`

but i don't think that makes a difference since afaik we don't include `libstdc` at all... might be because of what i said above: we use

[2017-01-10 12:59] HPMSGEN8 commented on #2593
Ok thanks alot will give this an go

[2017-01-10 15:43] Fossil01 opened #2594 "Couchpotato update?"
Can Couchpotato be updated? Seems like it's a very very old version.

[2017-01-10 15:49] theemstra opened #2595 "Sonarr (nzbdrone) not starting after last update from SynoCommunity"
### Setup
_Package Name:_ Sonarr
_Package Version:_ 20170106-9

_NAS Model:_ Synology DS214
_NAS Architecture:_ MARVELL Armada XP MV78230
_DSM version:_ DSM 6.0.2-8451 Update 7

### Expected behavior
Tell us what should happen

After updating, the message is that Sonarr should be restarted, it should start like usually.

### Actual behavior
Tell us what happens instead

It doesn't start, no error

[2017-01-10 18:09] Dr-Bean commented on #2594
There's no need. CouchPotato checks for new updates when the service is started, and updates to latest automatically.
Besides that, you can check for updates yourself: Cogwheel> Check for Updates.
If that doesn't work for you, let us know.

[2017-01-10 18:09] #2594 closed

[2017-01-10 22:45] Dr-Bean commented on #2592
Please read the following link carefully, and make sure the plugin has a name that will be accepted. SynoCommunity's Deluge package runs on our Python 2.7 package: http://dev.deluge-torrent.org/wiki/Plugins#InstallingPluginEggs.

You can use either the web interface to install an egg, or place the file in `/usr/local/deluge/var/plugins` (which points to `volumeX/@appstore/deluge/var/plugins` in th

[2017-01-11 05:46] nkean opened #2596 "[Package Request] Watcher (CouchPotato alternative)"
Name: Watcher
Description: Watcher is an automated movie NZB searcher and snatcher. You can add a list of wanted movies and Watcher will automatically send the NZB to Sabnzbd or NZBGet. Watcher also has basic post-processing capabilities such as renaming and moving.
Website:  https://github.com/nosmokingbandit/watcher
Software documentation: https://github.com/nosmokingbandit/watcher/blob/master/R

[2017-01-11 08:23] jilles commented on #2595
I've got the exact same issue. All I did was change from SynoCommunity Mono to Synology Mono, like this: https://www.reddit.com/r/sonarr/comments/4c7ddp/howto_sonarr_on_synology_dsm_60_workaround/?st=ixso4fdm&sh=70038ae3

Maybe there are also problems with the new Mono version? https://forums.sonarr.tv/t/sonarr-on-synology-stopped-working-after-mono-update/13048/16

[2017-01-11 09:41] cytec commented on #2596
FYI: if anyone want's to try and create a SPK couchpotato should be a good starting point. from a quick scrim, the git clone url and some variables should be changed and this should work

[2017-01-11 11:49] Dr-Bean commented on #2596
@nkean Please don't skip any of the requested fields for package requests: missing license.
`
LICENSE = Apache 2.0
`

[2017-01-11 11:49] Dr-Bean commented on #2596
Software seems _very_ new though. Might be best to wait until it settles down a bit.

[2017-01-11 12:09] Dr-Bean commented on #2216
A new branch, `dsm6`, has been created which will serve as a starting point for DSM6 supported packages.

Currently, it contains the latest available DSM6 toolchains (6.0.2), as well as updates for `nzbget-testing` and `sabnzbd-testing` packages to make them work on DSM6. I'll work on adding packages as and when I have time, PR's using the same approach are welcome.

Packages will not be published

[2017-01-11 12:29] Dr-Bean commented on #2219
Done via 31e654b3526dbb6c21472551ed43203557aca741. This is currently a separate branch, but will be merged into master.

[2017-01-11 12:29] #2219 closed

[2017-01-11 12:29] Dr-Bean commented on #2539
Done via 31e654b3526dbb6c21472551ed43203557aca741. This is currently a separate branch, but will be merged into master.

[2017-01-11 12:29] #2539 closed

[2017-01-11 12:35] Dr-Bean commented on #2296
DSM6.0.2 toolchains have been added into a new `dsm6` branch. Will get merged to master eventually, but at least it means we can produce packages with that toolchain.
I think I'll close this one for now.

[2017-01-11 12:35] #2296 closed

[2017-01-11 12:47] Dr-Bean commented on #2539
...and in case it's not clear, packages won't show up yet. See https://github.com/SynoCommunity/spksrc/issues/2216#issuecomment-271852804 for more info.

[2017-01-11 12:47] Dr-Bean commented on #2219
...and in case it's not clear, packages won't show up yet. See https://github.com/SynoCommunity/spksrc/issues/2216#issuecomment-271852804 for more info.

[2017-01-11 16:08] Dr-Bean commented on #2298
I've published a new set of Mono 4.6.2.7-8 packages for DSM6, available on the beta channel (maybe not immediately, but it should show up at some point)
Maybe one of you can check if the segfault issue is solved with those packages.
Note that the package won't show up as an update in Package Center, the previous package will have to be removed first.

[2017-01-11 16:47] medom commented on #2596
personally I would opt for Radarr (Sonarr movie fork) instead: https://github.com/Radarr/Radarr/

[2017-01-11 16:56] KaraokeStu commented on #2596
I'll look to create something for this over the next few days and see if it works.

@medom Can you open a new request to ask for a Radarr package and I'll see what I can do there too?

[2017-01-11 18:46] Dr-Bean commented on #2595
Which version of Mono are you running? If 4.6-something, then check https://github.com/SynoCommunity/spksrc/issues/2298#issuecomment-271910604

[2017-01-11 19:12] Dr-Bean opened #2597 "Add python modules to various packages"
As a reminder to myself:
- Add `attrs` to Deluge wheels as it's a dep of service-identity. Fixes notification at Deluge startup:
`UserWarning: You do not have a working installation of the service_identity module: 'No module named attr'.  Please install it from <https://pypi.python.org/pypi/service_identity> and make sure all of its dependencies are satisfied.  Without the service_identity module

[2017-01-11 21:15] stanstrup commented on #2592
Thanks!

[2017-01-11 21:15] #2592 closed

[2017-01-11 21:28] remorsehorse commented on #2558
Great post on Reddit which explains how to point Sonarr to the old mainstream, non-beta Mono and get it working with DSM6. Have used this method twice after Sonarr updates now:

https://www.reddit.com/r/sonarr/comments/4c7ddp/howto_sonarr_on_synology_dsm_60_workaround/

[2017-01-11 21:39] Dr-Bean commented on #2558
Locking. I made the situation quite clear in my previous comment, and on top of that, a Mono package for DSM6 has been published which should resolve the segfaults some people have encountered. See #2298.

[2017-01-12 08:36] HPMSGEN8 commented on #2593
@cytec do you have any update please on when this will get fixed / compilied for DSM6.x

[2017-01-12 09:23] cytec commented on #2593
no ETA. keep an eye on https://github.com/SynoCommunity/spksrc/issues/2216

[2017-01-12 09:38] KaraokeStu commented on #2593
Hi @HPMSGEN8 , it does complain that there is no version information available, however the command still works perfectly.

`/usr/local/ffmpeg/bin/ffprobe Firefly\ -\ S01E01-02\ -\ The\ Train\ Job\ +\ Bushwhacked\ Bluray-720p.mkv
/usr/local/ffmpeg/bin/ffprobe: /lib/libstdc++.so.6: no version information available (required by /usr/local/ffmpeg/lib/libx265.so.87)
/usr/local/ffmpeg/bin/ffprobe: /lib

[2017-01-12 10:06] HPMSGEN8 commented on #2593
@cytec Thanks will do :)

@KaraokeStu Thanks for the info :)

[2017-01-12 14:42] theemstra commented on #2595
Hi!
Thanks for your response. Seems like my last response didn't submit, so here's it again:

Yes, it's running on Mono 4.6.2.7-8
I've been waiting for the update (https://github.com/SynoCommunity/spksrc/issues/2298#issuecomment-271910604) to reach me, but it doesn't seem to be available yet here, I *do* have beta releases enabled.

[2017-01-12 14:55] theemstra commented on #2595
@Dr-Bean

I've removed Mono and re-installed Mono.
Problem persists

The logfile below will show the start of nzbdrone, then removal of an old version of mono (by Synology), then the removal of synocommunity mono, then reinstall of mono and finally the launch of sonarr.

There are some errors/warnings.

/var/log/synopkg.log
`2017/01/12 15:40:19     start nzbdrone: begin to start version 20170106-9

[2017-01-12 22:54] datkins43 commented on #2207
After DSM 6.0 upgrade, can no longer run or install Snapshot Replication package.  Appears this package is not supported on the cedarview architecture.

From INFO file of SnapshotReplication-X86_64-6.0.2-0062 package:

package="SnapshotReplication"
version="6.0.2-0062"
maintainer="Synology Inc."
arch="x86_64"
exclude_arch="cedarview dockerx64"

Per Syno Community architecture/model info:

https://

[2017-01-12 22:58] mparents2007 commented on #2207
It's worrying that this late into DSM 6 being released and patched that we
are still seeing so many problems with DSM I hope DSM 6.1 resolves these
issues but think I will be creating a VM DSM to test on first before
upgrading next time as I have had to bodge a few packages to make them work.

On 12 Jan 2017 22:54, "datkins43" <notifications@github.com> wrote:

[2017-01-13 10:12] phit42 commented on #2595
Hi, I have experienced this issue before as well and was able to narrow it down to mono, which seemed to have been the issue here as well.

Could the start-stop-status be changed so that a logfile for/from mono can be produced as well?

This would definitely help for further investigations as the logfiles from sonarr usually do not reflect the issue.

[2017-01-13 11:05] ward0 commented on #2131
@nelek  I have a DS213J: synology_armada370_213j

https://github.com/SynoCommunity/spksrc/wiki/Architecture-per-Synology-model

Can you build a me compatible Tor relay beta pls.

I'm getting 'can't run service', I already changed my user to root to see if that was the problem, but didn't help.

Thanks in advance.

[2017-01-13 20:06] nelek commented on #2131
@ward0 again, this is not the place for asking for support about my package.

Support questions about usage of the package can be better asked here : https://forum.synology.com/enu/viewtopic.php?f=190&t=114370 Since this is not a synocommunity released package.

[2017-01-14 01:57] nblake989 opened #2599 "Octoprint package fails to start - dependecy `unidecode` missing"
Initial Diagnosis: `spk/octoprint/src/requirements.txt` has a new dependency of `unidecode` that is missing at package runtime. `unidecode` is referenced once in the repo and was added in commit [`a72eb7e0d7135bd90eb6b7fa9e70cf967753e88f`](https://github.com/SynoCommunity/spksrc/commit/a72eb7e0d7135bd90eb6b7fa9e70cf967753e88f)

New install of Octoprint is unable to launch from Package Center.

`un

[2017-01-14 13:14] ward0 commented on #2131
@nelek, installed the version that should be working for my DSM still getting same error.. but ok i'l ask there thx

[2017-01-15 10:23] krazun opened #2600 "[SABnzbd] Request: Update SABnzbd to Version 1.2.0"
Hello Community,

SABnzbd Version 1.2.0 is out now and it would be really cool if someone would be so nice to update the package to the newest version.

Thank you very much!

[2017-01-15 11:28] juanjoGL commented on #2434
Hi,

Just to give a clue on the issue.. I have a DS214se and a DS212j. Recently I bought 2 new HDs to replace the ones installed in my DS214se and installed the DS214se from 0. I tried to install Transmission with no results (the problem mentioned and treated in this thread). I installed the old HDs of my DS214se in the DS212j and I got all the installed configuration and soft and data in the DS21

[2017-01-15 17:03] G1zm0 opened #2601 "[Package Request] Ombi"
Name: Ombi

Description: Previous known as Plex Request. Ombi allows you to host your own Plex Request and user management system. If you are sharing your Plex server with other users, allow them to request new content using an easy to manage interface! Manage all your requests for Movies and TV with ease, leave notes for the user and get notification when a user requests something. Allow your use

[2017-01-15 23:12] HPMSGEN8 commented on #2600
I see that someone has pushed the updated to v1.2.0-20.

[2017-01-16 00:27] KaraokeStu commented on #2600
Yup merged, built, and pushed!

[2017-01-16 00:27] #2600 closed

[2017-01-16 08:56] mrjay000 opened #2602 "[Package Request] Radarr (CouchPotato and Watcher alternative)"
Name: Radarr
Description: This fork of Sonarr aims to turn it into something like CouchPotato.
Website: https://github.com/Radarr/Radarr
Software documentation: https://github.com/Radarr/Radarr/blob/develop/README.md
Build/Installation documentation: see above
Source Code: https://github.com/Radarr/Radarr

Docker images already built.

[2017-01-16 09:09] madvtak commented on #2207
Wow, I saw an update for SABnzbd and updated. It's been broken for a while, so i just updated for the hell of it. SABnzbd now works again!!

![image](https://cloud.githubusercontent.com/assets/18261123/21976781/54385e00-db88-11e6-9d63-21223f1f865f.png)

My current DSM version

![image](https://cloud.githubusercontent.com/assets/18261123/21976804/6e86edd0-db88-11e6-9f49-5fdb146429bb.png)

[2017-01-16 09:24] Remmie1973 commented on #2321
Hi, did you solve this problem?
I have the same
/var/packages/nzbdrone/scripts/start-stop-status start not working

[2017-01-16 09:44] fredguy commented on #2321
hi mate, the issue seemed to be a speed issue. it takes time for the syno to "process" more than expected. I added some cycles and time to the whole thing.

In the end this is my config and it does the job :
Hope it helps.

`set mailserver localhost port 25

 set mail-format {
     from: my@domain.com
     subject: $SERVICE $EVENT at $DATE
     message: Monit $ACTION $SERVICE at $DATE on $HOST: $D

[2017-01-16 10:49] Remmie1973 commented on #2321
Thanks for the quick response,
I will wait a bit longer :)
Dont think it will solve it for me, but thanks

[2017-01-16 12:30] Dr-Bean commented on #2595
@theemstra Solved then? Good to hear.

@phit42 Mono doesn't do anything by itself: there's nothing in mono that is able to log to a file.
You can run `/usr/local/mono/bin/mono --version` manually and see what it does. It might give a segmentation fault, in which case you should be looking at https://github.com/SynoCommunity/spksrc/issues/2298. The normal response is that mono provides some version

[2017-01-16 12:30] #2595 closed

[2017-01-16 12:45] Dr-Bean commented on #2599
The `unidecode` addition isn't released in a package yet, I just added it to be sure it would be included in a future package update.
As a workaround, you can install it locally: `/usr/local/octoprint/env/bin/pip install unidecode` should do it.

I believe Octoprint as a whole could use an update (1.3.x is released, for example). @markbastiaans, @Decipher Can one of you handle that and create a PR

[2017-01-16 13:00] Dr-Bean opened #2603 "SabNZBD: Remove update wizard, update changelog"
As discussed here: https://github.com/SynoCommunity/spksrc/issues/2545#issuecomment-265782654.

The [update wizard](https://github.com/SynoCommunity/spksrc/blob/master/spk/sabnzbd/src/wizard/upgrade_uifile) should be removed, and the [changelog](https://github.com/SynoCommunity/spksrc/blob/master/spk/sabnzbd/Makefile#L18) should be kept in sync with changes in the package.

[2017-01-16 13:00] Dr-Bean commented on #2603
@KaraokeStu, can you handle this? :)

[2017-01-16 14:52] G1zm0 commented on #1881
Opened a new Package Request [2601](https://github.com/SynoCommunity/spksrc/issues/2601l)

[2017-01-16 14:52] #1881 closed

[2017-01-16 14:53] G1zm0 commented on #2602
Duplicate of [2596](https://github.com/SynoCommunity/spksrc/issues/2596)

[2017-01-16 17:43] theemstra commented on #2595
@Dr-Bean Correct!

[2017-01-16 18:13] PnoT commented on #2582
I am also having the same issue with using a self signed cert from my lab domain.  My cert works on all of my application pages except for mono.  The error message is exactly as you've shown as well.  I have followed the guide linked above (which is a bit outdated), a new guide on their wiki with a bit more detail, and this one [https://www.datadad.com.au/2014/04/custom-ssl-sabnzbd-sickbeard/](url

[2017-01-17 00:00] live4truths commented on #2207
I'd gladly chip in some $$ to get the other modules updated....

[2017-01-17 05:37] ajzimme commented on #1880
This doesn't resolve it.

DSM 6.0.2-8451 Update 8
DSM date:
2017/01/06

[2017-01-17 07:31] mparents2007 commented on #2207
Mine I managed to sort from day 1 but my mate is still down he tried the
update and no joy :(

On 17 Jan 2017 00:00, "live4truths" <notifications@github.com> wrote:

[2017-01-17 08:32] handyhelp commented on #2207
Hello all
Im trying desperately all what i can on my DS 415+ to make after a new Installation of DSM 6.0.2-8451 work my plexivity, i get everytime this error on the logs:

2017-01-17T08:21:26+01:00 DaniAleStation [  307.747333] init: pkgctl-plexivity pre-start process (28601) terminated with status 1
2017-01-17T08:21:26+01:00 DaniAleStation synoscgi_SYNO.Core.Package.Control_1_start[27744]: servic

[2017-01-17 14:30] suykast commented on #1880
I have no probs with it, what error or issue do you have ?

[2017-01-17 14:48] dg2000r opened #2604 "ffmpeg versions & libx264 on DS215j"
Hi

I've installed ffmpeg from the Community tab in package manager. When I try to use it though (to convert video to mp4) I'm still getting errors because it can't find libx264. Do I need to do something extra to enable that, or should it just be there already? Also is there any way to check that I'm actually using the newly installed ffmpeg, and not the old version that I had on there already?

[2017-01-17 15:31] mparents2007 commented on #2207
I got plexivity working by running it on the user Admin it's not ideal but
works.

On 17 Jan 2017 08:32, "handyhelp" <notifications@github.com> wrote:

[2017-01-17 15:37] ward0 commented on #2207
@mparents2007 did you change the start-stop-status script??

[2017-01-17 15:41] mparents2007 commented on #2207
It was a while ago but yes I'm sure it wad the start - stop script. I can't
ssh from outside the house so if you don't cracking it update here and I
will have a look when I'm home.

On 17 Jan 2017 15:37, "ward0" <notifications@github.com> wrote:

@mparents2007 <https://github.com/mparents2007> did you change the
start-stop-status script??

—
You are receiving this because you were mentioned.

Repl

[2017-01-17 18:32] Dr-Bean commented on #2395
I actually sent out an email to the Resilio team yesterday, and just came across this issue by pure coincidence. It'll be fixed for future packages.

[2017-01-17 22:07] ymartin59 opened #2605 "Update nasm digests for 2.12.02"
Pull request coming

[2017-01-18 09:22] cytec commented on #2604
synocommunity's ffmpeg is installed to `/usr/local/ffmpeg/bin/ffmpeg` if you use that it should work...

[2017-01-18 09:25] dg2000r commented on #2604
Perfect - I eventually figured that out last night, and it's all working great now. Thanks!

[2017-01-18 09:25] #2604 closed

[2017-01-18 14:39] ajzimme commented on #1880
I got it working by recursively setting permissions for transmission on its
own download folders.

On Tue, Jan 17, 2017 at 6:30 AM, Suykast <notifications@github.com> wrote:

[2017-01-18 21:09] ymartin59 opened #2607 "Upgrade zlib to 1.2.11"
Required to build as 1.2.10 is no longer available/supported.

[2017-01-18 22:29] mblaschke commented on #1387
Added a basic collectd script (bash script using snmp):
https://github.com/mblaschke/collectd-scripts

Not fully finished but gathers most informations from synology

[2017-01-19 12:42] minzdrav opened #2609 "synocommunity.com blocked in Russia"
Hi Syno Community team.
I've noticed, that your site no longer available in Russia. Your ip address [104.31.94.179] is blocked by a court decision. Site vulkan-igry.com used same ip and contain forbidden information: https://reestr.rublacklist.net/search/?q=104.31.94.179

Do you guys have mirror or something that can help? Maybe I can manually download packages somehow?
Thank you.

[2017-01-19 14:18] Diaoul commented on #2609
This is the IP address of CloudFlare, a popular CDN service. I'm very surprised the whole CDN is blocked in Russia.
We don't have a mirror.

[2017-01-19 14:52] piwi82 commented on #2609
This is an IP address from the CDN [CloudFlare](https://www.cloudflare.com/), other websites uses the same front servers from CloudFlare.
This is just about a stupid operator blocking CDN IP addresses without verification.
Could you give a feedback to rublacklist.net ?

[2017-01-19 14:56] piwi82 commented on #2609
I don't know who applies the court decisions in Russia, but blocking an IP address without verifying whether it's owned by a CDN or not is just stupid  :man_facepalming:

[2017-01-19 15:03] minzdrav commented on #2609
I'm totally agree that it's stupid.

[2017-01-19 17:28] minzdrav commented on #2609
@piwi82 I've contacted roskomnadzor: http://rkn.gov.ru/
They responsible for blocking in Russia. Answer: "Основания для исключения сетевого адреса из Единого реестра отсутствуют в силу доступности запрещенной инофрмации."
Translation: "We can't remove ip address from Unified Register because forbidden information still available".

I can't resolve this problem with roskomnadzor or my internet prov

[2017-01-19 18:38] piwi82 commented on #2609
Have you told them that this IP address is not dedicated to vulkan-igry.com ? There are other sites being this IP address that are being blocked for no reason. They should filter on domain names, not on IP addresses (it is done this way in France, and very easy to bypass 😄 ).
On your side, you should consider using a VPN (don't forget to activate the firewall).

[2017-01-19 20:48] ymartin59 opened #2612 "ffmpeg for evansport"
### Setup
_Package Name:_ ffmpeg
_Package Version:_ 3.1.2-4

_NAS Model:_ DS214play
_NAS Architecture:_ evansport
_DSM version:_ 6.0.2

### Expected behavior

Package availability for evansport architecture. After applying PR #2606 and #2608 on branch `dsm6`, I successfully built and deployed ffmpeg 3.1.2 package on my system.

### Actual behavior

Package is not available for evansport architectu

[2017-01-19 21:50] fonix232 commented on #2216
@Dr-Bean would it be possible to release separate, manual-install SPKs of the packages related to this issue? I believe there are many of us who want to use e.g. Transmission but can't due to the last released SPK being still buggy.

[2017-01-20 00:19] Dr-Bean commented on #2216
@fonix232 If I gave the impression that the repository backend is the cause of delays: not really.

Currently, there are two packages available on the dsm6 branch. There's no point in asking for other DSM6 packages, they quite literally do not exist. I'll give prio to the most-used packages. No ETA's, it's done when it's done.
Once packages are updated on the dsm6 branch, but not yet available on

[2017-01-20 00:24] Dr-Bean commented on #2612
Weird...Either I cleaned up to much when I removed a number of old packages recently, or it never existed in the first place, can't tell.
@cytec, maybe you can take a look at compiling the missing package(s)?

[2017-01-20 03:01] minzdrav commented on #2609
"Have you told them that this IP address is not dedicated to vulkan-igry.com ? There are other sites behind this IP address that are being blocked for no reason."
Yes. They don't care. Or just stupid...

"They should filter on domain names, not on IP addresses"
I think they don't have hardware for that.

"you should consider using a VPN"
Yes, I have vpn on my pc. But not on synology. Maybe I can c

[2017-01-20 03:11] minzdrav commented on #2609
Thanks. Good idea with vpn. I've configured vpn on synology and now I can update and install packages.
It's  not perfect, but better  that nothing :)

[2017-01-20 10:40] fonix232 commented on #2216
Ah, sorry, my fault.

It is quite frustrating though that Synology introduced such a breaking change without an easy solution for 3rd party package developers to easily adapt their packages to the new format... I was contemplating on buying a new NAS as my current one isn't exactly serving my needs any more, but this move makes me question if Synology keeps the needs of their users in their intere

[2017-01-20 12:16] cytec commented on #2612
@ymartin59 a little more information would be nice. something like the actual error you are getting or where it fails at all... i've only compiled it with 5.2 toolchains so far...

[2017-01-20 12:18] cytec commented on #2216
@Dr-Bean a little bit OT but... have you been able to get a DSM6 VM up and running?

[2017-01-20 14:17] Dr-Bean commented on #2612
@cytec It's not that (or at least, I don't think so; the ffmpeg packages on the repo should work for DSM6 afaik).
The thing is, there's no Evansport package for ffmpeg on the repository. I recently cleaned up old versions of the ffmpeg package, seeing as the 2.x package was badly broken, and I don't _think_ I made a mistake, but I could have. It's either that, or the package was never uploaded at

[2017-01-20 14:21] Dr-Bean commented on #2216
@cytec Haven't gotten around to it yet...I could sure use one though ;)

[2017-01-20 15:14] #2605 closed

[2017-01-20 15:15] #2607 closed

[2017-01-20 15:16] cytec commented on #2612
ah now i see... you are correct: i've never uploaded a 3.1.2 spk for evansport...
which seems strange i'm sure i did run `publish-all-supported` gonna check that and compile a version for evansport too

[2017-01-20 15:21] Dr-Bean commented on #2612
Just guessing, but if you're on x86 (-32), maybe build fails for Evansport, as it's the only x86 arch?

[2017-01-20 15:24] cytec commented on #2612
might be a problem but for some reason it seemed to have stopped when verifying `nasm`... running again now i'd keep an eye on that... but i guess you are right and it'll fail because im still on a 32bit host

[2017-01-20 15:29] Dr-Bean commented on #2612
Otherwise I'll start a build over the weekend, np.

[2017-01-20 23:24] HPMSGEN8 opened #2613 "[Package Request] FTP Client / Server"
Hi,

I wonder if there is an FTP Package some where that i can use on my Synology. Reason for this is that i have an SeedBox with `https://seedboxes.cc` and i would like to sync my data or just get files i need.

I have logged an support ticket with them to see if there is an package i can use or get added to the community.

Name: FileZilla
Description: FTP Client / Server
Website: https://filezil

[2017-01-21 12:57] skdenmark commented on #2602
Looking forward to see Radarr on my DS216Play :)

[2017-01-21 12:58] frossmant commented on #2602
*should* be pretty easy to create since it's just a fork of sonarr.

[2017-01-21 17:10] cytec commented on #2613
wget can download from ftp, and is already present on your DS.

[2017-01-21 18:33] BuSHari commented on #2216
@Dr-Bean @cytec Can you please tell me how can i install 'Plexpy' on my DSM6? the package exists on the repository but cant install.

[2017-01-21 22:17] cytec commented on #2612
SPK is published

[2017-01-22 08:02] #2612 closed

[2017-01-22 16:25] phit42 commented on #2595
Sorry for that and will do. I only asked for that as I was given the advice in the Sonarr forum to retrieve the mono log. I guess they are using sth like [http://www.mono-project.com/docs/advanced/runtime/logging-runtime-events/](url) as I can see Sonarr aka nzbdrone.exe is started with mono --debug.

[2017-01-22 20:10] HPMSGEN8 commented on #2613
@cytec can you please explain an bit more is this an Add-On or part of the OS

[2017-01-23 09:16] cytec commented on #2613
@HPMSGEN8 afaik wget is part of synology's default OS so you don't need to install anything, just ssh into your DS and rung `wget` i've use it like this:

`wget --ftp-user=USERNAME --ftp-password=PASSWORD --timestamping --no-remove-listing --recursive ftp://server/path/to/dir`

which recursive mirrors the server directory to my DS check out https://www.gnu.org/software/wget/manual/wget.html#FTP-Op

[2017-01-23 10:22] cytec commented on #2216
@BuSHari any error message?

[2017-01-23 10:32] BuSHari commented on #2216
After install it fail to run, but there is no error message in the log, or any message.
Do you want the message I get when trying to run the package?

[2017-01-23 10:54] cytec commented on #2216
well then you actually CAN install it... it just doesn't run which is exactly why this issue exists... as i said before: our packages currently don't support DSM 6 becuase of the changes synology did to user creation. Keep an eye on this issue, if there is a solution found, it'll likely be posted here

[2017-01-23 11:04] BuSHari commented on #2216
OK I thought there is a solution that I can do manually, thank you I'all keep an eye on this issue

[2017-01-23 11:57] Pilou44 opened #2616 "How to build FFMpeg for Synology Armada 370 based"
Hello,
I'm trying to build FFMpeg for my Synology DS414 slim. I can't find a tutorial or anything that helps me to do it from my Ubuntu PC. Can someaone help me please ?

[2017-01-23 11:59] HPMSGEN8 commented on #2613
Thanks alot for this :)

[2017-01-23 12:39] #2616 closed

[2017-01-23 14:20] Pilou44 opened #2617 "Error building ffmpeg for armada370"
Hello,
I'm trying to build ffmpeg for my Synolgy NAS. I need version 3.2 at least.
I've followed the steps described here : https://github.com/SynoCommunity/spksrc
Then I've done:
cd spksrc/
make setup
cd spk/ffmpeg
make arch-armada370

Build failed here :
===>  Configuring for openjpeg
cd /home/wechantloup/workspace/spksrc/spk/ffmpeg/work-armada370-5.2/openjpeg-2.1.0 && env PKG_CONFIG_LIBDIR=/hom

[2017-01-23 15:03] cytec commented on #2617
seems like you are missing cmake...
have you tried installing it by running `sudo apt-get install cmake` ?

[2017-01-23 18:08] monochromec commented on #1910
Issue reared its ugly head again in DSM 6.0.2-8451-2. Upgrade to 6.0.2-8451-9 didn't help: "Overview" progress indicator keeps spinning and "Services" tab is empty. belkone's workaround unfortunately didn't help.

More than happy to provide additional information, just let me know.

[2017-01-23 20:13] Masterfion commented on #1910
Hello :)
Same here !

[2017-01-23 20:27] ymartin59 commented on #2613
FTP protocol is supported in Download Station. With proper URL added to "downloads" you get your files transfered. See topic https://forum.synology.com/enu/viewtopic.php?t=55698

You also refer to FTP server in your title. Such service is available in DSM: https://www.synology.com/en-us/knowledgebase/DSM/tutorial/File_Sharing/How_to_access_files_on_Synology_NAS_via_FTP
(even if SFTP over SSH is hi

[2017-01-23 20:38] ymartin59 commented on #2587
License is GPLv2 https://github.com/knxd/knxd/blob/master/LICENSE

[2017-01-23 20:50] HPMSGEN8 commented on #2613
@ymartin59 thanks for this as well i will check this out. my main goal is to get my seedbox to sync with my NAS in the end.

[2017-01-24 03:56] tinx88 opened #2618 "Failed to download "Python", other package such as Transmission, Git works fine"
Please help!

I have recently bought DS216j, Previously owned DS212.
First, I migrate HDDs from DS212 (synology_88f6282_212) to DS216j (synology_armada38x_ds216j)

Startup fine but noticed that the packages need repair (Transmission, Sickbeard, Python, Download Station, Plex) , everything else can be repaired but not the Python. I had to remove it.

When I tried to download Python (v2.7.13-16) fro

[2017-01-24 09:26] Pilou44 commented on #2617
And you, it solved my compilation issue. But I still don't get how to specify the ffmpeg version I want to buid. I realy need 3.2.2 which is on "n3.2.2" tag. Can someone help me with this ?

[2017-01-24 11:04] Pilou44 commented on #2617
I've finally found how to do that.

[2017-01-24 11:04] #2617 closed

[2017-01-24 11:06] tinx88 commented on #2618
Tried installing it again and somehow it works lol....

[2017-01-24 11:06] #2618 closed

[2017-01-24 18:38] ssbarnea opened #2619 "meta: creation of synobugs project for tracking Synology bugs"
If you could open a new project under SynoCommunity called `synobugs` (or similar) it would be great.

I would like to use this project for tracking Synology bugs because, as we all know, Synology keeps their issue tracker private and it is clear nightmare to follow bugs on multiple forums and websites.

You can assign me as a maintainer and I will try to help dealing with them. Who knows, maybe i

[2017-01-25 09:17] meffect commented on #1522
does gogs need golang installed or no?

[2017-01-25 10:35] cytec commented on #1522
@meffect only on the host you use for compiling

[2017-01-25 10:53] flipswitchingmonkey commented on #1522
The gogs binaries are compiled statically, afaik. So you should not need anything.

[2017-01-25 15:14] byothe commented on #2357
Hi there,
Do we know if there is still someone maintaining this package ?

[2017-01-25 16:03] cytec commented on #2357
if i remember correctly @Diaoul is the original creator/maintainer...

[2017-01-25 16:04] meffect commented on #1522
awesome ty

[2017-01-25 17:52] kaso17 commented on #1995
Jackett v0.7.932 (pre release) contains an attempt to fix this.
Please try it and let us know the result.
https://github.com/Jackett/Jackett/issues/969

[2017-01-25 18:06] byothe commented on #2357
I Hope he'll work soon on Subliminal

[2017-01-25 20:58] ymartin59 commented on #2572
For such a command line tool, installable with "pip", I would focus on packaging "pip" on Synology, based on official Python 3 package... then "pip install beets" should work. What is your opinion about this proposal ?

[2017-01-25 21:27] ymartin59 commented on #2613
@HPMSGEN8 you confirm you use https://www.seedbox.fr/fr/ services, right ?

To sync files, "rsync" is the well known tool on Linux/Synology but it cannot work with neither FTP or WebDAV protocol. Technical alternative I have found is to mount a folder with FUSE / curlftpfs...  but I doubt FUSE is already available in DSM 5 or DSM 6 Linux kernels, which mean it may be a "hard" solution to your need

[2017-01-25 22:04] ymartin59 commented on #2551
I give it a try...

[2017-01-26 09:25] cytec commented on #2613
@ymartin59 well... or just use wget's fpt mirror function like i mentioned above ;)

[2017-01-26 09:31] cytec commented on #2572
well... pip actually comes with both python packages from Synocommunity and is located in `/usr/local/python/bin/pip` or `/usr/local/python3/bin/pip` but you'll have to reinstall it everytime you update the python or python3 SPK...

[2017-01-26 09:59] Dr-Bean commented on #2572
If beets is not a service that needs to run (doesn't look like it, correct me if I'm wrong?), then a manual install via pip _inside a virtualenv_ may very well be an acceptable route instead of packaging.
Without the virtualenv, as @cytec said, you'll have to reinstall each time the Python package is updated, so I wouldn't recommend that.
Also, you wouldn't need a separate useraccount either, just

[2017-01-26 10:57] Dr-Bean commented on #2619
I don't disagree that tracking Synology bugs is a pain in the neck, but I'm not at all convinced that SynoCommunity's Github repo is the right place for it myself.
For one, we're not affiliated with Synology, other than being users of their platform. We've seen new users reporting issues with Synology packages on our tracker on more than one occasion, and imo, we shouldn't make it more confusing b

[2017-01-26 11:03] ssbarnea commented on #2619
Indeed. I am really surprised how poor is the relation between Synology and its user community (both issue tracking, unmaintained and outdated forums and lack of transparency.

How about starting a petition instead? (sarcasm)

[2017-01-26 11:23] HPMSGEN8 commented on #2613
@ymartin59 it is https://seedboxes.cc who is use

[2017-01-26 11:29] Dr-Bean commented on #2619
It was better in the past, as it always is ;)

Anyway, if the petition doesn't work, my suggestion would be to start off with a thread on the global forum: Synology <> community interaction, or something like that.
Use your comment above as starting point, but put a positive spin on it :P. You want to gather input on improving the forums...like a 'starting over with a fresh slate' kind of idea, be

[2017-01-26 15:22] Dr-Bean opened #2621 "Retire XDM package"
It looks like `XDM` is no longer actively developed, as per https://github.com/lad1337/XDM/issues/201.
I've deactivated the package on the repo. We should remove the package from spksrc...that way I don't have to include it for DSM6 compatibility.

[2017-01-26 17:26] Hubfront commented on #2603
Sry for offtopic, but is it possible to install SabNZBD on a fresh installed DSM 6 and make it run without any workarounds? Just wonder because i just readed

https://github.com/SynoCommunity/spksrc/issues/2416

Sab would be all i need as app.

[2017-01-26 17:37] Dr-Bean commented on #2603
#2416 would be the correct place to ask though :)
From there, I would forward you to #2216, because that contains the latest info wrt general package changes for DSM6. See https://github.com/SynoCommunity/spksrc/issues/2216#issuecomment-271852804 in particular.
Once there are specifics for the sabnzbd package, I'll update #2416. For the record, the current answer is "No, you can't. We're working o

[2017-01-26 17:48] EddyBin commented on #2581
Is there already an solution ?

I found a workaround but not sure if this would work.  Can someone with a little more experience test this
As root you can start it from console with:
sudo su mosquitto -s /bin/sh -

[https://www.bountysource.com/issues/32220873-dsm-6-0-released-report-success-issues-with-packages-here](url)

[2017-01-27 12:41] Hubfront commented on #2603
Sorry again :)
and btw. it's nice, that you are here again on spksrc.

[2017-01-27 12:45] Magissia opened #2622 "Allow download of packages for manual installation"
### Setup
_Package Name:_ Any
_Package Version:_ Any

_NAS Model:_ RT1900AC
_NAS Architecture:_ northstarplus
_DSM version:_ SRM 1.1.3-6447 Update 1

### Expected behavior
Tell us what should happen
Looking at http://packages.synocommunity.com/ with a web browser allows to download packages for manual installation

### Actual behavior
Tell us what happens instead
Looking at http://packages.synocom

[2017-01-27 12:46] Magissia commented on #2622
RT1900AC doesn't allow end user to add new repositories, but SynoCommunity doesn't allow downlaod of packages for manual installer neither, while t he RT1900AC allows manual install.

[2017-01-27 12:56] cytec commented on #2622
we don't provide direct DL links, see: https://github.com/SynoCommunity/spksrc/issues/2561#issuecomment-268912270 you can still set up your own Development Environment and compile the needed SPK's on your own see https://github.com/SynoCommunity/spksrc#setup-development-environment

[2017-01-27 12:56] #2622 closed

[2017-01-27 16:15] Dr-Bean opened #2623 "Add FAQ entry covering manual download questions"
Title says it all.

[2017-01-27 16:43] cytec commented on #2623
I'm with you on that. But i'm not 100% sure where it would fit best.

Maybe on the Website? And additionally in the Wiki?
Doesn't really belong in the readme i guess...

[2017-01-27 17:37] Dr-Bean commented on #2623
I was thinking in the actual FAQ: https://github.com/SynoCommunity/spksrc/wiki/Frequently-Asked-Questions.
CONTRIBUTING (so, the Guidelines that are shown when opening an issue) links to it from [issues](https://github.com/SynoCommunity/spksrc/blob/master/CONTRIBUTING.md#issues).
We don't directly link to the FAQ from the README, but we do have a link to CONTRIBUTING in there. (I don't want to lin

[2017-01-27 17:46] Dr-Bean opened #2624 "Update openssl to 1.0.2k"
Announcement: https://mta.openssl.org/pipermail/openssl-announce/2017-January/000092.html
Changelog: https://www.openssl.org/news/cl102.txt
Changelog excerpt:
[code]

Note: we cannot upgrade to the OpenSSL 1.1 series, there are backwards compatibility issues to consider. We'll stay on the 1.0 series until we can confirm all dependant packages can work with 1.1.

[2017-01-28 06:42] ymartin59 commented on #2572
Agree. I propose to create a package that automates virtualenv creation and deletion (update should be considered as delete+create), the same way than "flexget" package does.

[2017-01-28 06:47] ymartin59 commented on #2613
Right. "wget" can do incremental mirroring. Automating with a crontab entry may be far enough.

[2017-01-28 06:49] ymartin59 commented on #2613
But I wonder if using Syncthing on both seedboxes and Synology may be a "better" option. Opinion about it ?

[2017-01-28 10:16] hwmrocker commented on #1011
@cytec sorry to spam you here, but i wanted to install syncting.spk on my sonology but your repository has it no longer. could you provide me the binary file somehow?

[2017-01-28 15:31] cytec commented on #1011
@hwmrocker that's right syncthing is available through https://synocommunity.com for a while now ;)

[2017-01-28 15:34] cytec commented on #2613
well... you could install Syncthing on both devices and set that up i guess. I didn't do it because well... why bother with another app to configure and setup when wget already has everything i need? This might come in handy when you want a 2 way sync or something like that. But in my case i only need remote to local sync and decided to go with the easiest/quickest solution

[2017-01-28 15:40] cytec commented on #2623
Might wanna add something about DSM 6 too?
seeing there are a lot of issues targeting `xyz not running on DSM 6` i know we already have something like that here https://github.com/SynoCommunity/spksrc/wiki/Frequently-Asked-Questions#which-dsm-versions-do-you-support ...

[2017-01-28 15:47] cytec commented on #2623
How about this for the download's part:

### I cant access SynoCommunity Repo could you provide a direct download for {package}

Make sure you checked your DNS Settings and that you have set the  Trust Level to `Synology Inc. and trusted publishers`.

We don't provide any direct/manual download links for any of our Packages, we do provide the source code, and everything that you need to create pac

[2017-01-28 15:49] Dr-Bean commented on #2623
Sure, we could, but I hope that the dsm6 issues will be largely resolved in the next couple of weeks or so (depends on how soon the repo backend is updated, and how fast I can get packages out). So we might not need to update the FAQ anymore... ;)

The thing with DSM6 is that ultimately, I want one (1) open issue per non-working package. That issue will be used to track working DSM6 compatibility,

[2017-01-28 15:52] cytec commented on #2623
Nice, wasn't aware that DSM6 support is just around the corner ;) just ignore what i said about that then :)

[2017-01-28 16:01] Dr-Bean commented on #2623
Well, I'm probably halfway there, but since I'm mostly scripting the changes for all packages at once, there's no point in pushing it out...and a lot of packages need manual checking afterwards to make sure I didn't miss anything...kind of tedious :/

The text looks okay. Starting with your text, how does this sound?
Do you provide a direct download for {package}?

We don't provide direct/manual d

[2017-01-28 16:04] Dr-Bean commented on #2572
Sure, that's how all the Python-based packages work, so sounds good @ymartin59. Planning to create a PR for it?

[2017-01-28 16:05] Dr-Bean commented on #2623
As I understand it, there seem to be several reasons people ask for manual downloads, so I left that part out :)

[2017-01-28 16:42] GitHubDelphi commented on #2581
@EddyBin your link is broken

[2017-01-28 16:50] Dr-Bean commented on #2624
Done with b99394e57fb4138db6e7d677f9026af1a7f47518

[2017-01-28 16:50] #2624 closed

[2017-01-28 16:50] Dr-Bean commented on #2603
Done with c84b15f19b79e5612eaaf588f3b4ef0f93a36fa7

[2017-01-28 16:50] #2603 closed

[2017-01-28 16:50] Dr-Bean commented on #2621
Done with 73f8937eab6764c4c91806355dd7a90f634470f7

[2017-01-28 16:50] #2621 closed

[2017-01-28 16:54] Dr-Bean commented on #2597
Deluge done with adb78d617728c5f1ba00027301ea6bdb185eb0d2
Python packages done with 88495dbdb801706d9df075487f1109441c99b745

[2017-01-28 16:54] #2597 closed

[2017-01-28 17:52] ymartin59 commented on #2551
Package almost ready... I am building a XPEnology DSM 5.2 for testing. Pull request should come soon.

[2017-01-28 17:58] alirz1 commented on #2551
looking forward to this. I had building the apl. While the flexget apk gets built it was only 32KB in size, which doesnt sense.
Would you provide the apk for download.
And if you dont mind would you share you build setup?

[2017-01-28 18:20] ph3x commented on #1910
I'm also affected by the issue described by monochromec.
System is a DS412+ with DSM 6.0.2-8451 Update 9

If any logs can be provided I'm glad to help.

Cheers,
Christian

[2017-01-28 19:24] cytec commented on #2623
looks good to me ;)

[2017-01-28 19:26] cytec commented on #2551
@alirz1 well i guess @ymartin59 is creating a spk with/for spksrc and opens a PR afterwards, so it should be available on synocommunity after it was merged and also in spksrc for everyone to compile it on their own if they'd like to

[2017-01-28 20:12] ymartin59 opened #2625 "flexget package build broken since "new wheel approach""
Current master version produces an invalid "flexget" package. It is 30 KiB and contains only `var/config.yml`.

Building "flexget" at commit 1a6f563f3f8547bf5c0c8158272f18819a1db17b creates a non empty package weighting 6 MiB which sounds correct.

Related to my upgrade try for request #2551

I report this issue in case other python packages are affected to by commit a72eb7e0d7135bd90eb6b7fa9e70cf

[2017-01-28 20:22] Dr-Bean commented on #2625
Just an oversight on my part, we should drop https://github.com/SynoCommunity/spksrc/blob/master/spk/flexget/Makefile#L23.
There might be some other packages that are affected, I can't remember if I checked that, or just forgot for Flexget.

[2017-01-28 20:42] Dr-Bean commented on #2625
Fixed with https://github.com/SynoCommunity/spksrc/commit/af51e31a559de37976b5bbdad9514158c66bad42

[2017-01-28 20:42] #2625 closed

[2017-01-29 07:26] ymartin59 commented on #2625
Thanks for the quick fix. It would have took me a pair of hours to understand and fix myself.

[2017-01-29 07:31] ymartin59 commented on #2613
@cytec OK but my proposal targets @HPMSGEN8 situation. From my point of view this request should be closed as FTP client are already available on Synology and Filezilla does not sound to be an option for a "regular" user. (I do not expect anyone to run a X server and connect with SSH and X11 forward to open Filezilla)

[2017-01-29 07:32] ymartin59 commented on #2572
@Dr-Bean Yes I will create a PR as soon as I am over with flexget upgrade

[2017-01-29 07:44] ymartin59 commented on #2551
@Dr-Bean @Diaoul I am annoyed with current package versioning because 20150605-5 is considered as "upper" version than "2.9.11-6" I have planned to used as new package version. As package was beta, does it sound acceptable to ask users to uninstall "beta" package to be able to install new package with now proper versioning ?

[2017-01-29 07:48] ymartin59 commented on #2551
@Dr-Bean @Diaoul An other "newbie" question: instead of copy/pasting "requirements.txt" from GitHub repository, I would like to add a make target to do it automatically before "wheel" processing. Is there any pre_wheel "hook" I may define (and how) to do so ? Thank you in advance

[2017-01-29 09:37] ymartin59 commented on #49
Even if "make" sequence for each package/architecture cannot be parallelized easily, I find it possible/interesting to parallelize "per architecture" build to speed up at least `make all-supported`.

[2017-01-29 13:00] ymartin59 commented on #2572
@gborri Are you interested in some "must-have" plugins for a typically usage of `beets` on Synology which make sense to embed by default in package ?

[2017-01-29 15:36] gborri commented on #2572
The standard one is fine.

Thanks

[2017-01-29 16:15] Dr-Bean commented on #2551
@ymartin59 Wrt versioning: Not sure I care all that much. It's either not being able to present the correct version in Package Center, or instruct people to reinstall. The problem with the reinstall is that people who have the current package installed will not get an update presented via Package Center...

Wrt requirements.txt:
The problem with requirements.txt is that the are no 'rules' on what

[2017-01-29 16:27] Dr-Bean commented on #49
Parallel make is supported with all rules (iirc anyway), _except_ `make all-supported` ;) Unless you know a way to check if `REQ_KERNEL` is set in dependencies and filtering out a subset of arches based off of that without a loop.

[2017-01-29 17:16] Dr-Bean commented on #2623
Done: https://github.com/SynoCommunity/spksrc/wiki/Frequently-Asked-Questions#do-you-provide-directmanual-downloads-for-packages
Slightly edited once more ;)
Thanks for the input, @cytec :)

[2017-01-29 17:16] #2623 closed

[2017-01-29 18:24] Dr-Bean opened #2627 "Link to FAQ from README/Contributing section"
Something like:
[code]

[2017-01-29 18:52] MrTango opened #2628 "Syncthing: Support DS116 (Armada385)"
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_ syncthing
_Package Version:_

_NAS Model:_ DS116
_NAS Architecture:_ Armada385
_DSM version:_ DSM 6.0.2-8451 Update 9

### Expected behavior
It would be really nice to have syncthing also on the DS116, but so far it is not available there.
I have it installed on my DS213j and would like to sync both devices and my laptop wit

[2017-01-29 20:52] cytec commented on #2613
@ymartin59 correct ;)

[2017-01-29 20:52] #2613 closed

[2017-01-30 14:52] EddyBin commented on #2581
The correct [link](https://www.bountysource.com/issues/32220873-dsm-6-0-released-report-success-issues-with-packages-here)

The actual item is approximately 25% of the long list by tedstriker

tedstriker  commented on this issue 9 months ago.

 @ernorv unfortunately this doesn't work with the current DSM 6.0 version.
 As root you can start it from console with:
sudo su mosquitto -s /bin/sh -c "PAT

[2017-01-30 15:12] Dr-Bean commented on #2253
Done with 40f461fe1e08d5a9c41f952e00be5dec8ecfe5fe. Packages will be on the package repo in about ten minutes or so, might take longer to show up in Package Center due to caching.

@zwartoog Not sure, but I assume duplicity should be able to search $PATH, and `/usr/local/bin/gpg-agent` binary should be available to duplicity in that case.
If not: unfortunately we can't add a symlink to `/usr/bin/g

[2017-01-30 16:17] joelbu opened #2630 "Transmission missing Python as a dependency"
### Setup
_Package Name:_ Transmission
_Package Version:_ 2.92-12

_NAS Model:_ DS1511+
_NAS Architecture:_ INTEL Atom
_DSM version:_ DSM 6.0.2-8451 Update 9

### Expected behavior
During installation Python should be installed as dependency, I think. At least one of the scripts contains references to a python directory.

### Actual behavior
Python is not installed.

### Steps to reproduce
_1._ Ta

[2017-01-30 16:19] joelbu commented on #2630
I also noticed that choosing directory names with spaces was a bad idea apparently, but I think dependencies are usually installed first anyway so this shouldn't have any influence on the issue.

[2017-01-30 16:21] Dr-Bean commented on #2630
Transmission has no relationship with Python. And yes, spaces in directory names are a bad idea in general. Use underscores instead.

[2017-01-30 16:28] joelbu commented on #2630
Okay I am admittedly a bit of a noob still, but /var/packages/transmission/scripts/start-stop-status starts with the following lines:

[code]

Is that just standard boilerplate then?

[2017-01-30 16:32] Diaoul commented on #2630
Deluge is coded in Python hence the dependency. "Standard" Transmission doesn't require Python to run : your scripts do.
Most of our scripts are using the same template yes.

[2017-01-30 16:32] Dr-Bean commented on #2630
See https://github.com/SynoCommunity/spksrc/commit/a8bd69a0aee1a8f809a81c2d1c223562239f8a0b. It's to support certain post-processing scripts. Because it's not widely used, we don't want to add a dependency on the Python package, and if people wna tto use it, they can install the Python package manually.

[2017-01-30 16:33] joelbu commented on #2630
Ah I see, thank you, and sorry about the false alarm then.

[2017-01-30 16:33] #2630 closed

[2017-01-30 21:39] hwmrocker commented on #1011
@cytec many thanks!

[2017-01-31 13:49] attaxia commented on #2216
@cytec, You're probably not the right person to address, but I'm wondering why it isn't mentioned on either https://synocommunity.com/ nor the README for this repo that DSM6 is not supported? This seems like a pretty big deal.

[2017-01-31 14:57] Argon- commented on #2216
It isn't? I didn't even notice this since packages I installed with DSM5 are still running just fine on DSM6 for a long time now (e.g. ZNC). Does this mean I couldn't reinstall them?

[2017-01-31 15:22] attaxia commented on #2216
That is my experience. Users already created under DSM 5.0 will stay functional but adding new packages that require a user to be created will not work. I ran in to this, thought my DSM 6.0 install was corrupted so I did a reinstall. Then I couldn't install any of my packages anymore.  I then had to go through the painful process of downgrading to DSM 5.

There are some workarounds like adding the

[2017-01-31 15:25] rcork commented on #2216
I've given up on SynoCommunity packages due to the lack of compatibility with DSM6 and moved to using Docker containers. It has a bit of a learning curve but there's pretty much a docker container for everything.

[2017-01-31 15:27] attaxia commented on #2216
Unfortunately my older NAS can't handle Docker.

[2017-02-02 09:58] infinitum213 commented on #2207
Just wanted to report that I have successfully installed DSM 6 and all SickBeard and ruTorrent packages are working correctly after the update.
I probably have the advantage that I held off on the update for a long time and only installed the packages a bit before updating. But hopefully this may help someone.

Details are as follows:
Model: DS214+

1. As of 2017-01-08 on DSM 5.2-5967 update 2.
2.

[2017-02-02 14:20] bamtan commented on #2221
@pannbiff is your ruTorrent still functioning? I'd appreciate some assistance in setting it up on my 216J.

[2017-02-02 14:27] bamtan commented on #2392
@fritz001 Is there any where I can contact you? I'd like to get ruTorrent working on my Synology (ds216j). cheers

[2017-02-02 17:39] fritz001 commented on #2392
Hi Louis,

Can you give more details  just to have more info how to  help you.

On 02/02/2017 15:28, louis wrote:

[2017-02-02 18:57] DaveHamilton opened #2631 "Subliminal 0.7.5-12 fails to start on DSM 6.0.2-8451 Update 9"
### Setup
_Package Name:_ Subliminal
_Package Version:_ 0.7.5-12

_NAS Model:_ DS1815+
_NAS Architecture:_ avoton (x86_64)
_DSM version:_ DSM 6.0.2-8451 Update 9

### Expected behavior
I have never used Subliminal before. I downloaded it from SynoCommunity and I would expect it to start.

### Actual behavior
I can download it successfully but get "Failed to run the package service." in the GUI. As

[2017-02-02 21:36] o0v7r0o commented on #2628
I may be wrong, but it is already supported, probably just the build on the server is missing somehow. At least I can compile it for armada38x arch. Hopefully when #2553 will be merged, you will see the spk.

[2017-02-02 23:00] Dr-Bean commented on #2628
@o0v7r0o @MrTango While we can publish the package (it'll happen semi-automatically with a new release), it won't help in this case: Syncthing isn't yet DSM6 compatible. While the package will show up in Package Center once published, it won't start. See #2216: we're working on it.

[2017-02-02 23:05] Dr-Bean commented on #2631
Subliminal, as a lot of other packages, isn't ready for DSM6 yet. In the case of Subliminal, there are two things at play:
- User handling in DSM6 was changed by Synology. Subscribe to #2216;
- The GUI doesn't work due to changes made by Synology. See #2357.

Having said that, subliminal is CLI-based. Instructions on how to use it via command-line are available at http://subliminal.readthedocs.io/

[2017-02-02 23:05] #2631 closed

[2017-02-03 08:03] bamtan commented on #2392
@fritz001 It simply does not run anymore -- just loads and then 'stopped'.

I had it give me an IP address (http://NAS-IP/rutorrent/) but even then it gave me an error 403 when visiting the site.

Apparently another user found a fix on #2215, but I'm unsure on how to apply what those fixes were.

I've successfully set up Transmission, and had Deluge web-ui working, but I much prefer ruTorrent.

Ar

[2017-02-03 08:22] Dr-Bean opened #2632 "Sonarr: remove spk/PLIST entries on sqlite stuff"
The entries in https://github.com/SynoCommunity/spksrc/blob/master/spk/sonarr/PLIST
are a duplicate of the entries here: https://github.com/SynoCommunity/spksrc/blob/master/cross/sqlite/PLIST.
The entries in Sonarr's PLIST can be removed.

[2017-02-03 09:08] o0v7r0o commented on #2628
@Dr-Bean actually I'm on 6.1beta now and have no problems with packages (both official and community). I jumped out from DSM6 because they broken hibernation somehow.

[2017-02-03 09:19] Dr-Bean commented on #2628
Eh? You can install any SynoCommunity package (clean! not upgrading from a previously installed package, no manual changes), and it creates a user and the package runs? Cause that's the main issue here...

[2017-02-03 09:55] o0v7r0o commented on #2628
@Dr-Bean it seems so, as soon the package has its own busybox with adduser. Later today I will check it through.

[2017-02-03 15:37] timoline commented on #1387
*1

[2017-02-03 16:14] Dr-Bean commented on #2628
@o0v7r0o Assuming it's a fluke in the DSM6.1 beta, and in case you're interested what adding DSM6 support looks like for our packages, see https://github.com/SynoCommunity/spksrc/commit/f4ffb15c6949b8464956b5c3736290f97a1c177f.
Although the Syncthing-Inotify package wouldn't need the privilege file, and some other things can be skipped for that package as well, seeing as it uses the user managed v

[2017-02-03 17:24] tofuSCHNITZEL commented on #2136
any news?

[2017-02-03 19:43] ldoench opened #2633 "SABnzbd fails to start on my DS216play"
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_ SABnzbd
_Package Version:_ 1.2.0-20

_NAS Model:_ DS 216 Play
_NAS Architecture:_ monaco x16 Series
_DSM version:_ DSM 6.0.2-8451 Update 9

### Expected behavior
It should start after I installed it

### Actual behavior
It gives me this screen: http://imgur.com/a/Qn8uy
(This package service could not be started)

### Steps t

[2017-02-03 19:57] Dr-Bean commented on #2633
Please use the search before opening an issue. Duplicate of https://github.com/SynoCommunity/spksrc/issues/2416. The issue is related to #2216, subscribe to it to keep informed of updates.

[2017-02-03 19:57] #2633 closed

[2017-02-03 22:53] fritz001 commented on #2392
Hi Louis,

So:

1st:

-- connect to NAS as root ( 1st as admin and after sudo su - )

screen -c ${USER} -u ${USER} -p ${PID_FILE} -- -D -m ${RTORRENT}

1.a     if you get this error: "screen: error while loading shared
libraries: libelf.so.0: cannot open shared object file: No such file or
directory"

in order to make it work, downloaded

http://launchpadlibrarian.net/158018450/libelfg0_0.8.13-5_i

[2017-02-04 02:01] bamtan commented on #2392
@fritz001 I don't have the command `screen` nor IPKG to install it with. I'm on an armv71 Synology, is that maybe why? (DS216j)

[2017-02-04 02:32] cytec commented on #2207
@infinitum213 there are no problems when you upgrade after you installed a SPK only if you try to install one after you already upgraded. That's mainly because of the way synology handles user creation in DSM 6 if you installed the SPK before the upgrade the user is created and presists the upgrade ;)

[2017-02-04 06:49] ymartin59 commented on #2309
I wonder if there is still any interest in keeping "*-testing" packages (sabnzbd-testing and nzbget-testing), seeing there versions/revisions are older than "stable" ones (at least on master). Are branches not enough for this purpose ? Why not simply publish packages in a "testing" branch as "beta" any user may install if willing to ?

[2017-02-04 07:17] bamtan opened #2634 "[Update Request] libtorrent_rasterbar_1.1.1-1 for Deluge"
I'm not sure about the current version of libtorrent_rasterbar, according to `/usr/local/deluge/lib` it's on `8.0.0` but [here](https://github.com/SynoCommunity/spksrc/tree/master/cross/libtorrent) it's on 1.0.10

Either way -- I'm having SSL handshake errors when seeding/downloading from https trackers with the current libtorrent version.

Is there any way I can update this for the time being?

[2017-02-04 10:19] o0v7r0o commented on #2628
@Dr-Bean, I've tried to install icecast:
`root@---:~# cat /etc/passwd | grep -i icecast`
`root@---:~# cat /etc/passwd | grep -i icecast`
`icecast:x:101:100:icecast User:/usr/local/icecast/var:/bin/sh`
`root@---:~# /var/packages/icecast/scripts/start-stop-status status`
`icecast is not running`
`root@---:~# /var/packages/icecast/scripts/start-stop-status start`
`Starting icecast ...`
`root@---:~# /

[2017-02-04 10:20] Dr-Bean commented on #2634
We haven't updated to the libtorrent 1.1 tree because of http://dev.deluge-torrent.org/ticket/2852: it's not supported.

If you want to update/test anyway, set up a development environment, fork spksrc, edit `cross/libtorrent` to your needs (+update digests and PLIST), then compile the Deluge package for your architecture.
More details are available on https://github.com/SynoCommunity/spksrc/wiki/

[2017-02-04 10:22] Dr-Bean commented on #2309
@ymartin59 The -testing packages focus purely on testing releases from upstream, per popular demand. While those versions might _currently_ not be the newest, that's not the norm.

[2017-02-04 10:44] Dr-Bean commented on #2628
That's surprising :) What are the chances that'll hold up when DSM6.1 final is released, I wonder ;)

I do think we'll still be going ahead with the approach in the `dsm6` branch, because unless Synology provides official support for users created with busybox, it's subject to change at any point in time: can't have that...

[2017-02-04 11:07] Dr-Bean opened #2635 "Retire Jappix package?"
As per https://github.com/jappix/jappix, Jappix is no longer maintained, and jappix.org is no longer available.
While PR's are still accepted, according to upstream, there's not all that much activity going on (even though a release has been cut a couple of days ago...not sure how that works)

Releases are now available on github (https://github.com/jappix/jappix/releases), so if we want to contin

[2017-02-04 11:14] bamtan commented on #2634
@Dr-Bean what about 1.0.10?

[2017-02-04 11:26] Dr-Bean commented on #2634
It _is_ 1.0.10: https://github.com/SynoCommunity/spksrc/blob/master/cross/libtorrent/Makefile#L2.
You're looking at the shared library version: the two versioning schemes don't necessarily have to be the same. More likely then not, they aren't :)

[2017-02-04 11:32] Dr-Bean commented on #2634
Having said that, I don't know that the current Deluge package has 1.0.10 in it..it's probably 1.0.6. Not sure what the changelog looks like between 1.0.6 and 1.0.10.

[2017-02-04 11:35] bamtan commented on #2634
@Dr-Bean Do you know how I could manually get 1.0.10 by any chance? I'm on an armv7 (DS216J). Thanks for the information 😃

[2017-02-04 11:45] Dr-Bean commented on #2634
See my first comment: you'll have to compile the Deluge package yourself, and after that, you can install it via Package Center.

[2017-02-04 11:46] bamtan commented on #2634
@Dr-Bean I can't do this ☹️

[2017-02-04 11:48] Dr-Bean commented on #2634
Please explain what you mean with that. We don't mind that you ask questions, so why not try it?
It's either that, or you'l have to wait until one of the maintainers releases a new package.

[2017-02-04 11:51] bamtan commented on #2634
@Dr-Bean I guess I could give it a try. Debian 8 on a Virtual machine right? I'll read through the wiki.

[2017-02-04 11:53] Dr-Bean commented on #2634
Yep, that's it :)

[2017-02-04 12:02] Dr-Bean opened #2636 "Retire oscam package?"
Note sure if the software is still maintained, but since the current version is probably outdated, and we can't release packages for it anyway, might as well retire it.

@schumi2004, I think you used this (in the past anyway): any input?
@Diaoul As the maintainer, same question for you :)

[2017-02-04 12:41] schumi2004 commented on #2636
I have my own version now and like you said it's not allowed to release i would just drop it.

[2017-02-04 12:41] bamtan opened #2637 "[Package Request] GazelleUI (Headphones alternative)"
Name: GazelleUI
Description: Similar to Headphones, it is a lightweight web based torrent manager, with mobile support.
Website: https://github.com/XanderStrike/GazelleUI
Software documentation: https://github.com/XanderStrike/GazelleUI/blob/master/readme.md
Build/Installation documentation: see above
Source Code: https://github.com/XanderStrike/GazelleUI

I nearly got this to run on my DS216j (no

[2017-02-04 12:44] Dr-Bean commented on #2636
So it's still maintained? Because the other option is that we keep oscam in sync with upstream (whatever version it is), and just not publish the package on the SynoCommunity package repository. That enables people to build the package directly from spskrc for themselves.

[2017-02-04 12:46] Dr-Bean commented on #2637
Ask upstream for that issue. It's their software...

[2017-02-04 12:48] Dr-Bean commented on #2637
Besides, you're not using our Python package, but Synology's. Take a look at some of the existing Python-based packages in spksrc, that may be simpler in the long run.

[2017-02-04 12:54] bamtan commented on #2637
@Dr-Bean I am using Diaoul's Python 2.7.13-16 package from the Synocommunity.
Also, I've asked upstream -- but unfortunately he doesn't have a Synology to test with. Are you familiar with this error? I couldn't find much by Googling.

[2017-02-04 12:58] Dr-Bean commented on #2637
You might have the SynoCommunity Python package installed, but you are definitely not _using_ it to run this package. You can tell by the paths you're using: our Python package is installed in `/usr/local/python`, not `/usr/lib/python2.7`
Fix that first (and preferably use a virtualenv instead of installing directly into Python's system site, see existing Python packages on this repo), and then I

[2017-02-04 13:07] schumi2004 commented on #2636
OSCam itself is still maintained.
I can upload my version of it, it's equal to upstream.
It also contains http://www.streamboard.tv/oscam-addons/wiki/Envi_WebIf_Template

[2017-02-04 18:28] ymartin59 commented on #2551
Because of versioning and no real usage of the tool, I let package as beta until users' feedbacks confirm everything is all right

[2017-02-05 01:22] decon89 opened #2639 "Update deluge with a newer version of libTorrent."
Deluge v1.3.13-6 by Dr-Bean with libtorrent 1.0.6.0
on
1515+ with DSM 6.0.2

I'm having troubles getting connection to torrent that requires SSL handshakes. I'm getting this "Error: Network is unreachable" on my torrents. From searching the web, it seems that libtorrent 1.0.6.0 is too old to handle SSL. I've looked at the DSM package log, and it says "core:85 Starting libtorrent 1.0.6.0 session",

[2017-02-05 11:46] Dr-Bean commented on #2142
Done with #2629 thanks to @o0v7r0o. Packages are published on the repository and should show up shortly.

[2017-02-05 11:46] #2142 closed

[2017-02-05 11:49] Dr-Bean commented on #2628
Package for Armada385 has been published, although not with DSM6 support yet. See my previous comment for that.
I'll merge master to the dsm6 branch when possible (as I'm working on other stuff, so I can't switch), but once done, people are able to build a DSM6-compatible package for Syncthing and install locally. Otherwise, as mentioned, subscribe to #2216 to keep informed of progress.

[2017-02-05 11:49] #2628 closed

[2017-02-05 11:55] Dr-Bean commented on #2639
See https://github.com/SynoCommunity/spksrc/issues/2634, that happens to be the exact same request.
I'll close this one. I'm working on it, if all goes well, I'll push out an updated package later today.

[2017-02-05 12:04] Dr-Bean commented on #2551
Package has been published on the repository, and should show up in Package Center shortly.

[2017-02-05 12:04] #2551 closed

[2017-02-05 12:17] Dr-Bean commented on #2634
As mentioned in the other issue: I'm working on it, if all goes well, I'll push out an updated package later today.

[2017-02-05 12:26] Dr-Bean commented on #2634
Next release we should probably take the package out of beta.

[2017-02-05 14:29] bamtan commented on #2634
@Dr-Bean good to hear, thanks!

[2017-02-05 17:41] fritz001 commented on #2392
Well,

We'll try a different approach:

be logged as root

1.  goto  "/var/packages/rutorrent/scripts" and do

sh -x ./start-stop-status  start

and tell me if any errors

On 04/02/2017 03:01, louis wrote:

[2017-02-05 17:47] BenjV commented on #2216
@Dr-Bean
I was looking at the script installer.sh in your DSM 6 fork and wanted to share my findings.

You used the command addgroup to add the user to the sc-..... group.
On my test NAS (DS116) with DSM6 that command does not exist.
To add users to a group I have to use:
synogroup --member <group> <user1> <user2> <etc>
The problem with that command is, that the list of users must include al the u

[2017-02-05 18:12] Dr-Bean commented on #2216
`adduser` and `addgroup` are added via busybox. That weird approach `synogroup` uses is exactly the reason why I'm not using it (of course it's possible...but I'm not going to do that if I don't have to)

[2017-02-05 18:16] Dr-Bean commented on #2639
...thought I closed it already, guess not ;) Deluge 1.3.13-7 has been published on the repository.

[2017-02-05 18:16] #2639 closed

[2017-02-05 18:17] Dr-Bean commented on #2634
Deluge 1.3.13-7 has been published on the repository. It should show up in Package Center between now and an hour or two. Let me know if you run into issues :)

[2017-02-05 18:17] #2634 closed

[2017-02-05 18:44] mrsorbate opened #2640 "PlexPy does not start"
Hey,

PlexPy does not start

I have installed the PleyPy application from the Communityhub.

However, I do not get this started. "The package can not be run" <- Always the same error.

In the log is unfortunately nothing!

I am on DSM 6 (latest version). Admin account is enabled.

I need help :(

[2017-02-05 19:08] decon89 commented on #2639
Thanks man! will try it out now 👍

[2017-02-05 19:10] BenjV commented on #2216
Ok, thanks for the info.

[2017-02-05 20:16] o0v7r0o opened #2641 "Busybox 1.25.1 -> 1.26.2 default config has unnecessary items"
### Setup
_Package Name:_ syncthing
_Package Version:_ 0.14.21-10

_NAS Model:_ ds111
_NAS Architecture:_ 88f6281
_DSM version:_ 6.1beta

### Expected behavior
busybox 1.25.1 installs
[code]
### Actual behavior
busybox 1.26.2 installs
[code]

[code]

It seems that busybox default config should be changed while upgrading to 1.26.2

[2017-02-05 20:25] Dr-Bean commented on #2641
Every time...
Those config functions are really not very stable.

[2017-02-05 21:47] JosEikhout opened #2642 "domoticz does not appear in listing of package center"
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_domoticz
_Package Version:_v2

_NAS Model:_ds214=play
_NAS Architecture:_
_DSM version:_DSM 6.0.2-8451 Update 9

### Expected behavior
Tell us what should happen i expected to see domoticz as one of the options to install in the package center but it does not appear

### Actual behavior
Tell us what happens instead i can see

[2017-02-06 04:02] rpgdev opened #2644 "After updating Deluge to version v1.3.13-7 it doesn't start running"
After updating deluge doesn't want to start running now. Can I still get the previous version from anywhere?

### Setup
_Package Name:_ deluge
_Package Version:_  v1.3.13-7

_NAS Model:_ DS213j
_NAS Architecture:_ ARM
_DSM version:_ DSM 5.2-5967 Update 2

### Expected behavior
App should start after running it.

### Actual behavior
It never starts to run, it remains in the stopped state.

### Step

[2017-02-06 04:28] #2644 closed

[2017-02-06 04:28] bamtan commented on #2644
Navigate to `/var/packages/deluge/scripts/` as root and run `./start-stop-script start`

[2017-02-06 06:36] bamtan commented on #2392
@fritz001 this is what I got
[code]

I don't have `screen`, so maybe that's a problem.

[2017-02-06 10:18] palmfighter commented on #2640
same here, no logging found, only this message:
{"last_check":"2017-02-06T10:02:32Z","pypi_version":"9.0.1"}

[2017-02-06 14:16] lobocobra opened #2645 "How to fix TRANSMISSION 2.92-12 on fresh DSM6 installation DSM 6.0.2-8451 Update 9"
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_ transmission
_Package Version:_ 2.92-12

_NAS Model:_ DS415+
_NAS Architecture:_
_DSM version:_6.0.2-8451 Update 9

### Expected behavior
Tell us what should happen
If you install transmission from the package manager, the package transmission will install but not run.

### Actual behavior
Tell us what happens instead
nothin

[2017-02-07 08:30] madvtak opened #2648 "Radarr - Unable to complete the download"
Hi,

I am super excited to see Radarr in the Syno Packages, I have it running in docker but having some issues, so i really wanted to try the Syno Package version. (i believe it might be a permissions issue but i nor the developers can figure it out.)

Anyways, i stopped the container in Docker so that port 7878 is not in use, but having issues trying to get it going. Any help is appreciated. Than

[2017-02-07 08:37] #2648 closed

[2017-02-07 09:50] binderth opened #2649 "mosquitto: MQTT-broker won't start up"
install mosquitto package
### Setup
_Package Name:_ mosquitto
_Package Version:_ 1.4.9-5

_NAS Model:_ DS214play
_NAS Architecture:_ INTEL Atom CE5335
_DSM version:_ DSM 6.0.2-8451 Update 9

### Expected behavior
1. install mosquitto package
2. goto "package center" - "installed" - "mosquitto" and select "execute"
3. mosquitto package will start

### Actual behavior
1. install mosquitto package
2.

[2017-02-07 12:45] yeroentje opened #2650 "Radarr package not able to install on DS215+"
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_Radarr
_Package Version:_20170203_1

_NAS Model:_DS215+
_NAS Architecture:_Alpine4k
_DSM version:_6.0.2-8451 Update 9

### Expected behavior
Package should install normally without any errors

### Actual behavior
The following error shows: Port undefined configured for this package is either used by another service or reserve

[2017-02-07 16:23] Dr-Bean commented on #2649
Yes, that's a known issue on DSM6. #2216 is the underlying cause, subscribe to that issue to keep informed of the overall progress.

I'll close this issue, because it's a duplicate of https://github.com/SynoCommunity/spksrc/issues/2581. When more information specific to the Mosquitto package becomes available, that issue will be updated as well.

[2017-02-07 16:23] #2649 closed

[2017-02-07 16:27] Dr-Bean commented on #2645
Thanks for reporting, but as you can imagine, we already knew about this :)
A complete implementation/fix for all affected packages is currently being developed in the `dsm6` branch, as part of #2216. Subscribe to that issue to keep informed of progress.
In the meantime, I'm going to close this issue.

[2017-02-07 16:27] #2645 closed

[2017-02-07 16:32] Dr-Bean commented on #2642
Sorry, we currently do not provide a Domoticz package on our repository (well, besides the one package that I'll remove shortly...not sure how that came about)

[2017-02-07 16:32] #2642 closed

[2017-02-07 16:55] Dr-Bean commented on #2641
Fixed locally.

[2017-02-07 17:04] mhartvig commented on #2650
I'm getting the error "Port 7878 configured for this package is either used by another service or reserved for system use." I've also checked with netstat, and the port is in use. DSM 5.2-5644 Update 5.

[2017-02-07 17:07] KaraokeStu commented on #2650
Hi, it appears that DSM 5.x holds onto ports under 8000 for High Availability, which is causing some issues with this package at present.

[2017-02-07 17:09] KaraokeStu commented on #2602
Package has been built and publushed, although there are some issues on DSM 5.x due to the port numbers

[2017-02-07 17:09] #2602 closed

[2017-02-07 17:09] #2593 closed

[2017-02-07 17:09] KaraokeStu commented on #2593
Closed as just a warning

[2017-02-07 19:04] Bterrell721 opened #2651 "Radarr package needs to include libgdiplus"
### Setup
_Package Name:_  Radarr
_Package Version:_  20170203-1

_NAS Model:_  DS713+
_NAS Architecture:_
_DSM version:_  DSM 6.0.2-8451 Update 9

### Expected behavior
Radarr is dependent upon libgdiplus when attempting to determine if a movie already exists on the disk.  Please include this in the package and include an update with this lib please.

### Actual behavior
Error received in Radarr

[2017-02-07 19:10] yeroentje commented on #2650
But I have the DSM 6.x version installed and it looks like I have the same issues. Hope this can be fixed. Love to try out the package.

[2017-02-07 19:20] KaraokeStu commented on #2650
If you disable the synology firewall, it works

[2017-02-07 19:35] yeroentje commented on #2650
I have disabled my firewall, rebooted the NAS and still getting the same error. Any logs I can take a look at to troubleshoot this any more?

[2017-02-08 07:02] madvtak opened #2652 "Radarr - In app update killed the app."
Hi all,

Anyone experiencing this issue? There was a new update tonight so i updated, within the app. After the updated downloaded completed, i was presented with the app has been updated click here to reload the page. I reload the page and it never loads. I check the package.

![image](https://cloud.githubusercontent.com/assets/18261123/22724318/2d6aa81a-ed7a-11e6-96d2-c89de4cab960.png)

I try to

[2017-02-08 07:58] KaraokeStu commented on #2652
Hi, please can you confirm your current installed dsm version?

[2017-02-08 08:34] madvtak commented on #2652
![image](https://cloud.githubusercontent.com/assets/18261123/22729160/59b06eb6-ed96-11e6-8e8b-32fb37a251bf.png)

[2017-02-08 08:36] Fieze commented on #2652
Same problem, DSM 6.0.2-8451 Update 9

[2017-02-08 09:30] cytec commented on #2652
https://github.com/SynoCommunity/spksrc/issues/2216

[2017-02-08 09:38] cytec commented on #2651
FYI: link to package: https://github.com/mono/libgdiplus

[2017-02-08 10:13] KaraokeStu commented on #2652
Your logs should be in /var/packages/radarr/target/var/.config/Radarr/UpdateLogs

[2017-02-08 10:15] KaraokeStu commented on #2652
@cytec since this installed originally without issue on both DSM 5 and 6, I don't think it is linked to #2216

[2017-02-08 11:06] ymartin59 commented on #2640
I will have a look

[2017-02-08 12:13] cytec commented on #2652
yeah saw that on the second read too... nevermind than

[2017-02-08 12:15] cytec commented on #2640
seems like the known "DSM 6 user creation bug": https://github.com/SynoCommunity/spksrc/issues/2216 PlexPy isn't DSM 6 ready yet

[2017-02-08 13:39] ressu commented on #2651
I thought they actually fixed Radarr upstream to handle when the library isn't available. I will look into including it in the package.

[2017-02-08 14:26] newkind commented on #2652
Ok, so on my latest DSM 6 reboot actually helped but there is definitely conflict with Sonarr. I'm having issues with running both at the same time. If Sonarr is working, I can't connect to Radar. If I stop both and start firstly Radarr and then Sonarr - I can access Radarr but Sonarr rejects my connection. Odd.

[2017-02-08 14:29] cytec commented on #2652
@newkind sound's like something you should report upstream maybe? maybe thats something that comes from the "fork/renaming" stuff

[2017-02-08 14:55] cytec commented on #2637
This isn't really an error with GazelleUI but timezone issue...
Synology tends to report the timezone as `local` which isn't handled by apscheduler and produces the Error you see, see: https://github.com/agronholm/apscheduler/blob/master/apscheduler/util.py#L82-L87

What might help:
1. Try set your Timezone in DSM to GMT+0 and try starting the package if that works you should be able to restore th

[2017-02-08 15:26] newkind commented on #2652
They claim that SynoCommunity package is the culprit.

https://github.com/Radarr/Radarr/issues/663#issuecomment-278356094

[2017-02-08 15:34] cytec commented on #2652
hm... would be strange... afaik they don't use same ports or anything... can you run both apps on your local pc side by side?

[2017-02-08 15:35] newkind commented on #2652
I don't have idea, got them installed only on my NAS.

[2017-02-08 15:36] KaraokeStu commented on #2652
I can whip up a VM and try running them both side by side on both Windows and Ubuntu...

[2017-02-08 15:37] KaraokeStu commented on #2652
That said, I have both running side by side on my DSM 6 VM, but I have changed the ports on both (one uses 8081, the other 8083)

[2017-02-08 15:38] cytec commented on #2652
now im even more confused ^^
can't be package related and isn't an upstream problem then... might just reinstall those SPK`s and try again?

[2017-02-08 15:45] newkind commented on #2652
Ok, I found the culprit. They changed the default port from 8989 (Sonarr) to 7878 (Radarr), but they forgot to switch the default SSL port on which Radarr operates. By default is 8989 so the same as Sonarr thus the conflict.

[2017-02-08 15:48] KaraokeStu commented on #2652
@newkind Nicely done! Good spot!

[2017-02-08 15:59] ressu commented on #2652
Good catch. The reason why I didn't see a conflict was because I don't use SSL (on either). I'll be sure to update those both when I change the defaults for the package.

[2017-02-08 16:31] Dr-Bean commented on #2627
Done with c3f2371c107bf4c80e87161e298450367a9eec3b

[2017-02-08 16:31] #2627 closed

[2017-02-08 16:32] Dr-Bean commented on #2632
Done with d5222bd09dc89c98087a852a5134a5a2bc5a2082

[2017-02-08 16:32] #2632 closed

[2017-02-08 16:33] Dr-Bean commented on #2641
Done with 43258d382daf4aea1d3a6647677079587f7a847d. Not releasing new packages specifically for this since two packages are affected (Syncthing, Deluge) and it's not a breaking change.
@o0v7r0o Thanks for reporting.

[2017-02-08 16:33] #2641 closed

[2017-02-08 17:07] mrsorbate commented on #2640
This Error Shows up try to start on my other DS with DSM 5.2

https://cloud.githubusercontent.com/assets/25298257/22748126/6142791a-ee29-11e6-89c3-83f1bcbad272.png

I Dont know what i doing wrong :(

[2017-02-08 17:08] mrsorbate commented on #2640
This Error Shows up try to start on my other DS with DSM 5.2

https://cloud.githubusercontent.com/assets/25298257/22748126/6142791a-ee29-11e6-89c3-83f1bcbad272.png

I Dont know what i doing wrong :(

I Dont know what i doing wrong :(

[2017-02-08 19:54] mhartvig commented on #2650
I've also tried to disable the firewall without any effect.

[2017-02-08 21:19] computaholic commented on #1910
Any news on this?

[2017-02-08 23:11] ymartin59 commented on #2640
Your capture on DSM 5.2 is exactly what to expect as log content when everything goes right, no error visible there.

What seems wrong is the reported state after "Run". It is still show as "Stopped" whereas process is really running:
[code]

Is it possible `dsm-control.sh` failed to report process availability based on PID file with `wait_for_status` and `daemon_status` ?

[2017-02-08 23:46] cytec commented on #2640
hm strange... might have an error in there somewhere... gonna check that tomorrow

[2017-02-09 02:06] Bterrell721 commented on #2651
Awesome, thanks a ton!  Package works like a charm otherwise, I appreciate you getting it out so quick for us.

[2017-02-09 03:48] bamtan commented on #2637
Problem has been fixed upstream, thanks for the help!

[2017-02-09 03:48] #2637 closed

[2017-02-09 11:23] madcowGit commented on #2216
I have no experience with programming, but am an enthousiat user of Synocommunity.

Is it not possible to make a new package that reinstates the missing commands? Much like the Nano package does (https://synocommunity.com/package/nano) ?

[2017-02-09 23:23] zmwangx commented on #2645
I also needed to install Transmission on my DSM 6.0.2 box just now, and want to share my experience in case someone stumbles upon this in the future.

After reading #2216, I got the impression that it might be a bad idea to use `synouser` to create `transmission` the usual way (it seems that the shell would be reset to `/sbin/nologin` upon reboot).

Since the issue ultimately boils down to permiss

[2017-02-10 06:54] adrien-delhorme commented on #2253
@Dr-Bean, some python dependencies are missing in the new package. I am using a duplicity's backend that requires `pyrax`. Here are the missing packages:
﻿﻿
- argparse==1.4.0
- keyring==10.2
- mock==2.0.0
- oslo.config==3.22.0
- pyrax==1.9.8
- python-keystoneclient==3.10.0
- python-novaclient==2.27.0
- rfc3986==0.4.1
- secretstorage==2.3.1

I saw you just removed it from requirements, how should w

[2017-02-10 10:55] Dr-Bean commented on #2253
@adrien-delhorme Not on purpose. Requirements.txt was generated with `pip freeze` after installing `duplicity` and `rackspace-novaclient`. If both of those don't (seem to) require pyrax, maybe you can explain how should I get duplicity to install/require those modules? Otherwise we'll run into this with every update...

As for oslo.utils: not sure what the issue is there. There should be a `monoto

[2017-02-10 11:23] Dr-Bean commented on #2216
@madcowGit It's not a question of reinstating. Synology has made changes that prevent us from using anything else than their commands.

[2017-02-10 12:04] ymartin59 opened #2656 "Automate new upstream version availability detection and processing"
Here is first specification of my idea. Python sounds me a good choice for implementation.

### Expected behavior
- Without package location as argument, loop on packages, either `cross`, `native` or `spk`
- Parse Makefile to get version and project download location
- Test if a newer version is available according to "supported" download sources:
    - For a git or subversion repository, list tag

[2017-02-10 13:07] Dr-Bean commented on #2253
What I'll do is add `pyrax==1.9.8` as main requirement, essentially replacing `rackspace-novaclient` there, as it itself is a dependency of pyrax (so it covers both). That also fixes the discrepancy between two python-novaclient versions (`2.27.0` vs `7.1.0`). I'll fix that in a bit.

The issue with monotonic is that, looking at the code, it might not work on all arches because time.monotonic isn'

[2017-02-10 13:13] Dr-Bean commented on #2253
Pyrax added with 9d81e17e4c397c98ce1bf4f2fb8d369d5c4f83dc.

[2017-02-10 15:22] Dr-Bean opened #2657 "(re)Start properly crediting package authors on synocommunity.com"
The `author` field on the package view on synocommunity.com/package/$package is set to the uploader by default (not the Maintainer in INFO, as those don't necessarily have the same value). Over time, that means that a lot of authors aren't properly credited for their work. So, let's fix that.

How it works:
- Make sure you use your Github account name in the package Maintainer field;
- Use your Gi

[2017-02-10 15:26] Dr-Bean commented on #2657
@yeled for `ncdu`
@peeter123 for `rsnapshot`
@rjblake for `plexpy-custom`

[2017-02-10 15:30] Dr-Bean commented on #2657
@KaraokeStu for `sabnzbd-testing` ;)

[2017-02-10 15:38] Dr-Bean commented on #2657
@eelcohn for `tcl`
@biyiklioglu for `fdupes`
@adchevrier for `nzbhydra`
@markbastiaans for `curaengine`

[2017-02-10 15:41] KaraokeStu commented on #2657
Aaaaaw thanx 👍

[2017-02-10 15:45] Dr-Bean commented on #2657
@KaraokeStu Well, on the flipside, packages that you're currently credited for will be taken away :P

[2017-02-10 15:48] Dr-Bean commented on #2253
...and published duplicity 07.11-5. @adrien-delhorme Hopefully this works a bit better for you :)

[2017-02-10 18:14] Dr-Bean commented on #1872
Node has been removed with fed349ebf1c48a25b98526a181e8ceb0eca4f24a

[2017-02-10 18:14] #1872 closed

[2017-02-10 18:14] Dr-Bean commented on #1692
Node has been removed with fed349ebf1c48a25b98526a181e8ceb0eca4f24a

[2017-02-10 18:14] #1692 closed

[2017-02-10 20:01] Intrapixel commented on #2216
It seems that the only way is via SSH with the command synouser and editing the file /etc/passwd, I do manually to be able to install any server. Maybe you can make an installation script to run as root.

[2017-02-10 22:05] agile-tester commented on #2253
@Dr-Bean,

First of all my apologies for abusing this thread, but I have no other way to contact you.

While looking for a solution to my problem I stumbled upon some old post of yours in https://www.bountysource.com/issues/2549743-syncthing-can-t-start-service-via-web-interface

I (think I) have a similar problem. I've installed the tmux package on my synology, but I can't start it from the DSM U

[2017-02-10 23:00] WalterBorgstein opened #2659 "Sabnzbd 1.2.0-20 Shows error un executing postdownload Python script."
_For new Package Requests, see the guidelines_

### Setup
_Package Name: Sabnzbd
_Package Version: 1.2.0-20

_NAS Model: Synology DS413
_NAS Architecture:_Synology?
_DSM version:_DSM 6.0.2-8451 Update 9

### Expected behavior
Sabnzbd should execute a script called /usr/local/sabnzbd/var/scripts/sabToSickBeard.py to update Sickbeard after the download in Sabnzbd

### Actual behavior
Python script "

[2017-02-11 08:16] KaraokeStu commented on #2659
This is not a bug with the package, but with your installation of the scripts. You'll need to ssh in and set the permissions yourself.

[2017-02-11 08:16] #2659 closed

[2017-02-11 09:55] WalterBorgstein commented on #2659
Thanks for responding to my issue. I did not change anything on the system. I don't ssh in on it. In the last update this behaviour changed. In the link I attached I read that it had nothing to do with the permissions on the script files. However, to exclude it, I will try and ssh in today and check for you. I will get back later.

[2017-02-11 11:08] yeroentje commented on #2650
Any way the package can be changed to another port that is not part of the 7400-7999 range?

[2017-02-11 12:48] smiley-avc commented on #2628
@Dr-Bean I've noticed, that you merged master to dsm6 branch. What's the status of DSM6.x support (and more specifically Syncthing on 6.x)? Is it usable? I'm planning to use it on my 416j (armada38x) with 6.x version and I'm a little worried this would break something in the system. I don't want to reinstall the system and thus if something went wrong, I would have to attempt manually fix/remove S

[2017-02-11 15:14] KaraokeStu commented on #2650
Yes, it's being worked on at the moment and should be done this weekend

[2017-02-12 02:59] ressu commented on #2652
There is a branch that addresses this issue. It is a blind fix, since I'm in an airport and just about to hop in to a plane (so can't test whether upgrade wipes your config or if it even compiles) I just wanted to get this started so I don't forget about it.

[2017-02-12 11:34] Dr-Bean commented on #2628
@smiley-avc The `dsm6` branch should generally be on the right track to produce dsm6-compatible packages, although it's not complete yet for a number of packages. For Syncthing, I would think it's more or less done: while I have not tested that specific package, the approach is generally similar to a lot of other packages.
If you build that package, it'll either produce a package that works exactl

[2017-02-12 11:38] Dr-Bean commented on #2628
One thing I just realized is that Syncthing doesn't have the wizard yet (it tells you something like: use the `sc-syncthing` group to set permissions in DSM, similar to this line: https://github.com/SynoCommunity/spksrc/blob/dsm6/spk/couchpotatoserver-custom/src/wizard/install_uifile_enu#L23-L27

[2017-02-12 11:43] Dr-Bean commented on #2253
@agile-tester You seem to be reporting an issue for a SynoCommunity package. While this is the correct repository, it's not exactly the right place. Read the instructions in the [Guidelines](https://github.com/SynoCommunity/spksrc/blob/master/CONTRIBUTING.md#issues) and open a new issue. Please don't spam unrelated issues or unrelated projects to get my attention...

[2017-02-12 11:58] Dr-Bean commented on #2144
I believe this issue can be closed, #2258 was merged ages ago, and I don't think we've had other issues being reported (for DSM6, probably a new issue should be opened if there's a need)

[2017-02-12 11:58] #2144 closed

[2017-02-12 12:18] Dr-Bean commented on #2378
Closing. DSM6 compatibility for SABnzbd is tracked in 2416, and the meta issue wrt user creation is tracked in #2216.

[2017-02-12 12:18] #2378 closed

[2017-02-12 15:11] Dr-Bean commented on #1917
Closing. Flexget was updated via https://github.com/SynoCommunity/spksrc/issues/2551 and https://github.com/SynoCommunity/spksrc/pull/2626.

For future reference: while `/usr/local/flexget/env/bin/pip install --upgrade flexget` probably works, doing that means you're no longer using the SynoCommunity package. We can't provide support for that, because we can't check or control what has happened on

[2017-02-12 15:11] #1917 closed

[2017-02-12 15:43] Dr-Bean commented on #2385
MC is purely CLI-based, it's not supposed to be started via Package Center. Because it doesn't run, the status is `stopped`. This is the default for all of our CLI-based packages.

A specific key, `startable=no` is set in the package's INFO file, to prevent Package Center from thinking it can be started. It looks like that that behavior has been broken, probably with the introduction of DSM6 due t

[2017-02-12 15:43] #2385 closed

[2017-02-12 15:57] Dr-Bean opened #2661 "Meta: Package list, DSM6 status and their associated issues."
In preparation for DSM6 packages being made ready and published, here's an overview of the status. I'll correct and add as I work through the packages.

DSM-related problems/questions for a particular package should be discussed in the mentioned issues. Where an issue currently does not exist, one can be created.

PACKAGE|STATUS|ISSUE|COMMENT|
----|----|----|----|
adminer|No known issues|#2662|WEB

[2017-02-13 01:56] magefesa commented on #1725
+1

[2017-02-13 08:12] WalterBorgstein commented on #2659
I changed the chmod of the scripts. I'm not sure why they were incorrect. I did not change them myself. All is working now. Thanks.

[2017-02-13 11:35] cytec commented on #2216
@Intrapixel there is already an official solution and @Dr-Bean is working hard on it to move most of our Packages to the DSM 6 compatible solution (see dsm6 branch) so we already know how to do it... but still have to do it for every package and if i remember corretly there still is some server side stuff to handle afterwards. so it might be a while till DSM6 Packages will be available.

[2017-02-13 11:37] magefesa commented on #2136
Same question ... Any solution ? Thanks to all who hav spend some time with this  !

[2017-02-13 11:45] mydevpeeps commented on #1933
assuming this is outdated and marked as fixed? why is it still open?

[2017-02-13 11:47] mydevpeeps commented on #2398
I setup sonarr w/mono a few weeks ago and I don't have to point it to the special mono version in the scripts to get it to work right on the latest DSM. is this old news? can it be closed?

[2017-02-13 12:02] piwi82 opened #2662 "Adminer"
This issue is linked to the #2661 issue.

Official website : http://adminer.org
Official source : https://github.com/vrana/adminer/

Dependencies : Web Station ~~and MariaDB~~.

Security considerations :

- Restrict access to local networks (10/8, 127/8, 172.16/12, 192.168/16) using a `.htaccess` file.

PostgreSQL considerations :

- I had to comment the block `if (extension_loaded("pgsql")) { ...

[2017-02-13 13:12] mydevpeeps opened #2663 "Sonarr Service Fails to Start after NAS Reboot"
### Package
_Package Name:_ Sonarr
_Package Version:_ 20170106-9

### Supporting Package(s)
_Package Name:_ Mono
_Package Version:_ 3.10.0-4

### Setup
_NAS Model:_ DS1512+
_NAS Architecture:_ Intel Atom Dual-Core 64-bit w/3G RAM
_DSM version:_ 6.0.2-8451 Update 9

### Expected behavior
Installed Sonarr w/mono as pre-setup admin user "seedbox". Setup and Configured Sonarr. Config to be retained po

[2017-02-13 16:14] Dr-Bean commented on #2662
👍

The .htaccess file is already done, right? https://github.com/SynoCommunity/spksrc/blob/master/cross/adminer/Makefile#L28? Does that still work as intended on DSM6?

As for the postgreSQL connection, document it in a wiki, like [here](https://github.com/SynoCommunity/spksrc/wiki/Package-Documentation-Index)? I assume this should never be made part of the package by default.

For the dependencie

[2017-02-13 16:28] cytec commented on #2663
uhm... why are you messing with the user who runs the spk in the first place? every spk runs either under it's own user... or root for some i guess.
No need to "choose" a username or anything at all... if you'd like to... i don't get it...

[2017-02-13 16:28] #2398 closed

[2017-02-13 16:30] cytec commented on #1933
because sonarr is still not working with DSM 6... see https://github.com/SynoCommunity/spksrc/issues/2216

[2017-02-13 16:33] Dr-Bean opened #2664 "Wiki: Document patch creation"
Intro:
* Explain when to use a patch (high level, as in: not when there are config options available to do the same thing, other stuff?);
* Location (patches dir) and naming;
* Fixed ordering done with `001-patchname`,`002-patchname` etc;
* Break large patches up into smaller, self-contained patches;
* Don't set `PATCHES_LEVEL = x` unless you can explain why ;) Generally shouldn't be necessary whe

[2017-02-13 16:36] cytec commented on #2657
@Dr-Bean you've got that working already? chromaprint is still crediting you ;)

[2017-02-13 16:37] Dr-Bean commented on #2657
Well, it's not like this is automated...I'm actually checking who registered, and changing the author based on it. Who created that package? You? :D

[2017-02-13 16:38] Dr-Bean commented on #2657
@ressu for `radarr`...done :)

[2017-02-13 16:39] cytec commented on #2657
yup. ah i see. thought you changed it to do this on some kind of automation ^^
So basically its still the same? the one who publishes the first package will be credited untill the maintiner registers after the upload?

We should fix that stuff on the repo side once @Diaoul finished moving ;)

[2017-02-13 16:40] Dr-Bean commented on #2657
yep. For the record, since I have no clue: can you change the author of any package yourself, just for your own uploads , or none at all?

[2017-02-13 16:48] cytec commented on #2657
ah... lol... seems like i can actually do that myself :D well... never checked that anyways ... im good than thanks :D

[2017-02-13 16:57] mydevpeeps commented on #2663
the value of this USER variable in the script determines where all of the config files go, what user it attempts to write to the directories as.. and what user the service runs as. It's a VERY important value, and it being defaulted to "nzbdrone", just because that's the package name, assuming that user actually exists, is asinine. When i installed it I specifically told it to run as this user, an

[2017-02-13 17:04] Dr-Bean opened #2665 "Retire MantisBT package"
Synology has been offering a MantisBT package for a while now. It looks to be up-to-date, the code makes sense, so we might as well drop our package of it.

I'll turn off distribution, we can remove the code at a later stage.

[2017-02-13 17:04] cytec commented on #2663
uhm... Sonarr isn't asking you for any user to specify. It's using the `nzbdrone` user and should be creating it when it's installed... that's how SPK's work and that's how Synology tells developers to handle it... where config is stored should be handled by the start-stop script by passing it as arg or something like that... i don't know why thats not the case i didn't create that package but for

[2017-02-13 17:14] Dr-Bean commented on #2663
Already changed the user to `sc-sonarr` in the `dsm6` branch, but for backwards-compatibility reasons, we can't just switch over for existing packages. So the legacy user will continue to be `nzbdrone`.

Wrt to the home dir for Sonarr, the configuration dir (`.config`) is auto set to the user's home dir on DSM5 (see the `adduser` command in installer.sh), appended with `.config`. That amounts to `

[2017-02-13 17:25] mydevpeeps commented on #2663
OK. Thanks. So what I experienced, I think, is what I have read with the bug that doesn't create that user correctly on DSM 6, and then on reboot the DSM startup cleanup scripts delete the user (nzbdrone) and that could be why a bunch of folders were owned by userid 100 (because I understand it deletes users that aren't in both password & shadow - memory is a little fuzzy). I wonder, then, if this

[2017-02-13 17:35] Dr-Bean commented on #2663
@mydevpeeps Sonarr allows you to make a backup that you can restore, so if you follow that method, a cautious yes _if_ Sonarr effectively chowns restored files to the current user...I assume it does, but I've never had a need to find out.

As for a workaround, people have been coming up with all sorts of methods that might or might not work when updated packages will be released. We can only do ou

[2017-02-13 20:55] zebulon501 commented on #2216
Concerning the issue with the `/etc/shadow` file, it might be a good idea to enable the feature `CONFIG_FEATURE_SHADOWPASSWDS` in `cross/busybox/configs/usrmng`.

I didn't tried it, but it seems to do the trick by looking at the code of `busybox-1.26.2/loginutils/adduser.c`.

[2017-02-14 08:08] piwi82 commented on #2662
Yes, it works on DSM `6.0.2-8451u9`.

I wouldn't like to provide a package that gives full access to the PostgreSQL database (weird things could append between a keyboard and a chair...). But if some packages require a pgSQL DB, we will be able to provide an access using the package user account. Good idea to document it in the wiki.

Adminer is compatible with any DSM version, it's a simple PHP s

[2017-02-14 11:07] Dr-Bean commented on #2216
@zebulon501 The issue isn't adding entries into `/etc/shadow`, it's keeping them in there ;) DSM6 removes entries that don't fit certain criteria.

[2017-02-14 17:38] ymartin59 commented on #2572
@gborri May you please confirm this package satisfies your request. https://synocommunity.com/package/beets. Thank you in advance for feedbacks

[2017-02-14 20:51] gborri commented on #2572
@ymartin59 seems to be fine. The only question is: where is the default location for config file? Thanks a lot

[2017-02-14 21:25] ymartin59 commented on #2572
@gborri Configuration file location can be specified on command line with `--config`. See `/usr/local/beets/env/bin/beet -h` for details.

To see details, I propose to run `/usr/local/beets/env/bin/beet --verbose version`
[code]

[2017-02-14 22:25] gborri commented on #2572
@ymartin59 thanks

[2017-02-15 11:52] piwi82 commented on #2662
Document created : https://github.com/SynoCommunity/spksrc/wiki/Adminer
Index updated : https://github.com/SynoCommunity/spksrc/wiki/Package-Documentation-Index

[2017-02-15 15:37] iifuzz commented on #2650
Anything on this? Still having the issue

[2017-02-15 22:18] yuroller opened #2669 "[Duplicity] hubic backend not working"
### Setup
_Package Name:_ duplicity
_Package Version:_ v0.7.11-5

_NAS Model:_ DS212+
_NAS Architecture:_ 88f6282 (armv5)
_DSM version:_ DSM 6.0.2-8451 Update 9

### Expected behavior
Being able to backup files to hubic service.

### Actual behavior
Program crash

### Steps to reproduce
_1._ duply profile backup
_2._
_3._

#### Package log
_Check Package Center or `/usr/local/{package}/var/`_
[cod

[2017-02-15 22:29] yuroller opened #2670 "[Duplicity] Unable to encrypt using gnupg"
### Setup
_Package Name:_ duplicity
_Package Version:_ v0.7.11-5
_Package Name 2:_ gnupg
_Package Version 2:_ v2.1.6-2

_NAS Model:_ DS212+
_NAS Architecture:_ 88f6282 (armv5)
_DSM version:_ DSM 6.0.2-8451 Update 9

### Expected behavior
Being able to encrypt backup archive

### Actual behavior
duplicity exits because passes to gnupg the unrecognized option:
[code]

### Steps to reproduce
_1._ Cre

[2017-02-15 22:48] Trozz commented on #2207
I performed the install on multiple diskstations and have found that it does not add an entry to `/etc/shadow` correctly, once I add this the service fails missing `unidecode` so had to install it (do the following)
[code]

Self update will not work as the OS does not include git by default, use the git install from SynoCommunity
[code]

[2017-02-16 09:18] Dr-Bean commented on #2669
Same as @adrien-delhorme ran into here: https://github.com/SynoCommunity/spksrc/issues/2253#issuecomment-278871557.
Can you or @adrien-delhorme report this upstream, to the oslo-utils devs? They might be interested in adding this fix for architectures that don't support time.monotonic. See also my comment there: https://github.com/SynoCommunity/spksrc/issues/2253#issuecomment-278937987.

[2017-02-16 09:25] Dr-Bean commented on #2670
Please add actual steps to reproduce, thanks.
It looks like you're not using the correct `gpg2` binary. Please confirm you're using `/usr/local/gnupg/bin/gpg2`, not `/usr/bin/gpg2`.

[2017-02-16 09:34] yuroller commented on #2670
You are right: did not know there was also a system gnupg package /bin/gpg.
That was first in the PATH.
$ which gpg
/bin/gpg

$ gpg --version
gpg (GnuPG) 2.0.28
libgcrypt 1.6.5
Copyright (C) 2015 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the

[2017-02-16 09:34] #2670 closed

[2017-02-16 09:46] Dr-Bean commented on #2670
Perfect. The problem is that there's not really a nice way to tell Duplicity to use our gpg binary, so you end up with setting PATH yourself. We can patch gpg.py to force the correct binary I suppose, although I'm not really a fan of that approach here. @adrien-delhorme Opinions?

[2017-02-16 09:55] yuroller commented on #2670
I am running duplicity with the DSM provided gpg (runs weekly using DSM scheduled operations) which seems not supporting --pinentry-mode option and it works correctly.
Probably the check of gpg version inside duplicity is not correct, because gpg 2.1.6 synocommunity package seems to support pintentry-mode option while DSM provided 2.0.28 does not.
[code]
Probably a bug in duplicity.

[2017-02-16 09:57] Dr-Bean commented on #2670
No, Synology just compiled their gpg binary without the correct compiler options enabled.

[2017-02-16 10:04] yuroller commented on #2670
The alternative to patching gpg.py for using synocommunity gnupg package is to have a guide somewhere inside duplicity package helping people configuring with the right gpg binary, but I do not know how many people would read it or even notice it.

[2017-02-16 13:19] Dr-Bean commented on #2670
A guide of sorts is certainly an option, and maybe not a bad idea regardless.
The two options we have for that are an install wizard or a wiki page.
The install wizard looks a bit like this approach: https://github.com/SynoCommunity/spksrc/blob/master/spk/couchpotatoserver/src/wizard/upgrade_uifile. It has limitations in # of characters, but also in visibility: one click and you won't see it again

[2017-02-16 15:31] tchwpkgorg commented on #2136
@Dr-Bean "This is a bugtracker for SynoCommunity packages. It's fine if you don't use one of our packages, we don't mind that at all, but you don't need to suggest a manual installation as an alternative here."

This is normally a sane advice, but this issue is opened already for a year! So either close the issue as "wontfix" and remove owncloud package, because it's broken, or make a fix I would

[2017-02-16 16:20] yuroller commented on #2669
Added a comment on oslo.utils bug tracker:
https://bugs.launchpad.net/oslo.utils/+bug/1476588?comments=all

[2017-02-16 16:32] yuroller commented on #2670
A guide on the wiki, in my opinion, would be great because it is not so easy to set up duply and duplicity in DSM.
For example, in order to schedule unattended runs of duply, you need to set HOME variable before executing the command in DSM scheduled operations.

[2017-02-16 16:50] Dr-Bean commented on #2670
Well, go right ahead and create the page if you have knowledge to help others :) As a user, you're probably more familiar with duplicity then I am, I just update packages and break them in the process...

Start with whatever thing you ran into, and it can be expanded from there. When it's setup, we can add the URL to the package for the next release.

[2017-02-16 18:24] meffect commented on #2216
is this related to deluge showing 'stoped' state in package manger? But yet it still runs and I can access it just fine via web ui and daemon

[2017-02-18 19:02] lepennec commented on #1910
Dear all,
I've made the fixes proposed by @belkone and they seem to work for me... (DSM 6 and DS716+II)
Erwan

[2017-02-18 19:06] d-zalewski commented on #2420
v18 is out https://github.com/nzbget/nzbget/releases/tag/v18.0

[2017-02-18 19:06] d-zalewski commented on #2185
v18 is out https://github.com/nzbget/nzbget/releases/tag/v18.0

[2017-02-18 19:07] d-zalewski opened #2675 "Update NZBget to v18"
v18 is out https://github.com/nzbget/nzbget/releases/tag/v18.0

[2017-02-18 19:16] MostDefiantly commented on #2652
Any word on the port defaults making it back into the parent package?

[2017-02-19 06:27] ressu commented on #2652
I will create the PR as soon as I have a chance to test the changes properly. I was out of the country for a week with limited possibilities for testing the changes. That's why the PR is still pending.

[2017-02-19 13:17] danielesegato commented on #2340
For me none of this worked.

the log in `/usr/local/gateone/var/gateone_startup.log` contains this:

[code]

and if you look at the script this:

[code]

with these variables:

[code]

map to this:

[code]

as you can see the actual command start python with `python /usr/local/gateone/env/bin/gateone` which is a file that doesn't exist

[2017-02-19 13:19] danielesegato commented on #2340
Post scriptum:

if I execute the start-stop script from root (after `sudo -i`) I get a permission denied on the `su` command but if I execute it with `sudo /var/packages/gateone/scripts/start-stop-status start` it execute just fine (just give the error stated above).

[2017-02-19 15:58] smiley-avc commented on #2628
@Dr-Bean: Thanks for info. Apologies for late feedback, I've already tried this a week ago, but didn't have the time to get back to you.

I've created that wizard file (containing just empty JSON array) and built the package.

The package correctly installed on my DS416j (with DSM 6.0.2-8451 Update 9) and it was possible start/stop Syncthing via Package Center without any problems.

However, I did

[2017-02-19 23:16] trlafleur commented on #2581
Have issue with Mosquitto after upgrade to DSM 6.1-15022 Update 1... program will not install...

[2017-02-20 07:26] bjornwahman commented on #2675
Yes please update to v18

[2017-02-20 08:29] mbnn commented on #2640
So this package will not work on DSM6 for now or?

[2017-02-20 12:19] cytec commented on #2640
@mbnn correct

[2017-02-20 14:22] tparvais commented on #2340
is there a chance to have this problem solved in the coming days via a new package ? Tx

[2017-02-20 15:22] GuillaumeSmaha commented on #2635
I don't know if a lot of people use it but there is only one dependence `cross/jappix` (it will be easy to keep it updated).

[2017-02-21 05:46] nickdsl commented on #2141
Hi! Yesterday i found the reason.
I created topic on SoftEtherVpn forum.
http://www.vpnusers.com/viewtopic.php?f=7&t=7429
Enjoy! ;)

[2017-02-21 18:13] GuillaumeSmaha commented on #2656
I made a POC to do this, I will share it when I will obtain a good result. Currently, I just checks the link availibility.

@ymartin59 What do you think about try to ping on possible new file by incrementing the version ? It can be lesser specific than parsing html page.

Also parsing Makefile can be complex when there is specific call like boost which use `substr` (https://github.com/SynoCommunit

[2017-02-21 20:10] GuillaumeSmaha commented on #2656
You can find the POC here :
https://gist.github.com/GuillaumeSmaha/5545f6e48b5d3ce35399d6b3727c4a9c#file-check_package_availability-sh

The result on master : (SVN/git is not already supported)

	cross/domoticz -> Not Available: svn://svn.code.sf.net/p/domoticz/code/trunk
	cross/iksemel -> Not Available: http://iksemel.googlecode.com/files/iksemel-1.4.tar.gz
	cross/imagemagick -> Not Available: ht

[2017-02-21 21:34] eleazar123 commented on #2650
Unfortunately I'm having the same issue :( I'm also on DSM 5.2-5644 Update 5

[2017-02-22 04:25] GuillaumeSmaha commented on #2656
Another issue to fix : Sometimes few packages like `native/mono` or `cross/rtmpdump` doesn't have a SPK_VERS variable but in case of mono, there are `SPK_VERS_MAJOR` and `SPK_VERS_MINOR` and for rtmpdump, this is a git repo as source.
It will be better to define all time `SPK_VERS` even if the var is just equal to the HASH for git or the concatenation of version variables :

    PKG_VERS = $(PKG_V

[2017-02-22 05:34] GuillaumeSmaha commented on #2656
Here the first result of my script : http://pastebin.com/azZyyn2Z
Script : https://gist.github.com/GuillaumeSmaha/5545f6e48b5d3ce35399d6b3727c4a9c#file-search_package_update-sh

- Get new tag for GIT and SVN from the current hash/revision
- For hosting file, check if parent directory is a files list, then get the new versions using filename
--> Else if parent directory is a html page, then search

[2017-02-22 11:05] ymartin59 commented on #2656
@GuillaumeSmaha Great job but from my point of view such code would have been more robust and easier to maintain if written with Python, typically when error handling is concerned.

[2017-02-22 14:48] GuillaumeSmaha commented on #2656
@ymartin59 Yes, python is more robust. I planed to stop the script at this point. The aim was to check if it was possible to have good results. And the next dev needs to be more specific.

[2017-02-22 17:25] abraxxa opened #2677 "Meta: Package list, DSM6.1 status and their associated issues"
Similar to issue #2661 I'd like to start a list of packages with info if they work on DSM 6.1 or have issues.
I'll upgrade to 6.1 soon and will report back my findings.
If someone already upgraded and found something please add it to this issue.

[2017-02-22 18:25] abraxxa commented on #2677
Transmission works as far as I can tell.

[2017-02-23 13:40] Dark2004 commented on #2675
Yes please if it's possible as i have seen that for some product i can not be done easily

[2017-02-23 15:07] adchevrier commented on #2657
I have registered

[2017-02-23 16:03] Dr-Bean commented on #2657
`nzbhydra` is done.
@adchevrier, @ressu, you both should have received an email to confirm your accounts (check spam if not otherwise visible)

[2017-02-23 16:05] Dr-Bean commented on #2677
There shouldn't be that much of a difference between DSM6.0 and DSM6.1. You can read the other issue as DSM6.* ;)

[2017-02-23 20:20] markbastiaans commented on #2657
Registered.

[2017-02-24 00:18] ressu commented on #2657
@Dr-Bean nope, never received one. Checked SPAM when I registered and again now.

[2017-02-24 00:56] Trapperjohn61 commented on #2675
I would also appreciate an update to v18. There was a v17 that was not pkgd.
Thank you for your help,
Bryan

[2017-02-24 06:14] Solido commented on #1522
Confirmed to have Gitea working on 214+

[2017-02-24 11:35] tomekent commented on #2207
Recent update of Synology caused Sonarr and Radarr to not start due to Mono.
The fix that has worked for me is to uninstall / reinstall the official synology Mono (this may not be necessary, but I did it anyway).

Then the standard fix of changing the mono path in
`/var/packages/nzbdrone/scripts/start-stop-status`

Then change
`MONO_PATH="/usr/local/mono/bin"
to
`MONO_PATH="/var/packages/Mono/targ

[2017-02-24 14:24] cytec commented on #2675
still not sure if v18 compiles with synologys gcc version

[2017-02-24 14:35] KaraokeStu commented on #2652
Drop a message here when its done and I'll get the changes compiled and published ASAP - in the mean time, good work @ressu !

[2017-02-24 17:54] DoctorX666 commented on #2675
A jump from v16 to v18 would be greatly appreciated. Many thanks!

[2017-02-24 20:46] TomVanHaver commented on #2420
Hi,

Can anyone tell me why there isn't an updated package for syno anymore?
Is it hard to do it for my ds214+ myself (and share it with the community) ?

kind regards, Tom.

[2017-02-25 07:36] bjornwahman commented on #2675
Running v18 on my synology nas 415+ installed manually through cli.

[2017-02-25 12:17] mparents2007 commented on #2207
I was very concerned about running this update after reading Tomekemp's comment as I had a lot of issues after the upgrade originally, it seems the fix's I did for DSM 6 to get Sonar, Sab ,Couch and Plextivity working have held and all so far seems well.

this is however very early days as in 30 minutes but main systems are up which is a ood sign, if i come across any issues I will post further in

[2017-02-25 14:22] Trefex commented on #2675
Agreed. Please provide update to this great package!

[2017-02-25 16:44] royduin commented on #2357
Any updates on this? @Diaoul?

[2017-02-25 16:46] royduin commented on #1860
Related: https://github.com/SynoCommunity/spksrc/issues/2357

[2017-02-25 17:55] yeroentje commented on #2650
Got this fixed myself. Just replace the port number in the HOST file of the .spk file and it just installs. You can copy the HOST file with opening the spk file with 7zip and then repack it replacing the HOST file. Hope this works for you guys too.

[2017-02-25 18:41] Dr-Bean commented on #2677
I'm going to close this one, seeing as the other issue will serve as a central point for any version of DSM6.

If a problem pops up for a package, please use #2661 to find the associated issue. When you comment in there, follow  the [Guidelines](https://github.com/SynoCommunity/spksrc/blob/master/CONTRIBUTING.md#issue-content) for the information that you should add.

If an issue does not already

[2017-02-25 18:41] #2677 closed

[2017-02-26 00:04] ryantrip commented on #2449
@x1a0 How do I accomplish this step by step? This issue seems to still be relevant at this time, and I want to fix it manually.

[2017-02-26 05:23] quenlin commented on #2650
yeroentje, any possibility you can share the modified .spk? I'm afraid I don't really possess the technical chops to recompile it. Thanks!

[2017-02-26 09:25] EddyBin commented on #2581
Will the issue be solved with the update to dsm 6.1 ?

[2017-02-26 11:47] #2652 closed

[2017-02-26 14:52] jpearn commented on #1910
@belkone fix working on DSM 6.1 thanks !

[2017-02-26 18:18] balazsnyitray commented on #974
Ok i installed mkvtoolnix via ipkg optware-ng. whats next? is there a gui? or command line only? what commands are possible?

[2017-02-26 19:57] Diaoul commented on #974
Please use a forum for discussion unrelated to SynoCommunity, this is a bug tracker.

[2017-02-27 07:29] MostDefiantly commented on #2650
@quenlin the latest package from package manager as the updated ports now.

[2017-02-27 07:43] KaraokeStu commented on #2650
This issue has been resolved with the latest spk I've published

[2017-02-27 07:43] #2650 closed

[2017-02-27 10:20] KaraokeStu opened #2681 "Issue building https://github.com/sabnzbd/sabyenc with wheels"
This is being used as part of the sabnzbd-testing package for 2.0.0 Alpha 1

I'm trying to get this building, but it is failing:

Any tips on getting this working, @Dr-Bean or @cytec ?

[2017-02-27 10:25] KaraokeStu commented on #2681
@Safihre is there a reason that you're using Python.h - I've not seen it in other wheels (Not that I've looked that much!)

[2017-02-27 10:28] Safihre commented on #2681
It's needed for any Python wheels that have C-code, it has all the Python headers.
Normally it comes in packages like `python-dev` or `python-devel`.

[2017-02-27 10:52] Safihre commented on #2681
I just pushed new precompiled-wheels to PyPi using Manylinux1, maybe you can try again just using `pip install sabyenc`?
No need for extra headers then!

[2017-02-27 11:38] KaraokeStu commented on #2681
This does work well, however I'll need to check it works for all archs

[2017-02-27 11:59] Safihre commented on #2681
Doubt it will work for the ARM based ones..
But this doesn't work: https://github.com/SynoCommunity/spksrc/wiki/Using-wheels-to-distribute-Python-packages#packages-with-c-extensions ?
It specifically talks about using `python-cc.mk`, so I imagine it includes these headers of course?

[2017-02-27 12:29] aamri111 commented on #2420
Hi, when you will be supporting "broadwell" architecture? I upgraded to a DS3617xs :(

[2017-02-27 12:30] aamri111 commented on #2420
@Ashkaan how did you manage to map the download folder can you help me with the configuration?

[2017-02-27 12:33] aamri111 commented on #2509
Any luck here on supporting "broadwell" architecture? I upgraded to a DS3617xs :(
@piwi82

[2017-02-27 13:06] KaraokeStu commented on #2681
Managed to sort this, it was trying to use Python 2.7.13, when I hadn't recompiled the native python (I was still on 2.7.11)

[2017-02-27 13:06] #2681 closed

[2017-02-27 15:23] piwi82 commented on #2509
I don't maintain spksrc. You should ask @SynoCommunity/developers if someone has time to add this new architecture.

[2017-02-27 15:52] cytec commented on #2420
since there is an issue for v18 now https://github.com/SynoCommunity/spksrc/issues/2675#issuecomment-282358166 i'm gonna close this

[2017-02-27 15:52] #2420 closed

[2017-02-27 15:59] cytec commented on #2675
spamming this issue won't make it happen any sooner... Synologys Toolchains use GCC 4.9 (afaik) which doesn't fully support C++11 which is needed since v17. Basically you'll have to wait till DSM6 support is added to spksrc or install it manually

[2017-02-27 16:07] aamri111 commented on #2509
Thanks

[2017-02-27 16:12] KaraokeStu commented on #2509
As stated, there are currently no packages available for this yet, other than ones set to **noarch** once we have the new toolchains (which have been promised from Synology for early March 2017) we should be able to start making traction on this

[2017-02-27 16:13] KaraokeStu commented on #2675
@bjornwahman If you fancied putting together a temporary guide to the steps required to install through the CLI, this might help some people until we have the DSM 6 toolchains released to us

[2017-02-27 16:24] Trapperjohn61 commented on #2675
I appreciate that the Synology toolchains are not available yet for dsm6 as mentioned by @cytec
I would also appreciate as @KaraokeStu has requested a guide to install through the cli.
If @bjornwahman would create one it would be very helpful of course anyone that can help the community would be appreciated.
Normally I would not ask but we are now 2 full versions behind and the 3rd v19 is already

[2017-02-27 16:33] Ashkaan commented on #2420
@aamri111, at which step are you having trouble?  What guide are you following?

[2017-02-27 17:16] aamri111 commented on #2420
@Ashkaan I installed the nzbget using docker image and I configured my NZB setting. Now I cannot locate the "downloads" folder. I dont know where it is saving downloads or how to configure the downloads folder location.
I did not find any guide unfortunately :(

[2017-02-28 07:17] bjornwahman commented on #2675
I followed the guide on https://github.com/nzbget/nzbget/wiki/Installation-on-Linux
Here is the step I took to get it running on my Synology DS415+, I take no responibility for below guide, I am sure there is better ways to do it but this worked for me.
SSH into your nas and login as admin.
Create a folder under /usr/local/ I called it nzbgetb
`cd /usr/local/`
`sudo mkdir nzbgetb`
`cd nzbgetb`
Now

[2017-02-28 10:46] waterdog1234 opened #2682 "[multiple packages] Won't run on a fresh install of DSM 6.1"
### Setup
Reproduced with these packages: Couchpotato, SABnzbd, Sonarr

_NAS Model: DS412+
_NAS Architecture: intel
_DSM version: DSM 6.1-15047

### Expected behavior
Packages should be able to run

### Actual behavior
Packagecenter cannot run the packages after the install...

### Steps to reproduce
_1._ Install a fresh copy of DSM on a new harddrive
_2._ Install any of the mentioned packages
_3.

[2017-02-28 11:21] KaraokeStu commented on #2682
Most packages still aren't DSM 6.x compatible yet, please keep an eye on the issue https://github.com/SynoCommunity/spksrc/issues/2661

[2017-02-28 11:21] #2682 closed

[2017-03-01 00:05] GuillaumeSmaha commented on #2656
I created a repository with the python script which returns the same result as the bash script :
https://github.com/GuillaumeSmaha/spksrc-check-update

- Better makefile parsing with pyparsing
- Simply better with python :D

(svn dependency required the PR https://github.com/dsoprea/PySvn/pull/85 to work)

[2017-03-01 10:23] cytec commented on #2675
shouldn't it work by just downloading the correct binary and replace the old one? if that works, i think that's the "simplest" solution... no need to change any script's or something like that

[2017-03-01 11:29] cytec commented on #2357
afaik he is a little bit busy with IRL Stuff lately, so be patient ;)

[2017-03-01 20:42] popraduvmp opened #2684 "Update ffmpeg to v3.2"
Please update ffmpeg to v3.2.

[2017-03-01 21:14] akafester commented on #2219
Is this fixed?

[2017-03-01 21:19] kraades commented on #2219
Maybe fixed, but not yet in production. See ^^^.

[2017-03-02 12:18] rednoah opened #2689 "Update mediainfo to v0.7.93"
Please update the `mediainfo` package the latest version `0.7.93`.

[![Bountysource](https://api.bountysource.com/badge/issue?issue_id=42598666)](https://www.bountysource.com/issues/42598666-update-mediainfo-to-v0-7-93?utm_source=42598666&utm_medium=shield&utm_campaign=ISSUE_BADGE)

[2017-03-02 15:14] cytec commented on #2684
PR already pending see: https://github.com/SynoCommunity/spksrc/pull/2620

[2017-03-02 15:14] #2684 closed

[2017-03-02 15:32] cytec commented on #2689
@rednoah i've created a PR for this, might take some time till i'm able to upload a new build to the repo

[2017-03-02 15:50] rednoah commented on #2689
No worries. Take your time.

[2017-03-02 15:50] #2689 closed

[2017-03-02 16:04] cytec commented on #2358
@Dr-Bean so im currently working on this as i had some need for myself... seems like there isn't any sort of Icon or something available ... what should i do? can't think of any other app where we don't have an icon at all...

[2017-03-02 16:33] Dr-Bean commented on #2358
@cytec Just a quick response due to holidays: Similar to ncdu package, maybe use the screenshot from https://www.stunnel.org/screenshot.html? Could even put a watermark with text `stunnel` over it ;)

[2017-03-02 22:52] KaraokeStu commented on #2689
Just building it now

[2017-03-04 10:26] #2140 closed

[2017-03-04 10:54] meffect opened #2695 "Tmux 2015 version"
it's 2.1 https://github.com/tmux/tmux/releases

I can get 2.3 from entware ng

[2017-03-04 11:36] KaraokeStu commented on #2695
This will be resolved with https://github.com/SynoCommunity/spksrc/pull/2691 once it has been reviewed

[2017-03-04 11:37] KaraokeStu commented on #2609
Issue resolved with workaround. Closing 👍

[2017-03-04 11:37] #2609 closed

[2017-03-04 11:37] meffect commented on #2695
cool ty :)

[2017-03-05 05:56] silvioterra commented on #2355
So I haven't seen anyone answer this conclusively, but I followed the steps on this video and got it working: https://www.youtube.com/watch?v=RPVs-Gt44dg

Mind you, my goal was to get it working WITHOUT giving the transmission user admin rights (which seemed to be the solution everyone else was saying).

The 'trick' was that you HAVE to set the complete/incomplete/watch directories (all 3) not jus

[2017-03-05 07:58] Shmp commented on #2663
Sonarr won't start anymore here either. Just updated to DSM 6.1-15047 Update 1. Can't get any logs that tells why it crashed...

[2017-03-05 08:26] KaraokeStu commented on #2663
Logs should be in /var/packages/nzbdrone/target/var/. config/NzbDrone

Note: that path is from memory... It might be a tiny bit wrong!

[2017-03-05 09:57] KaraokeStu commented on #2695
Just publishing now! 👍

[2017-03-05 09:57] #2695 closed

[2017-03-05 22:10] SuperDOS commented on #2640
I got it running now but DSM telling me it is stopped.

[2017-03-06 18:27] adrien-delhorme commented on #2253
@Dr-Bean yes it works better with Pyrax! Thank you. I opened [an issue on duplicity's project](https://bugs.launchpad.net/duplicity/+bug/1667487)  to ask why the dependencies are not included in the setup.py, but I don't expect an answer soon...

[2017-03-08 11:34] superost commented on #2675
I was in the same situation, wanting to upgrade to v18 stable and I followed the advice from @cytec. I take no responsibility, if you mess up though. Backup your nzbget folder just in case (for me it was /volume1/@appstore/nzbget). The steps I took:
1. Download the binary release from [here](https://github.com/nzbget/nzbget/releases/download/v18.0/nzbget-18.0-bin-linux.run)
2. Extract the installe

[2017-03-08 14:16] krishjuh commented on #2663
@Dr-Bean is there a timeline when Sonarr is going to be fixed for DSM 6.1?

[2017-03-08 14:49] mydevpeeps commented on #2663
This is exactly why I'm sitting here on DSM 6.0 and not on DSM 6.1. I knew it would crash. I was told prior that Sonarr isn't even qualified to work property on DSM 6.0 because of the way users are registered much less DSM 6.1. If you find a solution let us all know so we can upgrade to DSM 6.1 :-)

[2017-03-08 15:07] mydevpeeps commented on #2663
These are the items in the DSM 6.1 Release Notes that scared me away from upgrading (because I use Sonarr):

- Due to infrastructure update, packages will need re-initialization after upgrading to DSM 6.1. The process will occupy a higher CPU usage and can take up to an hour depending on the number of packages installed.

- Automatically updates incompatible packages after the installation of DSM

[2017-03-08 20:35] paour commented on #2483
@alx please don't give up!

[2017-03-09 00:13] Theli93 commented on #2644
@bamtan  did you intend that instruction to be `./start-stop-status start` ?

`./start-stop-script start` yields:

Using, `./start-stop-status start` yields:

Though it still appears in Package Center as stopped and attempting to start from there (even after reboot) yields:

 Your (modified) instruction does get it running, accessible and operating normally. It also appears to be required, manuall

[2017-03-09 00:51] rpgdev commented on #2644
I think in the end I just had to do the whole modification of the scripts that I seem to need to do (changing the user that executes it, etc.). I assumed I wouldn't need to do that after an update.

[2017-03-09 07:27] mystycs opened #2700 "volume1 wont mount"
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_ debian chroot
_Package Version:_ 8.4-7

_NAS Model:_
_NAS Architecture:_  Expenology/Synology
_DSM version:_ 5.2

### Expected behavior
volume1 should mount when typing in command in non chroot

` grep -q "${CHROOTTARGET}/volume1 " /volume1 || mount -o bind /volume1 ${CHROOTTARGET}/volume1
`
or

`grep -q “${CHROOTTARGET}/vol

[2017-03-09 07:54] #2700 closed

[2017-03-09 07:55] mystycs commented on #2700
Fixed it by adding it at the end of the `/var/packages/debian-chroot/scripts/start-stop-status` file

[2017-03-09 18:39] Trapperjohn61 commented on #2675
Hi,
   Do you use sonarr with nzbget? If so do you see this error after upgrading to 18 by just doing the copy procedure you described?
Component	Message	Time
DownloadMonitoringService	Unable to retrieve queue and history items from Nzbget: Cannot access a disposed object. Object name: 'System.Net.Sockets.NetworkStream'.	1:28pm
DownloadMonitoringService	Unable to retrieve queue and history items f

[2017-03-09 19:07] stannynuytkens commented on #2501
I'd really love this on my DS! I seems like the DNS Server package provided by Synology is based on [BIND9](http://bind9.net/). I'm not sure, it was so in the past. Can't find info, too lazy to SSH..

I don't think we'll need all the dependencies...
Basic functionality would only require:
- a source file with links to providers of adblock lists.
- a sheduler to update.
- a parser to parse the list

[2017-03-10 19:21] ymartin59 commented on #2572
@gborri @Dr-Bean @cytec I propose to close this issue as request has been merged

[2017-03-10 20:30] gborri commented on #2572
ok

On Fri, Mar 10, 2017 at 8:21 PM Yves Martin <notifications@github.com>
wrote:

--

Giovanni

[2017-03-11 01:11] meffect commented on #2695
should I see v 2.3 on the synology now? I't still says 2.1-2

[2017-03-11 07:13] ymartin59 commented on #2636
OSCam is maintained http://www.streamboard.tv/oscam/browser but no new tag since years... According to what I understood, current versioning is 1.20-svnrevision

If package in not visible in repository, nobody will find it here. For information, a OSCam package is available at http://synology.nimloth.pl/

Why stop publishing OSCam in synocommunity repository ?

[2017-03-11 10:43] mtonnie opened #2702 "dockern Win10 set up toolchain fails"
It seems that verifying checksum fails when I use docker for windows.

### Steps to reproduce
1. Installed Docker for Windows (Version 17.03.0-ce-win1 (10296))
2. Shared Drive D:
3. pulled docker image (docker pull synocommunity/spksrc)
4. cloned the repository (git clone https://github.com/SynoCommunity/spksrc.git spksrc_org)
5. started the docker image (docker run -it -v D:\spksrc_org:/spksrc sy

[2017-03-11 11:06] bonzini commented on #1910
I needed to `./pip install click` from /volume1/@appstore/debian-chroot/env/bin, after doing that it worked.

[2017-03-11 15:04] DennisHeerema opened #2703 "Icecast IPV6 not working"
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_icecast
_Package Version:_2.4.1-1

_NAS Model:_DS2415+
_NAS Architecture:_INTEL Atom C2538
_DSM version:_DSM 6.1-15047 Update 1

### Expected behavior
Tell us what should happen
When browsing to the ipv6 adress of the NAS at port 8000 i should be getting the icecast website or i should be able to stream a mountpoint.
My brows

[2017-03-12 10:25] superost commented on #2675
Not sure about that one - I googled that error, and it could be an incompatibility involving Mono.. But that's out of my league really. So I can't really help ya with that.

[2017-03-12 19:07] majorsl opened #2704 "Syncthing "Stopped" in package GUI, but running - and won't start after reboot issue"
_Package Name: syncthing
_Package Version: 0.14.23-12

_NAS Model: DS415+
_NAS Architecture: INTEL Atom C2538
_DSM version: DSM6.1-15047 Update 1

### Expected behavior
Syncthing should start after reboot.

### Actual behavior
Doesn't start, trying to click "Run" for the package results in "failed to run the package service".

### Steps to reproduce
_1. install Syncthing package, setup, works grea

[2017-03-13 10:13] o0v7r0o commented on #2704
I would say that it is related to the user-issue #2216. It will be a huge update with DSM6+ support for all packages.

[2017-03-13 13:26] krishjuh commented on #2663
Hi mydevpeeps: i've got this working now and it is stable for a week on the latest version of DSM6.1
I did allot, so don't know what the right setting is.. and i think security minded this isn't the right sollution.. but it works :-)

install Sonarr with the automatic install of mono from synocommunity.
After that install the mono version of synology itself (it is a beta so tick the beta box in pa

[2017-03-13 18:29] #2572 closed

[2017-03-13 18:31] cytec commented on #2501
well i guess thats more like a slimmed-down pi-hole then.
Note: Installing Pi-Hole as it is should work in the debian chroot

[2017-03-13 18:39] cytec commented on #2695
make sure you updated the spk and using the correct binary (/usr/local/bin/tmux)

[2017-03-13 19:00] iroQuai commented on #2501
It does, anf is documented quite good on the pi-hole discourse forums!

Op ma 13 mrt. 2017 19:31 schreef cytec <notifications@github.com>:

[2017-03-13 20:06] meffect commented on #2695
hmm... what's the update spk process?

This is what I have now

![screenclip2](https://cloud.githubusercontent.com/assets/1799758/23873036/e03a640c-07ed-11e7-8cf1-f9a6bbf825e1.png)

![screenclip1](https://cloud.githubusercontent.com/assets/1799758/23873039/e3bed1a8-07ed-11e7-942f-2874cb80f1b8.png)

[2017-03-13 20:45] stannynuytkens commented on #2501
But I'm having issues getting the Debian chroot community package to run, it hangs on loading.. Maybe I'll try again later, if not I'll do a new pihole/squid(guard) setup.

[2017-03-14 00:02] popplegit commented on #1910
Also seeing the infinite 'loading' problem for debian-chroot, with DSM6.1 on a DS716+ii
I've tried the fixes above (3rdparty -> /webman/3rdparty, edit onClose, and pip install click) but no joy.
Any suggestions please how even to investigate this? Couldn't find anything useful in /var/log
Thanks!

[2017-03-14 00:08] popplegit commented on #1910
less haste, less red face...  Working fine following reboot!

[2017-03-14 14:39] jaycapo1 opened #2705 "Unable to See Radarr within Synology Community."
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_
_Package Version:_

_NAS Model:_
_NAS Architecture:_
_DSM version:_

### Expected behavior
Tell us what should happen

### Actual behavior
Tell us what happens instead

### Steps to reproduce
_1._
_2._
_3._

#### Package log
_Check Package Center or `/usr/local/{package}/var/`_
[code]
#### Other logs
_E.g. `/var/log/messages

[2017-03-14 14:43] jaycapo1 commented on #2705
[https://dl.dropboxusercontent.com/u/5443786/syno..JPG](url)

[2017-03-14 21:05] temaoz commented on #757
Hi there, I'm very interested in an option like this, too. Is there any progress?

[2017-03-15 04:57] stannynuytkens commented on #2340
Joining in, +1 for a fix.

[2017-03-15 07:11] juxtaposed commented on #2705
@jaycapo1 1) You didn't fill out any of the fields they ask you to. Remember, it's a volunteer effort, e.g. they don't get paid, so give them as much information as you can.

And 2), the reason you're not seeing Radarr is because it's still a Beta package. If you want to install it, even though it's in beta, you need to go to Package Center -> Settings -> Beta tab -> check the "Yes, I want to see

[2017-03-15 16:31] Mickroz commented on #2340
Joining too.

[2017-03-16 04:25] rp4k opened #2706 "Issue Downloading Packages (ASIA)"
i have noticed that being in asia the ping to the repo is horrible. most time the package fails to download at least 10 times before i can download it or sometimes i can't even download it at all.   is there another way i can access the repo inside of Asia (china)  because it is very very hard to download packages from the repo without being on a VPN.

[2017-03-16 16:37] piwi82 commented on #2706
The SynoCommunity repository server is hosted behind _Cloudflare_ and we don't have the resources to provide downloads distributed through a CDN to our users.
If downloading packages works well using a VPN, I think there is a problem of peering/QoS filtering with your ISP.

[2017-03-18 03:40] GuillaumeSmaha commented on #2656
Yeah ! First step is finished !
The script can now check the current version or get the new version for all package except these :

    cross/dobby : Old github upload API
    cross/domoticz :  Server down
    cross/ejabberd :  Server down
    cross/gc :  Error to fix : Script can't download page content http://hboehm.info/gc/gc_source/
    cross/jappix :  Server down
    cross/libcap2 :  Server d

[2017-03-18 18:20] matterik commented on #2260
So is there a solution. I cannot start the package ejabberd either.

[2017-03-19 05:00] hSATAC commented on #757
+1 to this

[2017-03-19 08:09] mtonnie commented on #2702
In the mean time I figured out the problem by myself.
This was cause by the fact that I use git for windows to clone the repository and I checked out "windows style". Since I changed the behaviour to "as is" I'm generally able to install the toolchain.

[2017-03-19 08:09] #2702 closed

[2017-03-20 10:33] teihoo commented on #2260
Not starting for me either on Synology DSM 6.1 Update 1 on DS213j. Anyone got some workarounds maybe?

[2017-03-20 19:34] ymartin59 opened #2710 "owncloud upgrade path to 9.1"
I plan to propose 3 PRs for each owncloud version required to upgrade current 8.1 package: each for major versions: 8.2, 9.0 and 9.1 and expect to get them work properly for both DSM 5.2 and 6.0 (not yet ready for 6.1)

My objective is also to address related issues: #1979 #2409 #2136 #2072

[2017-03-21 00:58] nimbling commented on #1910
Following these edits *AND A REBOOT* this now kinda-sorta works for me, too :)

[2017-03-21 12:05] G1zm0 commented on #1561
/poke

[2017-03-21 13:08] jdm2017 opened #2712 "HAProxy failed to start DSM 6"
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_HAProxy
_Package Version:_1.5.14-19

_NAS Model:_DS216j
_NAS Architecture:_Armada 385
_DSM version:_DSM 6.1-15047 Update 1

### Expected behavior
I installed the app HAProxy and Python package as requested, but will fail to start/run. No data stored when I go to view log.

### Actual behavior
Status: Stopped
Error message: Fa

[2017-03-21 13:10] jdm2017 commented on #2712
<img width="847" alt="capture" src="https://cloud.githubusercontent.com/assets/26392456/24148653/c49e0994-0e0d-11e7-9f2c-9e8f601fcdaa.PNG">

[2017-03-21 13:10] jdm2017 commented on #2712
<img width="551" alt="capture" src="https://cloud.githubusercontent.com/assets/26392456/24148710/e7ed8cd0-0e0d-11e7-8cbe-fb70a988a003.PNG">

[2017-03-21 13:11] jdm2017 commented on #2712
<img width="844" alt="capture" src="https://cloud.githubusercontent.com/assets/26392456/24148738/0b1d6086-0e0e-11e7-8869-a40dc9b09105.PNG">

[2017-03-21 14:17] KaraokeStu commented on #2705
Closing as @juxtaposed has given the information required to sort the issue - thanks!

[2017-03-21 14:17] #2705 closed

[2017-03-21 14:19] KaraokeStu commented on #2706
As @piwi82 has stated, the repo is behind Cloudflare. Unfortunately, the Chinese "Walled Garden" causes many problems, therefore VPNs will likely be the only way to break through the wall.

Closing as there is nothing we can do to resolve this

[2017-03-21 14:19] #2706 closed

[2017-03-21 14:21] KaraokeStu commented on #2703
Could you try and find your Icecast config file, stop Icecase and change the bind address to the following:
`<bind-address>::</bind-address>`
If this works, I'll look to update the default config file shipped with Icecast to enable both IPv4 and IPv6

[2017-03-22 21:26] ymartin59 commented on #2710
Reference to end-of-life of owncloud community edition: https://github.com/owncloud/core/wiki/Maintenance-and-Release-Schedule

[2017-03-24 21:09] olamaekle opened #2716 "[Package Request] Nano compiled for broadwell (x86_64)"
It would be nice if someone could compile Nano for the broadwell I have in my DS3617xs. Isn't the braswell the same instruction set as the broadwell (x86_64)?

GNU nano
[https://www.nano-editor.org/](https://www.nano-editor.org/)

[2017-03-25 00:27] schumi2004 commented on #2525
How hard is it to add module pytz to Python 2.7?
It seems i need this module for some epg script.

[2017-03-25 01:10] schumi2004 opened #2717 "Python 2.7 version?"
### Setup
_Package Name: Python
_Package Version: 2.7.13-16

_NAS Model:_
_NAS Architecture: DS715 (Alpine)
_DSM version: DSM 6.1-15047 Update 1

### Expected behavior
When entering command python --version from CLI i would expect to see version 2.7.13 but instead it shows 2.7.12

### Actual behavior
When performing cmd python --version it displays 2.7.12

### Steps to reproduce
root@DS715:/volume

[2017-03-25 08:52] MACE-Zer0 opened #2718 "Synology DS3617, Missing packages"
Hello , dont know if its the right place , but i dont see many of the packages of https://packages.synocommunity.com/ , in my new ds3617 , i have a similar one here the ds3615 , and i see all the packages ,  do i need to do something or is the ds3617 not compatible with these packages , hope not because i need a few of those ,

if im not in the right place i apologise

A few i see missing :
chroma

[2017-03-25 12:25] Hafer0 commented on #2485
Have the same issue twice. DS415+ and DS114, both DSM 6.1-15047-2 Update 2 on different ISPs.
So probably not ISP specific

[2017-03-25 19:26] Cre0 commented on #1725
+1

[2017-03-26 01:24] Madj42 opened #2719 "[Package Request] Deluge 1.3.14"
Name: Deluge 1.3.14
Description: Deluge torrent client
Website:  http://dev.deluge-torrent.org/
Software documentation:  http://dev.deluge-torrent.org/wiki/UserGuide
Build/Installation documentation:  http://dev.deluge-torrent.org/wiki/Development
Source Code:  http://git.deluge-torrent.org/deluge/
License:  GPL v3

This should be a high priority as there is a bug in the web UI that can be used to

[2017-03-26 04:01] Madj42 commented on #2719
I was able to build my own package to upgrade my system but I figured this should be put in the repo since it has a vulnerability.

[2017-03-26 05:25] meffect commented on #2695
Any advice on this one?

[2017-03-26 05:48] renatosc opened #2720 "packages.synocommunity.com is down (#400)"
Just tried to add http://packages.synocommunity.com as a source on my NAS and I noticed that this endpoint is down (http error 400)

[2017-03-26 08:59] baz1860 commented on #2720
Try https
On Sun, 26 Mar 2017 at 06:48 Renato <notifications@github.com> wrote:

[2017-03-26 09:54] MACE-Zer0 commented on #2718
Can anyone help me out , have the nas on hold , because i need a lot of missing packages that are only missing in ds3617xs , have tired reinstalling nas  , changed dns servers , but still nothing , in other nas i have  all the packages ..... help !!!!

[2017-03-26 10:00] mbnn commented on #2640
Would it now be possible to make this work with DSM6.1? :) How?

[2017-03-26 12:58] MACE-Zer0 commented on #2718
The only packages i see

![image](https://cloud.githubusercontent.com/assets/9946471/24331431/45f20b36-122c-11e7-8a51-2aa1a15cd0ad.png)

![image](https://cloud.githubusercontent.com/assets/9946471/24331434/517e1dfa-122c-11e7-9826-5cb1ed3e7a0f.png)

[2017-03-26 14:21] romu70 commented on #1725
On my Synology, I run Wallabag through the official docker image. And it works pretty well. A nice workaround, easy to setup.

[2017-03-26 16:01] Madj42 commented on #2719
Uploaded my changes to the remote repository located here: https://github.com/Madj42/deluge-spksrc

Everything builds correctly and I'm running the version on my Synology 1512+.

[2017-03-26 16:24] SuperDOS commented on #2640
@mbnn I modifed the /var/packages/plexpy-custom/scripts/start-stop-status and changed the start stop command. still it doesn't report back to DSM that it's runnig but it is :)

[code]

[2017-03-26 16:48] ymartin59 commented on #2136
I did an installation from scratch on DSM 6.0.1 (virtual machine):
- install packages Web station, Apache 2.2, PHP 5.6 and MariaDB (no root password set)
- run `sudo mkdir /volume1/owncloud`
- install owncloud package providing only database password (leave defaults for others)
- Web station configurations: PHP extensions and `open_basedir` appended with `:/dev/urandom:/volume1/owncloud`

May you

[2017-03-26 16:50] ymartin59 commented on #2136
I am working on ownCloud package fixes for DSM 6.0: typically check preconditions on packages, document post-configuration in webstation if cannot be scripted

[2017-03-27 07:31] mbnn commented on #2640
Thx @SuperDOS :) This works now, got it running on DSM 6.1 (although indeed the DSM interface says its not running, it works fine!)

[2017-03-27 14:09] superost commented on #2719
You might want to update libtorrent to 1.0.11 when you are at it. I am no good with github, so here you are:

`libtorrent-rasterbar-1.0.11.tar.gz SHA1 8ddf7f7c614986acdbdd4cc293b01844e4dc8fd5
libtorrent-rasterbar-1.0.11.tar.gz SHA256 828d686770346f6da2c143c5a2844c5f5e407eb4a37982e90022763508abd62f
libtorrent-rasterbar-1.0.11.tar.gz MD5 f49e43286a64e8bbdef9ea59baa78b55
`

and the Makefile of course

[2017-03-27 14:09] superost commented on #2719
oh and I tested that on my DS216j and it works fine for that arch

[2017-03-27 18:49] superost commented on #2717
Same here, but I think that that python binary is included with DSM to begin with. You can find it in /usr/bin/. Same applies to many other binaries in that folder. ffmpeg is the same. Just a guess though.

[2017-03-27 19:46] ymartin59 commented on #2718
What is your DSM version on new NAS ? It is possible missing packages are only available for DSM 5.2 - supposing packages you are interested in on your previous NAS when running DSM 5.2. Is my hypothesis relevant/right ?

[2017-03-27 19:53] MACE-Zer0 commented on #2718
Both nas has the most recent version , 6.1-15047, and  iv always had all the packages no mather the version installed , this has something to do with the DS3617 because its very recent model of synology , but i need help from someone in synocommunity , because iv tried all that i can remember

[2017-03-27 20:38] ymartin59 commented on #2718
Almost no package for DSM 6 is available because of #2216 . Compilation toolchain is not available for your platform yet #2509

Sorry but nothing can be done for the moment, and there is no other reason that packages are not available for your sytem. Do not spend more time trying to "fix" it... except if you are interested in helping testing packages for instance.

[2017-03-27 20:40] ymartin59 commented on #2640
Running service as root is the only work-around available for the moment. Follow #2216

[2017-03-27 21:50] MACE-Zer0 commented on #2718
@ymartin59  , thanks for the info , havent seen those issues , guess only have to wait !!!

[2017-03-27 22:07] gdubicki commented on #2216
How can I help with moving the dsm6 branch forward? I can compile and test something on my Syno.

[2017-03-28 04:09] edsenabr commented on #2581
Hi, I had the same issue. In order to solve it, I had to add, via Web UI, the user "mosquitto", and edit the start-stop script (/var/packages/mosquitto/scripts/start-stop-status) to keep it from execute mosquitto inside of su session.

If you login as mosquitto and try to execute the bin directly (/usr/local/mosquitto/sbin/mosquitto), you'll notice that it starts fine ONLY if you don't add the -d

[2017-03-28 05:37] meffect commented on #2695
?

[2017-03-28 08:04] mbnn commented on #2640
The way @SuperDOS wrote, is working fine for me so.

[2017-03-28 17:37] BenjV commented on #2216
I don't know if it is any help but I just post it here.

I have created a package that will install and run under DSM 6 and that will add the user that is created by DSM via the privilege file to the group "sc-media".
It does not need busybox, just scripting
I put it in the postinst

Here is the script:

[code]

[2017-03-28 18:10] meyerbro commented on #1582
Not working here too...

[2017-03-30 19:19] ymartin59 commented on #2716
nano package already exists. But compilation toolchain is not available for your platform yet #2509

Same troubles for #2718 ... be patient.

[2017-03-30 19:32] ymartin59 commented on #2216
@BenjV Thanks for searching. The main issue is to gain control on user creation and remove to get packages able to upgrade from 5.2 to 6.0.

I am looking at the way MariaDB package declares its service user `mysql`. Content of `/var/packages/MariaDB` is very interesting but found no clue about how `mysql` user is created (or removed).

[2017-03-30 20:31] ymartin59 commented on #2509
@KaraokeStu @Dr-Bean Tool chains for broadwell platform has been published for both DSM 6.0.2 and DSM 6.1: https://sourceforge.net/projects/dsgpl/files/

[2017-03-31 11:29] BenjV commented on #2216
Creating of users is done via the privilege file in the config folder:
It looks like this:
[code]
Adding extra users can be done with the same script as I posted before by replacing the "synogroup" command with the "synosuser" command

[2017-03-31 15:12] monochromec commented on #2386
Same happens with pyinotify.

Strongly suggest to use a more up-to-date version (such as the one in Debian's libpython2.7-stdlib, version 2.7.9-2+deb8u1).

[2017-03-31 19:40] abienz opened #2722 "Cannot create new branch."
Hi I want to create a new branch and make a pull request to update Jackett to v0.7.1225.

I get a permission denied error however. Is there a way I can become a member and help contribute?

[2017-03-31 19:56] abienz commented on #2722
Ah, I missed the part about making a fork first. this is a non-issue.

[2017-03-31 19:56] #2722 closed

[2017-03-31 20:59] AlfredJKwack opened #2724 "Failure to update Mono to 4.6.2.7-8 on Avoton with DSM 6.0.2-8451"
Hi,

I have an update failure for a package. I hope someone can help sort this out.

### Setup
_Package Name:_ Mono
_Package Version:_ 4.6.2.7-8

_NAS Model:_ DS415+
_NAS Architecture:_ Avoton (Intel Atom C2538)
_DSM version:_ DSM 6.0.2-8451 Update 9

### Expected behavior
Upgrading from version 4.2.2.30-7 to 4.6.2.7-8 should be as straightforward as hitting the update button, letting the download

[2017-03-31 22:15] Tiwas opened #2725 "Sickbeard_custom suddenly stopped working"
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_sickbeard_custom
_Package Version:_20151220-4

_NAS Model:_DS412+
_NAS Architecture:_Intel Atom D2700
_DSM version:_DSM 6.1-15047 Update 2

### Expected behavior
Tell us what should happen

### Actual behavior
Sickbeard has been working for a pretty long time. Suddenly it stopped working after it seems the NAS restarted for s

[2017-04-01 07:34] ymartin59 commented on #2216
@BenjV Sure but there are still some troubles to get any package upgraded properly: a DSM 5.2 package may have created "user" at installation and after upgrade to DSM 6, package upgrade with privilege may create a "userXYZ" instead of reusing "user". As far as I understood that is the reason why @Dr-Bean looks for a way to manage user by script.

Package MariaDB does not have "privilege" file (or

[2017-04-01 07:57] AlfredJKwack commented on #2724
Tried again this morning. Worked fine (if quite slow to DL).

[2017-04-01 07:57] #2724 closed

[2017-04-01 09:01] Tiwas commented on #2725
Ok, I found this, which solved the problem (I think): [https://github.com/SickRage/SickRage/wiki/FAQ%27s-and-Fixes#i-have-problems-updating-or-my-installation-got-corrupt-what-now](https://github.com/SickRage/SickRage/wiki/FAQ%27s-and-Fixes#i-have-problems-updating-or-my-installation-got-corrupt-what-now)

[2017-04-01 09:01] #2725 closed

[2017-04-01 11:10] BenjV commented on #2216
Just replace the "PackageUserName" with "mysql" .
Removing old users could be done via the "synouser" command.

If you don't understand how a package for DSMS 6 must look like I suggest to read this.
https://usdl.synology.com/download/Document/DeveloperGuide/DSM_Developer_Guide.pdf

[2017-04-01 16:14] Aktanusa commented on #2137
So I manually "back out" [9dd3997](https://github.com/SynoCommunity/spksrc/commit/9dd399750b790370f5827751884f0bd2abd2adb6) and built for my DS216j (armada38x) and it seems fine.  I'll do more testing though.

[2017-04-02 18:55] ymartin59 commented on #2716
I have prepared toolchain for broadwell 6.1 and build nano package. Here is it packed in a zip file because of GitHub. May you please test it and report if it seems to work well.
[nano_broadwell-6.1_2.5.1-2.spk.zip](https://github.com/SynoCommunity/spksrc/files/888578/nano_broadwell-6.1_2.5.1-2.spk.zip)

[2017-04-02 19:12] olamaekle commented on #2716
@ymartin59 The package works fine on my DS3617xs. Thanks

[2017-04-02 20:24] andoyin opened #2726 "DS1515+"
Hello we have problem whit start in ds is not work always starting, can you help me. sending you link to screenshot - Загрузка is a loading https://s.mail.ru/4Qeb/1cPnzjBnW

[2017-04-02 20:58] andoyin commented on #2726
andranik@DS:~$ sudo su -
Password:
root@DS:~# /var/packages/debian-chroot/scripts/start-stop-status chroot
bash: warning: setlocale: LC_ALL: cannot change locale (en_US.utf8)
root@DS:/#

[2017-04-03 12:46] chigy110 commented on #2712
Exakt Same Problem here:

Setup

_Package Name:_HAProxy
_Package Version:_1.5.14-19

_NAS Model:_DS916+
_NAS Architecture:_INTEL Pentium N3710
_DSM version:_DSM 6.1-15047 Update 2

[2017-04-03 13:16] roelbroersma commented on #2501
How do you guys fix the port-80 problem?   Synology is standard running (redirecting and running a reverse proxy) on port 80.

Pi_hole needs port 80.
I tried running the docker container and run into this problem.  The fix would be adding a second IP address to the Synology...   ?  someone?

[2017-04-03 15:12] iroQuai commented on #2501
That's all explained on the PiHole FAQ (check the link in the first post)

Copied that part for you:
The Pi-hole webserver runs on port 80, which is usually already occupied by
the webserver, so we need to modify the webserver config:

nano /etc/lighttpd/lighttpd.conf

modify server.port = xxxx to a suitable port (higher than 1023)
ctrl+x to save

Op ma 3 apr. 2017 15:16 schreef Roel Broersma <not

[2017-04-03 16:26] ymartin59 commented on #2718
@MACE-Zer0 Toolchain for your system is available but I have no idea when packages may be published to package repository. As your system supports Docker, it may be possible for you to build packages you are interested in directly on your Synology. If interested, I may provide details about this process.

[2017-04-03 16:28] ymartin59 commented on #2726
@andoyin Please add more details in issue title. What is your DSM version ?

[2017-04-03 16:32] andoyin commented on #2726
DSM 6.1-15047 Update 2

[2017-04-03 16:36] ymartin59 commented on #2726
As far as I know there is still no package for DSM 6 available in package repository. Have you build package from sources branch `dsm6` yourself ?

[2017-04-03 16:58] andoyin commented on #2726
no, im updated system and synology install it

[2017-04-03 21:07] ymartin59 commented on #2726
OK so you probably installed DSM 5.2 `debian-chroot` package first before a DSM upgrade to 6.1. But package has not been upgraded itself because no DSM 6.x version is available in repository yet. Still have to wait...

[2017-04-04 10:50] roelbroersma commented on #2501
Yes, i saw that,  But it is said that running the Pi-Hole webserver running on any other port than 80 is noot recommended and might give issues.

I can understand this because the webserver is serving things like:   spacer.gif
I am not sure how it behaves when you visit http(s)://www.cnn.com  and some spacer.gif comes from: http://192.168.x.x:1023/spacer.gif   (does this work without safety warnin

[2017-04-04 11:37] kalety opened #2728 "Homeassistant for Braswell?"
_For new Package Requests, see the guidelines_

### Setup
Homeasistant
_Package Version:_

DS716+
Braswell
DSM 6.1
### Expected behavior

Homeassistant is available for x86 platforms but not to braswell (same?). Where I get the x86 spk?, through my spk synology center not appears because
### Actual behavior
Tell us what happens instead

### Steps to reproduce
_1._
_2._
_3._

#### Package log
_Chec

[2017-04-04 19:30] ymartin59 commented on #2509
@KaraokeStu @Dr-Bean I have submitted PR #2727 with DSM 6.1 toolchains, including broadwell platform. What should be done now to get this arch supported in package repository ?

[2017-04-04 19:33] ymartin59 commented on #2728
Sounds like package has been ported to DSM 6.x in `dsm6` branch. Thanks to my PR #2727 providing DSM 6.1 toolchains, I have been able to build `homeassistant` package for Braswell. Here it is, packed as zip because of GitHub.
May you please do beta-testing of it and report in comments here if it works well or if you have any trouble ?

[2017-04-04 19:54] ymartin59 commented on #2728
@Dr-Bean Is there any specific reason to build and embed Python 3.5 with homeassistant ? If no I may propose a PR to depend on Synology Python package instead.

[2017-04-04 20:34] iroQuai commented on #2501
No it doesn't work flawlessly, at least not for me. Replaced all the ads
with the synology logo (because that was the image found on the standard
webpage on port80). Didn't find any way to change it. Changed to using
PiHole on a regular pi (zero). Works like a charm now!

More info on why PiHole won't support custom ports here:
https://github.com/pi-hole/pi-hole/issues/1328

Op di 4 apr. 2017 12:5

[2017-04-05 06:31] Jeeosch commented on #2340
+1 for a fix!
I am running DSM 6.1-15047 Update 2 on a DS716+II.
The workaround presented [here](http://tsu-pe.de/wordpress/synology2/gateone-mit-dsm-6-x-x/) doesn't work any longer ... unfortunately.

[2017-04-05 08:56] kalety commented on #2728
@ymartin59
![image](https://cloud.githubusercontent.com/assets/19465177/24697650/36cae5c8-19ee-11e7-83f2-982fc4583cf6.png)
 The spk archive, doesn't installs, I leave the fork fields exactly shows the screen capture, then next and then "not avaliable"

[2017-04-05 10:32] ymartin59 commented on #2728
OK package is buggy. I have to fix some stuff and do really testing before delivering another package. Sorry.

[2017-04-05 10:49] soothingone commented on #2469
Mine also stopped working, and after a lot of troubleshooting, I ended up just running a "chown -r sickbeard-custom *" whn in the /volume1/@appstore/sickbeard-custom/var/ folder, this solved it

[2017-04-05 21:51] andoyin commented on #2726
ok  im waiting

[2017-04-05 21:56] andoyin opened #2729 "openHAB Sensors"
Hello where can i get sensors list for connect openHAB

1. we need to implement (installation ) a door phone (the number of collars is sliding)
2. 2-contact closure sensor (ventilation error)
3. a sensor for hacking or opening windows and doors

[2017-04-05 22:11] andoyin opened #2730 "OpenHAB ZigBee or ZWave what to choose?"
can you help
Can OpenHAB replicate all other systems ZWave, KNX, EnOcean, Arduino ․․․․?

[2017-04-06 02:07] xstrex opened #2731 "Git Server (beta) - requires CGI.pm, not installed"
### Setup
_Package Name:_ Git Server
_Package Version:_ 1.8.3-1

_NAS Model:_ DSM415+
_NAS Architecture:_ Intel Atom
_DSM version:_ 6.1-15047 Update 2

### Expected behavior
GITWeb working properly :)

### Actual behavior
GITWeb throwing 500 errors

### Steps to reproduce
_1._ install Git Server (beta)
_2._ add git-server to /etc/shadow
_3._ Start git-server
_4._ goto: http://[synology-ip]/gitweb/

[2017-04-06 10:37] KaraokeStu commented on #2730
Hi, this isn't the place to ask - you'd have to check with the developers of OpenHAB.
https://www.openhab.org/

[2017-04-06 10:37] #2730 closed

[2017-04-06 10:38] KaraokeStu commented on #2729
Hi,

You would have to check with the developers of OpenHAB, as we only create the package from their code here.

https://www.openhab.org/

[2017-04-06 10:38] #2729 closed

[2017-04-07 20:24] #2175 closed

[2017-04-08 07:53] ymartin59 commented on #2726
As far as I have tested, package `debian-chroot` works as expected. Please read https://github.com/SynoCommunity/spksrc/wiki/Debian-Chroot

- Connect through `ssh` as `admin` user
- Switch to root with `sudo -s`
- Invoke `/var/packages/debian-chroot/scripts/start-stop-status chroot`

[2017-04-10 02:23] AE9RB commented on #2444
The info in `/var/packages/nzbdrone/target/var/.config/NzbDrone` wants to move to `~/.config/NzbDrone` after you update Sonarr. To work around I manually made a `nzbdrone` user in the UI with the proper permissions and enabled user home service. The goal of the workaround is to make `/volume1/homes/nzbdrone/` exist.

This may also explain some issues with people losing configs. However, mine is a

[2017-04-10 05:24] jreese opened #2733 "[dsm6] building for 6.x for braswell and x64 broken"
I'm new to Synology (just got one last week), but not Linux, so forgive me if I'm missing something.  I tried to follow the readme/developer how to as close as possible.  I can build on 5.2, but my ds916+ is running 6.1, and the package I'd like to build needs the newer GCC in 6.x.

### Expected behavior
Toolchain bootstraps and builds SPK.

### Actual behavior
Toolchain download bombs on bad sha1

[2017-04-11 09:20] kalety commented on #2728
If x86 package exists, then run in braswell... Could you get me any direct link to this spk. Thank you in advance.

[2017-04-11 12:43] jms667 opened #2735 "[sabnzbd] par2 issue with libgomp.so.1"
Hello,
Probably since I have upgraded to sabnzbd1.2.3 (running on a xpenology box), corrupted files are not repaired with PAR2 anymore. Executing par2 comand will lead to the following error msg :

But libgomp.so.1 is located in /lib directory.
I have posted in sabnzb forum, but dev it's not a sabnzbd issue but more probably a packaging issue. Please see this post : https://forums.sabnzbd.org/view

[2017-04-14 10:09] ymartin59 commented on #2733
Hello. DSM 6.1 toolchains available in #2727 are perfectly valid and I properly built `cross/nano` with `make arch-braswell-6.1`, it is even downloadable from #2716 . So please checkout my branch and try again: https://github.com/ymartin59/spksrc/tree/dsm6-toolchains-6.1

Care about removing `work-braswell-6.0.2` after "unrecoverable" failure to try again.

And you're right, all toolchain 6.0.2 di

[2017-04-14 10:24] piwi82 opened #2738 "[Package Request] Cozy"
Name: Cozy :cloud: (V3 Alpha, 04/2017)
Description: Cozy is an app-based personal cloud you host at home. It turns a low-cost piece of hardware like a Raspberry Pi 2 or an online VPS into a powerful app platform. It comes with common applications: a contacts manager, a calendar, a webmail and a filebox. An Android app allows you to sync your contacts, calendars and files with your mobile - https:/

[2017-04-14 16:01] jreese commented on #2733
As I mentioned, I tried this directly from your branch in #2727, and I still get the permissions issues when I `cd cross/nano && make arch-braswell`.  I've done everything from `make clean` in cross/nano and `make dist-clean` in the root path to `git clean -xfd`, and it still gives permissions errors while extracting the toolchain.

[2017-04-14 20:26] nicky1038 commented on #2718
I guess I have a similar problem. Just installed Dr-Dean's Mercurial 4.0.1-4 to my DS216j (DSM 6.1-15047 Update 2), and I can't see its icon in the main menu.

[2017-04-14 23:43] jreese commented on #2733
Hmm, digging a bit more, it seems like this is an issue with mounting `spksrc/` from the host system.  I'm not sure why this works with the old 5.x toolchains but not with the 6.x toolchains.  I set up Debian in Virtualbox, and get similar errors when running a shared mount from the host system, but can build without issue when running a fresh checkout on the native disk.  Would love to know why t

[2017-04-15 02:39] jreese commented on #2733
Not sure why this happens on shared mounts, but the workaround for me was to rsync changes from the shared mount into a native directory where I actually performed the builds.  I could then successfully build packages and copy the resulting binaries back into the shared folder.  Not the best solution, but good enough.

[2017-04-15 02:39] #2733 closed

[2017-04-15 17:55] KaraokeStu commented on #2735
Hi, I've got some further tests to do later on 2.0.0 so will take a look when I get a chance

[2017-04-15 23:44] bassho opened #2739 "SABnzbd version update"
### Setup
_Package Name:_ SABnzbd
_Package Version:_ 1.2.3 [d34e143]

_NAS Model:_
_NAS Architecture:_ HP Micro Gen8
_DSM version:_ 5.2 update 5

### Expected behavior
SABnzbd has released version 2.0.0 which improves the downloadspeed.

### Actual behavior
The downloadspeed is currently reduced by the processor. This is a bug in SABnzbd and is resolved.

[2017-04-16 00:37] Pokersut opened #2740 "SABnzbd shows old version number - not upgraded?"
NAS Model: DS-413
DSM version: 6.1-15047 Update 2

I have just upgraded to v2.0.0-23 of SABnzbd, and in the Package Center in DSM it says "Installed version: 2.0.0-23", but when I start the web interface, it still shows version 1.2.3 in the title bar, and the log says "Starting SABnzbd.py-1.2.3"

I have tried completely uninstalling the package and re-installing it from scratch, but it still shows

[2017-04-16 02:04] byronmccollum commented on #2740
See commentary in #2734

[2017-04-16 02:04] byronmccollum commented on #2739
See commentary in #2734

[2017-04-16 06:30] PepsiBlue14 opened #2741 "Syncthing never connects with other client"
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_Syncthing
_Package Version:_v0.14.26

_NAS Model:_1815+
_NAS Architecture:_synology_avoton_1815+
_DSM version:_DSM 6.1-15047 Update 2

### Expected behavior
Tell us what should happen
Syncthing should connect to my other client and begin syncing files

### Actual behavior
Tell us what happens instead
This client discovers my

[2017-04-16 18:48] bassho commented on #2739
Thanks. Luckily more peope ask for it :)

[2017-04-16 19:20] piwi82 commented on #2741
Is the NAS firewall active ?

[2017-04-16 19:21] jms667 commented on #2735
Thanks KaraokeStu. Hope you will have time to check this because its really annoying.
Perhaps could you quickly launch par2 command in order to check if you will get the same error message ?

[2017-04-16 20:02] PepsiBlue14 commented on #2741
No; just DOS protection

[2017-04-16 20:40] KaraokeStu commented on #2735
I'm running xpenology on jun's loader for dsm 6 and the par commands all work perfectly.

I'll test on the dsm 5 virtual box as soon as I get the chance

[2017-04-17 11:24] jaylik commented on #1910
Hmm... still,
`:5000/webman/3rdparty/debian-chroot/debian-chroot.cgi/direct/router 405 (Not Allowed)`

[2017-04-17 11:55] #2740 closed

[2017-04-18 03:32] hmalphettes commented on #1872
@Dr-Bean thanks for caring after this package and retiring it. Much appreciated!

[2017-04-18 16:50] ymartin59 commented on #2733
@jreese  I had same troubles with toolchains when hosting `spksrc` on a filesystem where I used `noexec` for security reasons. So checkout your mount point options like `noexec`, `nosuid` or `nodev` before starting docker container.

[2017-04-18 17:21] ccfc1986 opened #2744 "No Such File or directory - when trying to start SAB"
### Setup
_Package Name:  SABNZB 2.0.0.24
_Package Version: 2.0.0-24

_NAS Model: 1812+
_DSM version: DSM 6.1-15047 Update 2

### Expected behavior
Clicking 'Run' for the SAB package would start the application and leave it in a running state - accessible through a web gui on the configured port etc.

### Actual behavior
When trying to start the SAB application from the package area of DSM i get t

[2017-04-18 22:17] KaraokeStu commented on #2744
Thanks for your info, I'll take a further look into this tomorrow for you and, once fixed, will republish with build 2.0.0-25

[2017-04-18 23:31] ccfc1986 commented on #2744
Excellent. Thank you for the time and review. If you need any additional
details please let me know.

I attempted a reinstall from scratch and had the same issue. Just an FYI.

Thanks once again for all the support and excellent work on the project.

On Apr 18, 2017 5:17 PM, "Stuart Foulds-Duncan" <notifications@github.com>
wrote:

[2017-04-19 08:01] silentmiles commented on #1995
I have the latest installed - .1296 - and this is still a problem. What are the chances of this getting fixed? I've seen people suggest that the problem may be in Mono, but I have both Sonarr and Radarr installed, both of which use Mono, and they have no problems.

[2017-04-19 08:12] ghost opened #2747 "Error while installing the packages for 'Firefox Sync Server 1.5 BETA' on Synology DS213"
### Setup
_Package Name:_ffsync
_Package Version:_1.5.2_3

_NAS Model:_DS213+
_NAS Architecture:_MARVELL Kirkwood 88F6282
_DSM version:_DSM 6.1-15047 Update 2

### Expected behavior
The ffsync package should install properly

### Actual behavior
An error occured during the installation with a dialog displaying "Incorrect MySQL root password"

### Steps to reproduce
_1._Go in the package center (in

[2017-04-19 08:22] ghost opened #2748 "Missing Input in the wizard while installing the packages for 'Firefox Sync Server 1.5 BETA'"
### Setup
_Package Name:_ffsync
_Package Version:_1.5.2_3

_NAS Model:_DS213+
_NAS Architecture:_MARVELL Kirkwood 88F6282
_DSM version:_DSM 6.1-15047 Update 2

### Expected behavior
I would like to have an extra input in the wizard to specify another database user.

### Actual behavior
The current database user is 'root'

### Steps to reproduce
_1._Go in the package center (included synocommunity

[2017-04-19 13:30] KaraokeStu commented on #2744
Currently testing

[x] DSM 5.2-5644 (Clean Install)
[] DSM 6.1-15407 (Clean Install)
[] DSM 6.1-15407 Update 2 (Clean Install)

[2017-04-19 13:43] KaraokeStu commented on #2744
I've looked into this further and it is, unfortunately, all down to https://github.com/SynoCommunity/spksrc/issues/2216

Take a look in that thread for workarounds (I use one of them, and have an "apps" user that I run all my apps as - involves editing start-stop-status scripts every time I upgrade and chown'ing to apps:users) as a short-ish term fix.

We are working on a full solution and we do h

[2017-04-19 13:43] #2744 closed

[2017-04-19 14:21] tristan-k commented on #1711
Does someone have a copy of `Linux_uBuntu_V0.09.27.7z`. Sadly the [Waybackmachine](https://web.archive.org/web/20150620234647/http://scott.keszler.name:80/venus_t5/venus_t5_cd/JMicron%20HW%20RAID%20Manager/Linux/) has no archive of it.

[2017-04-20 11:38] kaso17 commented on #1995
@silentmiles can you please provide a log file showing a crash with the new version?

[2017-04-20 14:17] silentmiles commented on #1995
I assume this is the correct log? /usr/local/jackett/var/.config/Jackett/log.txt

When the problem occurs, Jackett just becomes unresponsive. I get a blank page at /Admin/Dashboard and both Sonarr and Radarr report all of the Jackett indexers as failed. The Jackett log does not show anything.

I tried enabling enhanced logging via the web app... but that setting does not appear to be sticky. When

[2017-04-20 14:46] kaso17 commented on #1995
Please start jackett with the `-t -l` arguments to make it persistent.
If there's nothing in the log it's another problem.
I remember someone else having issues with jackett on his syno device. Using the docket version fixed it for him (not sure what's the difference in the environment)

[2017-04-20 15:55] silentmiles commented on #1995
What file must I edit to do this? I need this change to be affective whenever the package is restarted.

[2017-04-20 15:59] kaso17 commented on #1995
I don't know the init system/script used by the syno distribution.
@Dr-Bean can you help?

[2017-04-20 17:13] ymartin59 commented on #2747
In fact this package should be reworked to depend on Synology official MySQL package declared as a "resource".

[2017-04-20 19:25] ymartin59 commented on #2748
If implemented as DSM 6.x resource according to #2747 , database connection will use a hard-coded package specific user account in MariaDB. I do not expect database user account can be provided from a wizard.

[2017-04-24 11:43] Veldkornet commented on #2416
I've just setup a new Synology and installed SABnzbd. At first, I only needed to add the sabnzbd user to the **/etc/shadow** file and then everything was working.

But now after a reboot, it no longer works. When I say, **/var/packages/sabnzbd/scripts/start-stop-status start**, it tells me that the user sabnzbd does not exist.

So as per advice above, I made the sabdnzbd user, I've added it to the

[2017-04-24 12:20] regblade85 commented on #2416
Have you seen this?

https://www.htpcguides.com/configure-couchpotato-usenet-torrents/

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

From: Veldkornet<mailto:notifications@github.com>
Sent: Monday, 24 April 2017 9:43 PM
To: SynoCommunity/spksrc<mailto:spksrc@noreply.github.com>
Cc: regblade85<mailto:reg.kumar@hotmail.com>; Mention<mailto:mention@noreply.github.com>

[2017-04-24 16:42] dvd741 commented on #2582
Any chance Synocommunity could update to a newer Mono version? (Perhaps a fix is included in a newer version?)

[2017-04-25 01:59] ruslyrossi47 commented on #2367
To solve this problem, just change the /etc/resolv.conf to public DNS or google DNS, so it will like this:

[code]

[2017-04-25 20:25] michailf commented on #2278
You can try my fork https://github.com/michailf/spksrc/tree/dsm6

It builds tt-rss 17.1

You may have to use DSM 5.2 toolchain.

[2017-04-25 20:31] live4truths commented on #2278
@michailf Thank you for this, I am probably not smart enough to figure out how to convert it to the 5.2 version, or even install this. TTRSS was one of the few programs I was waiting on to move to DSM6, So if I can figure it out (or you have any insight to help) I will give it a shot.

Thank you for your hard work

[2017-04-25 20:50] michailf commented on #2278
@live4truths You have to follow the instuctions provided in the README.

First get the dev environment.  You can use Docker for this.

### Clone dsm6 branch from my fork into your home directory
git clone -b dsm6 https://github.com/michailf/spksrc.git ~/spksrc

### Install Docker, if you don't have it yet

### Download docker image (you may have to execute this command more than once, if download

[2017-04-26 01:37] byronmccollum commented on #2739
Fix released via #2742

[2017-04-26 15:52] Eothred commented on #218
First of all, the title of this request could potentially be changed since Gitorious does not exist anymore. Secondly, I noticed after I upgraded from my old DS211 to DS216+ that Gitlab is made available by Synology through Docker on some models: https://www.synology.com/en-us/dsm/app_packages/Docker-GitLab.

Not sure if that makes this request redundant. If a package was created by SynoCommunity

[2017-04-27 03:54] ccfc1986 commented on #2744
After further searching i found this link to a ticket here:
https://github.com/SynoCommunity/spksrc/issues/282
I can't see how this is a permissions issue if i am missing folders required for the application to work (missing /env folder for python in the SAB directory). Are people actively using SAB without issue on DSM6?

I am on 6.1-15047 Update 2.

Thanks

[2017-04-27 14:41] NotNearUganda opened #2751 "RuTorrent Downloads Stalling Out"
I've had the RuTorrent/RTorrent package from SynoCommunity installed on my DS413 for several months now, with no issues other than some hiccups during the initial install.

Recently however, all my downloads are stalling out. When I load them, they peak and will max out my available bandwidth (100mbps cable) for several seconds to several minutes. Then connections to peers will dry up and download

[2017-04-27 21:10] ymartin59 commented on #2751
Sorry but SynoCommunity provides packages for applications developed and maintained by their respective team. As packaging for DSM does not seem to be source of described issues, I propose you open an issue there: https://github.com/Novik/ruTorrent/issues and so close this one.

[2017-04-27 21:18] ymartin59 commented on #2751
Advice: try to check CPU and memory consumption... if OK, it may be possible your internet provider now applies quality-of-service policies to avoid unfare bandwidth consumption.

I already faced some company internet proxy slowing down large file "standard" HTTP download after few minutes, but a simple stop/resume in Firefox allowed me to retrieve initial throughput for another slot - as a new TC

[2017-04-28 16:13] lillereven opened #2752 "[Package Request] expect"
Name: expect
Description: interaction automation tool
Website: http://expect.sourceforge.net/
Software documentation:
Build/Installation documentation:
Source Code:
License: 17 USC 105 (public domain)

[2017-04-28 18:42] ymartin59 commented on #2752
From my point of view, even if SynoCommunity provides a TCL package, I am so excited to port this old "expect" implementation. Reading https://en.wikipedia.org/wiki/Expect I would really prefer to provide "Pexpect" which is a pure-Python alternative. What is your opinion about it ?

[2017-05-01 19:09] jackhammerjoe commented on #2357
any updates in this case or alternatives for easy-to-use automatic subtitle downloader?

[2017-05-03 13:21] dude32 opened #2754 "Shairport Sync to be updated"
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_ Shairport Sync installed via Synology package managment from SynoCommunity
_Package Version:_2.3.11-2

_NAS Model:_DS 211
_NAS Architecture:_MARVELL Kirkwood 88F6282
_DSM version:_6.1.1-15101 Update 1

### Expected behavior
Using Audio Station (6.1.0-3254) on DSM ( 6.1.1-15101 Update 1) with MARVELL Kirkwood 88F6282 When I u

[2017-05-04 06:57] deadlyknapsack opened #2755 "Deluge update to 1.3.14"
@Diaoul

Is it possible to have Deluge for Synology updated to the latest version (1.3.14)? There has been a couple of important fixes, one of which is quite crucial:

http://dev.deluge-torrent.org/ticket/2149#comment:31

Deluge was ignoring Proxy settings, which caused users not to be anonymous, although they thought they were. This issue has been pending for quite some and has - most likely - fi

[2017-05-04 09:17] acatinon opened #2756 "[Package Request] ffmpeg on armada38x"
On the page https://synocommunity.com/package/ffmpeg, I saw ffmepg is not avaliable on armada38x architecture.

Is there a particular reason for that, or maybe there is an oversight ?

[2017-05-04 13:19] Remvis commented on #2136
Is there some progress in the 'new' owncloud package for DSM6.0?

Manual installation doesn't work for me!

[2017-05-04 16:34] labaland opened #2757 "deluge autostart after reebot?"
is it possible to add deluge to autostart after reboot?

[2017-05-04 18:17] labaland commented on #2757
I just tried to reinstall deluge. now deluge wont save anyting i do to it, so i cant connect to it with remote connection :/ what to do ? :(

[2017-05-04 18:28] labaland commented on #2757
now i do fabric reset on my ds916+ :(

[2017-05-04 18:47] BenjV commented on #2756
Waarschijnlijk omdat bij de armada modellen standaard ffmpeg meegeleverd wordt door Synology.

[2017-05-04 19:04] labaland commented on #2757
After fabric reset, i cant still make changes in deluge, when i press ok under Preferences nothing happens, windows wont close :(

[2017-05-04 19:28] acatinon commented on #2756
"Probably because of the armada models standard ffmpeg is included by Synology."

You are right, but unfortunately the ffmpeg included by Synology is not compiled with "--enable-libx264"

[2017-05-07 19:11] Hubfront commented on #2416
I wonder if this package is still installing and running on DSM 5? I plan to downgrade to DSM 5.2.

[2017-05-07 19:12] Hubfront commented on #2526
I wonder if this package is still installing and running on DSM 5? I plan to downgrade to DSM 5.2.

[2017-05-07 21:58] KaraokeStu commented on #2416
Yes, it still works perfectly on DSM 5.x

That said, I don't think it'll be long now before we have the user scripts sorted to get DSM 6 compatible (at least with the testing/beta package)

[2017-05-07 23:38] Hubfront commented on #2416
Hi, that sounds great.  If im completely wrong about this, please correct me: You developers are really doing a great job with spksrc but it seems support of synology since DSM 6 for you is not good. They must be stupid not to honor what you do for attractiveness of their nas.

[2017-05-08 07:34] KaraokeStu commented on #2416
Thanks for the vote of confidence. We are still working on the DSM 6.x support, and we finally have some tool chains released  to work with. Time is our only enemy now!

[2017-05-09 18:00] Hubfront commented on #2526
This, how i got it resolved without console, after reading the helpful comment above from user Ric1234Fr .
After reinstall DSM 6.1.1 for a fresh start, before installing nzbget i did

- create a user nzbget manually with the Usermanager of the DSM System Tools.
- set the passwort to be different as the default "nzbget".
- add user nzbget to the default system group for downloads: "sc-download"
- a

[2017-05-09 19:12] vmanchot opened #2758 "After uninstall debian-chroot, DSM unable to start"
_For new Package Requests, see the guidelines_

### Setup
_Package Name: debian chroot
_Package Version: 8.4-7

_NAS Model: DS416
_NAS Architecture: armv7l
_DSM version: DSM 6.1 15101-1

### Expected behavior
I've installed debian chroot from webui (package center), tried to install urbackup in chroot but compilation take too long and I've canceled compilation. I uninstall debian chroot because I

[2017-05-10 07:28] artbazz commented on #2432
Same issue here also with DS213j (Armada 370)
In the log I found a **segmentation fault**...

[2017-05-10 09:48] gierran commented on #2509
DS3617xs here - also very hopeful to get the missing packages added for broadwell. :)

[2017-05-10 11:16] Hubfront commented on #2416
It's not so easy to downgrade from 6.1.1, so i just did a reset of 6.1.1 for a fresh start, keeping my data. So far i only installed nzbget and did manually create the necessary user and permissions befor installing the package. It works but i understand, that user creation is different now with DSM 6. To do it automatically must be very tricky.

[2017-05-10 14:54] attilabal commented on #2348
Same issue here. I did change the root pwd but the installation is faild over and over again...

[2017-05-11 10:12] naikdipe opened #2759 "Unable to See Radarr within Synology Community"
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_ Radarr
_Package Version:_ ?

_NAS Model:_ Synology DS413
_NAS Architecture:_ FREESCALE QorIQ P1022
_DSM version:_DSM 5.2-5644

### Expected behavior
I have enabled the 'beta' packages in options. I should be able to see the Radarr application.

### Actual behavior
The Radarr application is not visible.

### Steps to reproduc

[2017-05-11 12:05] jms667 commented on #2735
Hi, is there something new about this issue ?

A couple of days a go, I figured out that I had a second xpenology test vm running on my esx (running same DSM version as my 'production' one). I started it again and noticed that sabnzbd was running version 1.0.3-16. I did a copy of the par2 binary from testing DSM to production DSM. Now, execution of the par2 command is again working fine (no libgom

[2017-05-12 06:03] robmarkcole commented on #2581
Also having this issue, DSM 6.1.1-15101 Update 2 on DS216+II

[2017-05-12 19:49] gierran commented on #2718
DS3617xs here - just showing my interest for the missing packages. Docker works as a stopgap, but struggling with the permissions changes in DSM 6. Thanks for the great work bringing these apps to synology. :)

[2017-05-12 19:50] CamSnap commented on #2260
Bummer, I was so looking forward to running this for secure internal messaging.
Not working on DSM 6.1.1-15101 Update 2

[2017-05-12 19:54] CamSnap commented on #2260
posted a small bounty to see if we can get this running again.

[2017-05-13 00:14] schumi2004 opened #2760 "Advice needed"
<resolved>

[2017-05-14 15:28] ymartin59 commented on #2756
If interested, here is package built for `armada38x-5.2` packed in zip because of GitHub restrictions. As far as I know it should work on DSM 6.x too.
[ffmpeg_armada38x-5.2_3.1.2-4.spk.zip](https://github.com/SynoCommunity/spksrc/files/999486/ffmpeg_armada38x-5.2_3.1.2-4.spk.zip)

[2017-05-14 20:03] ymartin59 commented on #2758
I would say it is a "known issue", I experienced same trouble with `owncloud` package uninstall (but only in a VM when testing). Most package delivered are for DSM 5.2 and work is in progress to support DSM 6.x.

In case you are stuck, here are commands to retrieve DSM service:
[code]

[2017-05-14 21:12] foxmajik opened #2761 "Headphones doesn't start (not the timezone issue)"
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_ Headphones
_Package Version:_ 2015102-7

_NAS Model:_ DS916+
_NAS Architecture:_ Intel x86
_DSM version:_ DSM 6.1.1-15101 Update 2

### Expected behavior
Tell us what should happen

After the package is installed I should be able to "run" the "service"

### Actual behavior
Tell us what happens instead

An error is presented:

[2017-05-15 12:31] Argon- opened #2762 "[znc] best practice for enabling access to network shares?"
### Setup
_Package Name:_ znc
_Package Version:_ 1.4-10 (latest)

_NAS Model:_ DS414
_NAS Architecture:_ MARVELL Armada XP MV78230
_DSM version:_ 6.1.1-15101 (package was installed on DSM 5)

This is not a bug report, more like a question regarding best practices.
I have znc installed and running successfully and now I would like it to create log files. The default log directories where user `znc`

[2017-05-18 11:12] Safihre commented on #2735
Another user reporting the same error:
https://forums.sabnzbd.org/viewtopic.php?f=2&t=22657

[2017-05-18 11:29] #2760 closed

[2017-05-18 11:31] schumi2004 commented on #2759
QorIQ is not supported because mono doesn't work correctly on it.

Same for Sonarr, you wont see that package either.

[2017-05-18 16:02] DjMomo opened #2764 "Tvheadend desktop link point to wrong URL"
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_ Tvheadend
_Package Version:_ 3.4.27-6

_NAS Model:_ DS1511+
_NAS Architecture:_ Intel
_DSM version:_ DSM 6.1.1-15101 Update 1

### Expected behavior
Tvheadend desktop link have to point to http://IP:9981

### Actual behavior
Tvheadend desktop link point to wrong URL. This link open URL http://IP/3rdparty/tvheadend/tvheadend.

[2017-05-18 20:43] nardew opened #2765 "TestDisk not working with DSM 6.1.1"
_For new Package Requests, see the guidelines_

### Setup
_Package Name:_ TestDisk
_Package Version:_ 7.0-2

_NAS Model:_ DS215j
_NAS Architecture:_ armv7l
_DSM version:_ DSM 6.1.1-15101

### Expected behavior
After running  /usr/local/testdisk/bin/photorec or /usr/local/testdisk/bin/testdisk a console application should start.

### Actual behavior
After running either of the binaries, they end wi

[2017-05-19 03:55] plasmacutter opened #2766 "rutorrent beta, webui redirects to synology manager"
_For new Package Requests, see the guidelines_

### Setup
ruTorrent
3.7-8

DS1815+
Current DSM version:
DSM 6.1.1-15101 Update 2

### Expected behavior
Upon startup, clicking http://ip.of.nas.device/rutorrent/ should produce rutorrent webui

### Actual behavior
Instead, httpd redirects back to synology management ui
(login via ssh confirms rtorrent is still running and listening, scripts recommend

[2017-05-19 07:28] piejanssens commented on #2044
@Dr-Bean Mono 5.0.0 release notes:

[code]

[2017-05-19 13:28] jamesstout opened #2767 "adminer install error and URL redirect"
### Setup
_Package Name:_ adminer
_Package Version:_ 4.2.4-1

_NAS Model:_ Synology DS1817+
_NAS Architecture:_ x86_64
_DSM version:_ DSM 6.1.1-15101 Update 2

### Expected behavior
Adminer should start on `http://my-ip/adminer`

### Actual behavior
I'm redirected to the Diskstation desktop on port 5000

### Steps to reproduce
_1._ Use package manager to install adminer 4.2.4-1. then click run
_2.

[2017-05-19 13:40] jamesstout commented on #2766
On the very latest DSM right? Is apache running? Try these with sudo or as root:
[code]
Is nginx running and listening on port 80?
[code]
I have a similar issue with adminer: #2767

[2017-05-19 14:17] jamesstout commented on #2767
Just noticed I don't have WebStation installed. That might be an issue.

[2017-05-19 22:12] mastacheata commented on #2764
This is definitely fixed in the latest update to the tvheadend package (4.2.2) by m4tt075
His packages are just waiting to be deployed on the synocommunity package server.

Apparently you can build the package in a virtual machine (at least m4tt075 succeeded in that, I couldn't test the VM approach yet) and install the spk just fine.